html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

small {
  font-size: 80%
}

img {
  border-style: none
}

margin-top {
  margin-top: 16px !important
}

/* End extract */
html, body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5
}

html {
  overflow-x: hidden
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 20px
}

h5 {
  font-size: 18px
}

h6 {
  font-size: 16px
}

.w3-serif {
  font-family: serif
}

.w3-sans-serif {
  font-family: sans-serif
}

.w3-cursive {
  font-family: cursive
}

.w3-monospace {
  font-family: monospace
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0
}

.w3-wide {
  letter-spacing: 4px
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0
}

img {
  vertical-align: middle
}

a {
  color: inherit
}

.content, .auto {
  margin-left: auto;
  margin-right: auto
}

.content {
  max-width: 980px
}

.auto {
  max-width: 1140px
}

.row-padding, .row-padding>.row-padding>.third, .row-padding>.twothird, .row-padding>.threequarter, .row-padding>.quarter, .row-padding>.col {
  padding: 0 8px
}

.col, .-half, .third, .twothird, .threequarter, .quarter {
  float: left;
  width: 100%
}

.col.m5 {
  width: 41.66666%
}

.col.m6, .half {
  width: 49.99999%
}

.col.m7 {
  width: 58.33333%
}

.col.m8, .twothird {
  width: 66.66666%
}

@media (min-width:601px) {
  .col.m1 {
    width: 8.33333%
  }

  .col.m2 {
    width: 16.66666%
  }

  .col.m3, .quarter {
    width: 24.99999%
  }

  .col.m4, .third {
    width: 33.33333%
  }

  .white, .hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
  }

  .card, .card-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  }

  .card-4, .hover-shadow:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
  }

  .text-grey, .hover-text-grey:hover, .text-gray, .hover-text-gray:hover {
    color: #757575 !important
  }

  .display-container {
    position: relative
  }

  .display-container:hover .display-hover {
    display: block
  }

  .display-container:hover span.display-hover {
    display: inline-block
  }

  .display-hover {
    display: none
  }

  .display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
  }

  .container {
    padding: 0.01em 16px
  }

  .container:after, .container:before, .row-padding:after, .row-padding:before {
    content: "";
    display: table;
    clear: both
  }

  .text-black, .hover-text-black:hover {
    color: #000 !important
  }

  .margin {
    margin: 16px !important
  }

  .margin-top {
    margin-top: 16px !important
  }

  .margin-bottom {
    margin-bottom: 16px !important
  }

  .margin-left {
    margin-left: 16px !important
  }

  .margin-right {
    margin-right: 16px !important
  }

  .tiny {
    font-size: 10px !important
  }

  .small {
    font-size: 12px !important
  }

  .medium {
    font-size: 15px !important
  }

  .large {
    font-size: 18px !important
  }

  .xlarge {
    font-size: 24px !important
  }

  .xxlarge {
    font-size: 36px !important
  }

  .xxxlarge {
    font-size: 48px !important
  }

  .jumbo {
    font-size: 64px !important
  }

  .text-teal {
    color: #3778a3 !important
  }

  .light-grey, .hover-light-grey:hover, .light-gray, .hover-light-gray:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important
  }

  .round-small {
    border-radius: 2px
  }

  .round, .round-medium {
    border-radius: 4px
  }

  .round-xlarge {
    border-radius: 16px
  }

  .center {
    text-align: center !important display:inline-block;
    width: auto
  }

  .teal {
    color: #fff !important;
    background-color: #3778a3 !important
  }

  .white, .hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
  }

  .text-white, .hover-text-white:hover {
    color: #fff !important
  }

  .padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
  }

  .opacity, .w3-hover-opacity:hover {
    opacity: 0.60
  }

  .opacity-off, .hover-opacity-off:hover {
    opacity: 1
  }
