* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
#logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100px;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("img/pic2.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

h1 {
  color: rgba(226, 226, 226);
  text-transform: none;

  font-size: 40px;
}

nav {
  padding: 2% 6%;
  /* display: flex;

  justify-content: space-between;
  align-items: flex-end; */
}
ul {
  list-style-type: none;
  text-align: right;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-links ul li {
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  background-color: #ebe4f3;
  height: 2px;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  margin-right: 20px;
}
.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #61427d;
  transition: 1s;
}

/*nav.fa{
  display: none;
}*/

@media (min-width: 1000px) {
  .nav-links ul li a {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  .nav-links ul li a {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
  }

  .nav-links ul {
    padding: 30px;
  }
}

.about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.about h1 {
  color: #1a1a1a;
  font-size: 60px;
}

.course {
  width: 100%;
  margin: auto;
  text-align: center;

  padding-top: 100px;
}

.course h1 {
  font-style: normal;

  font-size: 50px;
  color: #61427d;
}

.course .row {
  margin-top: 3%;
}
.course-col {
  background: #61427d;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  color: white;
}
.course .row h2 {
  text-align: left;
  font-weight: 400;
  margin: 10px 0 10px 0;
  font-size: 25px;
}
.course .row p {
  font-size: 15px;
  text-align: left;
  color: white;
  font-weight: 100;
  line-height: 20px;
}

/*.row1{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.row1 h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.row1 p{
    font-style: normal;
    font-family: serif;
    font-size: 15px;
  }
  .row1{
    flex-basis: 80%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 15px 10px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  .course-col:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  @media(max-width: 700px){
    .row{
      flex-direction: column;
    }
  }
  @media(max-width: 700px){
    .row1{
      flex-direction: column;
    }
  }
  .course h3 {
    color: #000080;
  }*/

.about1 {
  min-height: 60vh;
  width: 100%;
}
.about1 {
  /*width: 80%;*/
  background-color: #61427d;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: white;
  padding-top: 50px;
  font-weight: lighter;
}
.about1 p {
  font-size: 25px;
  font-style: normal;

  color: white;
}
.about1 h2 {
  text-align: center;
}
.text {
  padding-top: 110px;
  text-align: left;
}
#h3 {
  text-align: center;
}
#C5 {
  color: #61427d;
  padding-top: 10px;
  font-size: 40px;
}
.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.center {
  width: 350px;
  height: 365px;
}

.about h2::before {
  content: "";
  position: absolute;
  background: #61427d;
  left: 658px;
  width: 120px;
  height: 4px;
  top: 920px;
}
.register {
  min-height: 30vh;
  width: 100%;

  background-position: center;
  background-size: cover;
  position: relative;
}

.register {
  margin: auto;
  position: relative;
  width: 500px;
  height: 500px;

  background: #c3b2e1;
  border-radius: 8px;
  text-align: center;
  padding-top: 50px;
  font-size: 23px;
}

.register h3 {
  font-size: 25px;
  font-style: normal;
  text-align: center;
}

.form {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 70px;
  top: 110px;

  background: #61427d;
  box-shadow: 3px 4px 25px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

input[type="text"] {
  display: block;
  margin: 30px;
  height: 40px;
  width: 300px;
  background: #f8f8f8;
  border: 2px solid #61427d;
  box-sizing: border-box;
  padding: 5px;
}
input[type="submit"] {
  background: #30b9e6;
  border: none;
  color: white;
  height: 40px;
  width: 300px;
  margin: 30px;
  transition: 0.5s;
}
::placeholder {
  color: #a9a7a4;
}
input[type="submit"]:hover {
  height: 45px;
  width: 305px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.25);
  font-size: 15px;
}
.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 38%;
  /*  border-radius: 50%;
  margin: auto;
  width: 350px;
  height: 350px;*/
  border-radius: 10px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
/* .advantages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  text-decoration: none;
  text-align-last: center;

  font-size: 30px;
} */

/* .advantages p {
  

  font-size: 25px;
} */

.contact {
  margin: 100px auto;
  width: 90%;
  background-image: /*linear-gradient(rgba(0,0,0,0.7)),*/ url(img/pic10.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.contact h1 {
  color: #ff0000;
  margin-bottom: 40px;
  padding: 0;
  font-size: 37px;
}

.contact p {
  font-size: 40px;

  font-weight: bold;
  color: #8a2be2;
}

/* .finish {
  margin: 30px auto;
  width: 70%;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  padding: 100px 0;
}
.finish p {
  font-size: 20px;
  font-family: serif;
  font-style: normal;
}
.mahesh {
  color: red;
} */
.advantages {
  min-height: 100vh;
  margin: 1rem 0 1rem 0;
}

.advantages h1 {
  color: #61427d;
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.grid {
  display: flex;
  justify-content: center;

  width: 100%;
  grid-gap: 1%;
  /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
  align-items: flex-start;
  flex-wrap: wrap;
}

.grid-item {
  background-color: #ebe4f3;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  flex-basis: 30%;
  margin-left: 2%;
}
.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}
/* @media (max-width: 700px) {
  .contact h1 {
    font-size: 24px;
  }
} */
.card-img {
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}
.card-content {
  padding: 3rem;
}

.card-header {
  margin-bottom: 1.5rem;
}

.card-text {
  margin-bottom: 0.5rem;
}

.container_footer {
  width: 100%;

  background-color: #61427d;
}
.footer {
  background-color: #61427d;
  position: absolute;
  height: 100px;
  padding: 20px;
}
.social_links {
  display: flex;
  justify-content: center;
}

.social_links a {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #61427d;
  margin: 30px 0px 0px 10px;
  height: 60px;
  width: 30px;
  color: white;
}
.finish {
  color: #c3b2e1;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
}
