*{
    margin:0;
    padding:0;
    box-sizing: border-box;
	scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:aqua;
}

.team{
    background: #fff;
    padding:60px 0 30px 0;
    background-color:aqua;
}

#team-grp {
    display: flexbox;
    justify-content: center;
}

.team .team-1{
    text-align:center;
    margin-bottom:80px;
    position:relative;
}

.team .team-1 .pic{
    border-radius:4px;
    overflow:hidden;
}

.team .team-1 img{
    transition:all ease-in-out 0.4s;
}

.team .team-1:hover img{
    transform:scale(1.1);
}

.team .team-1 .team-info{
    position: absolute;
    bottom:-48px;
    left:20px;
    right:20px;
    background: linear-gradient(360deg,#b3f19b 0%,rgba(187,240,152,0.9)35%,
    rgba(0,59,37,0.8)100%);
    padding: 15px 0;
    border-radius: 4px;
}

.team .team-1 h4{
    font-weight: bold;
    margin-bottom:10px;
    font-size:16px;
    color:#fff;
    position: relative;
    padding-bottom: 10px;
}

.team .team-1 h4:after{
    content:"";
    position: absolute;
    display:block;
    width:50px;
    height:1px;
    background: #1d3501;
    bottom:0;
    left: calc(50% - 25px);
}

.team .team-1 span{
    font-style:italic;
    display:block;
    font-size: 13px;
    color:#fff;
}

.team .team-1 .social{
    margin-top: 15px;
}

.team .team-1 .social a{
    transition: color 0.3s;
    color:#01290d;
}

.team .team-1 .social a:hover{
    color:#fff;
}

.team .team-1 .social i{
    font-size:16px;
    margin: 0 2px;
}

@media (max-width: 992px){
    .team .team-1{
        margin-bottom: 100px;
    }
}
