body{
    margin: 1%;
    overflow-x: hidden;
    /* background-image: url(images/img3.jpg); */
}

.navbar{
    text-align: center;
    opacity: 1;
    background-color: #FFE61B;
}
.navbar a{
    font-style: italic;
    font-weight: 500;
}

.homePage{
    height: 800px;
    background-image: url(images/img3.jpg);
}
.homePage h2 {
    color: #fff;
    text-align: center;
    padding-top: 240px;
    margin-top: 0px;
    font-size: 65px;
}
.homePage h4{
    color: #fff;
    text-align: center;
    padding-top: 10px;
  
}

#gallery{
    text-align: center;
    background-color: #395B64 ;
}

.gym-image{
    text-align: center;
    margin: 0px center 0px center;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#pricing{
    padding: 2%;
    text-align: center;
    background-color: #FFC600;
}

.heading-pricing{
    margin-top: 6%;
}
.subtitle-pricing{
    margin-bottom: 4%;
    padding: 1%;
}
.pricing-card{
    padding: 2% 3%;
}
.card-body p{
    padding-top: 2%;
}

.contact{
    text-align: center;
    background-color: white;
}
.contact img{
    padding-top: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50px;
    margin-left: 40px;
}





























