*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 85%;
}
body{
    height: 100vh;
    width: 100%;
    font-family: "Baloo 2", cursive;
    font-size: 10.8pt;
    color: #000000;
    /* You can have your customised background below */
    background: url("bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.img-thumbnail {
    border: 3.5px solid;
    border-radius: 50%;
    border-color: #000;
    background-color: #fff;
}

h1 {
    position: relative;
    margin-top: 10px;
    font-size: 3em;
    font-weight: bold;
    opacity:100%;
}

h3 {
    font-size: 1.7em;
    font-weight:500;
    color: #19181B;
    opacity: 92%;
}

.list-group {
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.6);
}

.list-group-item {
    font-size: 1.45em;
}

h3.list-group-item {
    opacity: 70%;
    background-color: #000000;
    color: whitesmoke;
    font-weight: 900;
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0;
    font-style: normal;
    padding: 10px 15px 7px;
}

a.list-group-item{
    color: #000000;
    opacity: 80%;
    transition: .5s ease;
}
a.list-group-item:hover{
    color:rgba(0, 0, 0, 0.3);
}
.list-group-item .icon-wrapper {

    color: #000000;
    display: inline-block;
    width: 35px;
    margin-right: 5px;
    display: inline-flex;
    vertical-align: middle;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    align-items: center;   
}

.list-group-item .icon-wrapper i {
    font-size: 1.5em;
    color: #000000;
}

.footer {
    color: whitesmoke;
    margin: 0;
    margin-top: 2.5em;
    font-size: 1.6em;
    padding: 0em;
    text-align: center;
    font-weight: bold;
    text-decoration: overline;
    opacity:1;

}
footer a{
    text-decoration: none;
    color: #000;
    transition: 0.5s ease;
    opacity:1;
}
footer,
footer a:hover{
    color: #fff;
    opacity: 1;
}