@import url(//db.onlinewebfonts.com/c/1fed4454352f201d52b65ca5480afb2d?family=Playlist);
@font-face {font-family: "Playlist"; src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot"); src: url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.woff") format("woff"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1fed4454352f201d52b65ca5480afb2d.svg#Playlist") format("svg"); }
@import url(//db.onlinewebfonts.com/c/405f05e6bf58471a25729ed060cda2d8?family=Glacial+Indifference);
@font-face {font-family: "Glacial Indifference"; src: url("//db.onlinewebfonts.com/t/405f05e6bf58471a25729ed060cda2d8.eot"); src: url("//db.onlinewebfonts.com/t/405f05e6bf58471a25729ed060cda2d8.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/405f05e6bf58471a25729ed060cda2d8.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/405f05e6bf58471a25729ed060cda2d8.woff") format("woff"), url("//db.onlinewebfonts.com/t/405f05e6bf58471a25729ed060cda2d8.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/405f05e6bf58471a25729ed060cda2d8.svg#Glacial Indifference") format("svg"); }
*{
    margin:0;
    padding: 0;
    font-family: "glacial indifference";

}
body{
    display: flex;
    background-image: url(./bg6.jpg);
    background-repeat: no-repeat;
    background-size:1800px 1500px;
    position:relative;
}
.name{
    font-family: "Playlist";
    color:rgb(0, 0, 0);
    font-size:50px;
    padding:10px;
    text-shadow: 5px 2px rgb(47, 163, 52);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar {
    position: absolute;
    top: 0px;
    right: 0px;
}
.nav-bar a{
    padding: 25px;
    display: inline-block;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-family: "Playlist";
    color:rgb(0, 0, 0);
    font-size:40px;
    margin-left: 5px;
    text-shadow: 5px 2px rgb(47, 163, 52);

}

.nav-bar a{
    background:
       linear-gradient(
         to bottom, rgb(89, 192, 89) 0%,
         green 100%
       );
    background-position: 0 80%;
    background-repeat: repeat-x;
    background-size: 14px 4px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    transition: background-size .2s;
}
  
a:hover {
    background-size: 14px 80px;
}

.short-content h3{
    color:rgb(0, 0, 0);
    font-size:50px;
    transform: translate(474%,160%);
    font-family:"Playlist";
    font-weight: 900;

}

.container{
    margin-right: 250px;
    margin-top: 240px;
    position: relative;
    width: 1100px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    padding: 40px;
}

.container .mycard{
    position:relative;
    max-width: 350px;
    height: 150px;
    background: wheat;
    margin: 30px 10px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 50px rgba(0,0,0,0.5);
    transition: 0.4s ease-in-out;

}

.container .mycard:hover{
    height:300px;
}

.container .mycard .cimg{
    position:relative;
    width: 310px;
    height: 200px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 3px 50px rgba(0,0,0,0.5);
}

.container .mycard .cimg img{
    max-width: 100%;
    height: 100%;
    border-radius: 6px;
}

.container .mycard .cdetail{
    position: relative;
    margin-top: -140px;
    padding: 10p 15px;
    text-align:center;
    color:black;
    font-family: monospace;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.container .mycard:hover .cdetail{
    visibility: visible;
    opacity: 1;
    margin-top: -30px;
}

