*{
    margin : 0;
    padding: 0;
}

:root{
    --navbar-height : 59px;
}

/* navigation section */
#navbar{
    display: flex;
    align-items: center;
}
#logo{
    margin: 10px 30px;
}
#logo img{
    height: 75px;
    margin: 2px 4px;
}

#navbar{
    position: relative;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#navbar ul li{
    list-style: none;
    font-size: 1.5rem;
}
#navbar ul li a{
    color: white;
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;

}

/* home section */
#home{
     display: flex;
     flex-direction: column;
     padding:  3px 200px;
     height: 447px;
     justify-content: center;
     align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    background: url(img/bg-1.jpg) no-repeat right center/cover;
    top: 0px;
    left: 0px;
    height: 73%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: rgb(24, 4, 54);
    text-align: centre;
    font-size: 38px;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: rgb(29, 28, 31);
    text-align: centre;
    font-size: 22px;
    font-family: 'Bree Serif', serif;
}

/* services section */
.services-container{
    background: url(img/bg-2.jpg) no-repeat center center/cover;

}
#services{
    margin:6px 10px;
    display: flex;
    
}

#services .box{
    border: 2px solid rgb(97, 24, 24);
    padding: 34px;
    margin: 6px;
    border-radius: 25px;
    background-color: rgb;
    background-color: #a3d0bc;
    margin-bottom: 25px;
}
#services .box img{
    height: 150px;
    margin: auto;
    display: block;
    padding: 10px;
}
#services .box p{
    font-family: 'Bree Serif', serif;
    padding: 12px;
}    

/* client section */
#client-section{
    height: 344px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('img/bg-3.jpg')no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 150px;
}
.client-item{
    padding: 34px;
}
/* contact section */


#contact{
    display: block;
     position: relative; 
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.89;
    background: url('img/unplash.jpg') no-repeat top center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
    background-color: #dbd2d2;
    opacity: 0.58;
    color: black;
}
#contact-box input:hover,
#contact-box textarea:hover{
    opacity: 1;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    color: black;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

footer{
    background: black;
    color: white;
    padding: 10px 20px;
    /* margin: 80px 20px; */
}




/* pseudo classes */
.h-primary{
    font-size: 3.8rem;
    padding: 6px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 4px 18px;
    margin: 20px 0px;
    border:  2px solid white;
    background-color:#6d3f04;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    font-size: 22px;
    border-radius: 28px;
    cursor: pointer;
}
.btn:hover{
    background-color:#4b2e09;
}
.h-secondary{
     font-size: 2.2rem;
     padding: 12px;
     font-family: 'Bree Serif', serif;
}
.center{
    text-align: center;
}