@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: auto;
  background-color: rgb(19, 24, 44);
}
  /* heading */
h1 {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 15px 20px;
  position: relative;
    }
    h1:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    h1:hover:after { 
      width: 100%; 
      left: 0; 
    }  
   
.styles {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 4vmin;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.stylebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(245, 217, 217);
  padding: 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 1.5rem;
  border-radius: .5rem;
  border: none;
  width: 20rem;
  justify-content: center;
  transition: .2s;
}
.stylebox:hover{
  transform: scale(1.02);
  -webkit-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  -moz-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
}
.stylebox .image{
  width: 20rem;
  height: 13rem;
}
.stylebox .image img{
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  image-rendering:pixelated;
}
.stylebox p{
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.stylebox a {
  background-color: white;
  border: none;
  border-radius: .5rem;
  padding: 1vmin;
  font-size: 1.2rem;
  background-color: rgb(89, 0, 131);
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: .2s;
}
a:hover {
  background-color: rgb(44, 1, 65);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .styles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 4vmin;
  }
  .stylebox {
    padding: .5rem;
    margin: auto;
    width: 18rem;
    margin-bottom: 1.5rem;
  }
  .stylebox .image{
    width: 18rem;
    height: 12rem;
    border-radius: .5rem;
  }
}

/* scroll top starts */
#scroll-top{
  position: fixed;
  bottom: -140%;
  right: 1rem;
  padding: .6rem 1rem;
  font-size: 2rem;
  background: #00ff37;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
  text-decoration: none;
}
#scroll-top:hover{
  -webkit-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  -moz-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
}
#scroll-top.active{
  bottom: calc(100% - 36rem);
}
/* scroll top ends */