@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Space+Mono:wght@400;700&display=swap');

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: auto;
  /* background-color: rgb(19, 24, 44); */
  background-color: #1d1d1d;
}



  /* heading */
h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Bitter',serif;
  text-decoration: none;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 15px 20px;
  position: relative;
    }
    h1:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    h1:hover:after { 
      width: 100%; 
      left: 0; 
    }  
   

.SearchBox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar{
  outline: none;
  border: 3px solid #222636;
  font-family: 'Space Mono';
  font-size: 13px;
  padding: .5em 2em .5em .3em;
  text-align: left;
  width: 250px;
}

.searchIcon{
  color: black;
  position: absolute;
  right: 37em;

}

@media only screen and (max-width: 600px){
  .searchIcon{
    color: #000;
    right: 7em;
  }
}

@media only screen and (max-width: 400px){
  .searchIcon{
    color: #000;
    right: 5em;
  }
}

/* @media only screen and (max-width: 768px){
  .searchIcon{
    color: #000;
    right: 18em;
  }
} */

.styles {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 4vmin;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.stylebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding: 1rem;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  margin: 1.5rem;
  border-radius: 5px;
  border: none;
  width: 20rem;
  justify-content: center;
  transition: .2s;
}
.stylebox:hover{
  transform: scale(1.02);
  -webkit-box-shadow: 0 0 10px 2px black;
  -moz-box-shadow: 0 0 10px 2px black;
  box-shadow: 0 0 10px 2px black;
}
.stylebox .image{
  width: 18rem;
  height: 13rem;
}
.stylebox .image img{
  background-size: cover;
  width: 100%;
  height: 100%;
  image-rendering:pixelated;
}
.stylebox p{
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.stylebox .btn-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
/* .stylebox a {
  
  border: 2px solid #1d1d1d;
  padding: 1vmin;
  font-size: 1.2rem;
  
  color: black;
  text-decoration: none;
  transition: 0.2s;
  width: 100%;
}
.stylebox a:hover
{
  background-color: #1d1d1d;
  color: white;
} */

.btnn{
  border: 2px solid #101522;
  width: 100%;
  padding: .5em;
  transition: 0.3s;
}
.btnn:hover{
  background-color: #101522;
  color: white;
}
.stylebox a.code {
  background-color: rgb(47, 128, 0);
}
.stylebox a.code:hover {
  background-color: rgb(39, 105, 0);
}



@media only screen and (max-width: 600px) {
  .styles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 4vmin;
  }
  .stylebox {
    padding: .5rem;
    margin: auto;
    width: 18rem;
    margin-bottom: 1.5rem;
  }
  .stylebox .image{
    width: 17rem;
    height: 12rem;
    border-radius: .5rem;
  }
}

/* scroll top starts */
#scroll-top{
  position: fixed;
  bottom: -140%;
  right: 1rem;
  padding: .6rem 1rem;
  font-size: 2rem;
  background: #00ff37;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
  text-decoration: none;
}
#scroll-top:hover{
  -webkit-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  -moz-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
}
#scroll-top.active{
  bottom: calc(100% - 36rem);
}
/* scroll top ends */


/* CSS for NavBar starts */
/*.topnav {
  background-color: rgb(19, 24, 44);
  background-color: #1d1d1d;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

 .topnav .logo{
  width: 7em;
}

ul{
  list-style: none;
}
.navbar-links li{
  font-family: 'Space Mono', monospace;
 
}
.navbar-links ul{
  display: flex;
  flex-direction:row;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin:0 2em;
  padding: .5em;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #ddd;
  
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.burger div{
  width: 25px;
  height: 4px;
  margin: 4px;
  background-color: white;
}

.burger{
  display: none;
} */

a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }

 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  box-shadow: none;
  -webkit-box-shadow:none
  background-color: #1d1d1d;
  color: #fff;
 }
 .nav-links a {
  color: #fff;
 }
 .logo img{
   width: 7em;
 }

 .menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
  font-family: 'Space Mono';
 }

 .menu li:hover {
  background-color: #fff;
  border-radius: 1em;
  transition: 0.3s ease;
  box-shadow: 0 0 10px 2px rgba(26,1,253,0.42);
 }
 a:hover{
   color: #1d1d1d;
   background-color: #fff;
 }

 .menu li {
  padding: 5px 14px;
  border-radius:1em ;
 }

 input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }



 @media (max-width: 768px) {
   
  .menu { 
   display:none;
   position: absolute;
   background: #1d1d1d ;
   right: 0;
   left: 0;
   height: 92vh;
   text-align: center;
   padding: 96px 0;
   z-index: 1000;
   top: 20vh;
  }
  .menu li:hover {
   display: inline-block;
   background-color:#fff;
   transition: 0.3s ease;
  }
  .menu li + li {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
   display: block;
  }
  .hamburger {
   display: block;
   
  }
}


/* CSS for NavBar end */


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #101522;
  padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #040919;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #f82249;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #f82249;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #f82249;
  font-size: 18px;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #f82249;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #f82249;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #e0072f;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}

