*{
    margin:0 ;
    padding:0 ;

}
.container{
    height: 85px; 
    width: 83px;
   box-sizing: content-box;
   position: fixed;
}
.navbaar{
    width: 35px;
    height:15vh ;
    align-items: center;
    display: flex;
    margin: auto;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: aqua;
}

.content h1{
   font-size: larger;
    font-weight:50 ;
    margin-bottom:10px ;
    margin-top: 20px;
}



