@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Space+Mono:wght@400;700&display=swap');

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: auto;
  /* background-color: rgb(19, 24, 44); */
  background-color: #1d1d1d;
}



  /* heading */
h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Bitter',serif;
  text-decoration: none;
  letter-spacing: 0.15em;
  text-align: center;
  padding: 15px 20px;
  position: relative;
    }
    h1:after {    
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    h1:hover:after { 
      width: 100%; 
      left: 0; 
    }  
   
.styles {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 4vmin;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.stylebox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding: 1rem;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  margin: 1.5rem;
  border-radius: 5px;
  border: none;
  width: 20rem;
  justify-content: center;
  transition: .2s;
}
.stylebox:hover{
  transform: scale(1.02);
  -webkit-box-shadow: 0 0 10px 2px black;
  -moz-box-shadow: 0 0 10px 2px black;
  box-shadow: 0 0 10px 2px black;
}
.stylebox .image{
  width: 20rem;
  height: 13rem;
}
.stylebox .image img{
  background-size: cover;
  width: 100%;
  height: 100%;
  image-rendering:pixelated;
}
.stylebox p{
  text-align: left;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
}
.stylebox .btn-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.stylebox a {
  
  border: 2px solid #1d1d1d;
  padding: 1vmin;
  font-size: 1.2rem;
  
  color: black;
  text-decoration: none;
  transition: 0.2s;
  width: 100%;
}
.stylebox a:hover
{
  background-color: #1d1d1d;
  color: white;
}.stylebox a.code {
  background-color: rgb(47, 128, 0);
}
.stylebox a.code:hover {
  background-color: rgb(39, 105, 0);
}



@media only screen and (max-width: 600px) {
  .styles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 4vmin;
  }
  .stylebox {
    padding: .5rem;
    margin: auto;
    width: 18rem;
    margin-bottom: 1.5rem;
  }
  .stylebox .image{
    width: 18rem;
    height: 12rem;
    border-radius: .5rem;
  }
}

/* scroll top starts */
#scroll-top{
  position: fixed;
  bottom: -140%;
  right: 1rem;
  padding: .6rem 1rem;
  font-size: 2rem;
  background: #00ff37;
  color: rgb(13, 0, 44);
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
  text-decoration: none;
}
#scroll-top:hover{
  -webkit-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  -moz-box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
  box-shadow: 0 0 10px 2px rgba(26, 1, 253, 0.42);
}
#scroll-top.active{
  bottom: calc(100% - 36rem);
}
/* scroll top ends */


/* CSS for NavBar starts */
/*.topnav {
  background-color: rgb(19, 24, 44);
  background-color: #1d1d1d;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

 .topnav .logo{
  width: 7em;
}

ul{
  list-style: none;
}
.navbar-links li{
  font-family: 'Space Mono', monospace;
 
}
.navbar-links ul{
  display: flex;
  flex-direction:row;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin:0 2em;
  padding: .5em;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #ddd;
  
  color: black;
}

.topnav a.active {
  background-color: rgb(33,2,88);
  color: white;
}

.topnav .icon {
  display: none;
}

.burger div{
  width: 25px;
  height: 4px;
  margin: 4px;
  background-color: white;
}

.burger{
  display: none;
} */

a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }

 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #1d1d1d;
  color: #fff;
 }
 .nav-links a {
  color: #fff;
 }
 .logo img{
   width: 7em;
 }

 .menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
  font-family: 'Space Mono';
 }

 .menu li:hover {
  background-color: #fff;
  
  transition: 0.3s ease;
 }
 a:hover{
   color: #1d1d1d;
 }

 .menu li {
  padding: 5px 14px;
 }

 input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }



 @media (max-width: 768px) {
   
  .menu { 
   display:none;
   position: absolute;
   background: #1d1d1d ;
   right: 0;
   left: 0;
   height: 92vh;
   text-align: center;
   padding: 96px 0;
   z-index: 1000;
   top: 20vh;
  }
  .menu li:hover {
   display: inline-block;
   background-color:#fff;
   transition: 0.3s ease;
  }
  .menu li + li {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
   display: block;
  }
  .hamburger {
   display: block;
   
  }
}


/* CSS for NavBar end */

/* Footer starts */

.footer{
  margin-top:2%;
  padding-top:2%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:2%;
  background-image:url(images/danny-lines-TTRNdWfY8TY-unsplash.jpg);
  display:flex;
  gap:2%;
}

.contact-us{
  margin-top:2%;
  padding-top:2%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:2%;
  background-image:url(images/danny-lines-TTRNdWfY8TY-unsplash.jpg);
  gap:2%;
}

.projects{
  margin-top:2%;
  padding-top:2%;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:2%;
  background-color:black;
  text-align: justify;
  gap:2%;
}

.footer-description{
  color: rgb(245, 217, 217);
  width:40%;
}

.footer-description-heading{
  font-size:2rem;
}

.footer-projects-links{
  color:rgb(245, 217, 217);
  text-align:left;
  width:30%;
  margin-top:1.5%;
}

.footer-ul{
  margin-top:5%;
  list-style-type:none;
  font-size:1rem;
  padding:0px;
}

.footer-alink{
  text-decoration:none;
  color:rgb(245, 217, 217);
}

.footer-ul-li{
  margin-bottom:2%;}
.footer-alink:hover{
  background-color:transparent;
  text-decoration:underline;
}

.footer-contact{
  color:rgb(245, 217, 217);
  width:30%;
}

.contact-p{
  font-size:0.8rem;
}

.socials{
  padding:0px;
  list-style-type:none;
  display:flex;
  gap:2%;
  font-size:50x;
}

.fa fa-facebook{
  size:5x;
}
.social-icon{
  font-size:30px;
  color:rgb(245, 217, 217);
}

.social-icon:hover{
  background-color:transparent;
}

.contact-h4{
  font-size:1.5rem;
  margin-bottom:0;
}

.footer-project-heading{
  font-size:1.5rem;
}
.fa-facebook-square:hover {
    transform: scale(1.5);
}

.fa-github-square:hover {
    transform: scale(1.5);
}

.fa-linkedin:hover {
    transform: scale(1.5);
}

.fa-instagram-square:hover {
    transform: scale(1.5);
}

/* Media queries */
@media screen and (max-width: 445px) {
  .footer-description-heading {
    font-size: 1.3rem;
    width: 101%;
  }
  .footer {
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
  }
  .footer-description {
    width: 85%;
  }
  .footer-projects-links {
    width: 80%;
    font-family: "Poppins", sans-serif;
  }
  .footer-contact {
    width: 80%;
    font-family: "Poppins", sans-serif;
  }
  .contact-h4 {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
  }
  .contact-p {
    font-size: 1rem;
  }
}
