* {
    outline: none;
    box-sizing: border-box;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
}

.logo {
    color: white;
    font-weight: bold;
}

.nav_menu {
    color: white;
}

.nav_menu:hover {
    font-size: medium;
    font-weight: bold;
    color: white;
}

.main_img {
    object-fit: cover;
}

.heading {
    text-transform: capitalize;
    text-align: center;
    color: #1261A0;
    font-weight: bold;
    margin-top: 25px;

}

.sub_text {
    text-transform: capitalize;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ceo_img {
    object-fit: fill;
}

.sub_head {
    text-transform: capitalize;
    font-weight: bold;
}

.footer {
    padding-top: 20px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.foot_head {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

p {
    color: black;
}

li .anc {
    color: white;
}

.contact_body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 40px;
    background: linear-gradient(115deg, #1261A0 10%, black 90%);
}

.contact_cont {
    background: #fff;
    width: 800px;
    max-width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rbga(0, 0, 0, 0.5);
}

.contact_cont .text {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(right, #1261A0, black, #1261A0, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact_cont form {
    padding: 30px 0 0 0 0;
}

.contact_cont form .form-row {
    display: flex;
    margin: 32px 0;
}

form .form-row .input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
}

form .form-row .textarea {
    height: 70px;
}

.input-data input,
.textarea textarea {
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

.textarea textarea{
    resize: none;
    padding-top: 10px;
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label{
    transform: translateY(-20px); 
    color: #3498db;
    font-size: 14px;
}
.input-data label {
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}
.textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
}
.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}
.input-data .underline:before,
.input-data .underline::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: tranform 0.3s ease;
}
.input-data input:focus ~ .underline:before,.underline::after,
.textarea textarea:focus ~ .underline:before,.underline::after,
.input-data input:valid ~ .underline:before,.underline::after,
.textarea textarea:valid ~ .underline:before,.underline::after{
    transform: scaleX(1); 
    /* color: #3498db;
    font-size: 14px; */
}
.submit-btn .input-data{
    height: 45px!important;
    width: 25%!important; 
    overflow: hidden;
}
.submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    transition: all 0.3s;
    background: -webkit-linear-gradient(right, #1261A0, black, #1261A0, black);;
}
.submit-btn .input-data:hover .inner{
    left: 0;
}
.submit-btn .input-data input{
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

@media(max-width:700px){
    .contact_cont .text{
        font-size: 30px;
    }
    .contact_cont form{
        padding: 10px 0 0 0 0;
    }
    .contact_cont form .form-row{
        display: block;
    }
    form .form-row .input-data{
        margin: 35px 0!important;
    }
    .submit-btn .input-data{
        width: 40%!important;
    }
}