* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
}
header {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjDArR3GxZbbFjFOHPHJNocx3yYhRuDnRXzg&usqp=CAU);
  background-attachment: fixed;
  height: 30em;
  max-height: 180px;
  background-position: top center;
}
header h1 {
  font-size: 40px;
}
nav {
  background-color: rgb(124, 82, 201);
  display: flex;
  top: 0;
  position: sticky;
}
nav a {
  display: block;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 14px 20px;
  float: left;
  text-decoration: none;
}
nav a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.4px);
  background-color: rgb(165, 141, 211);
}

.cont1{
  border: 2px solid black;
  height: 50vh;
  width: 98%;
  padding: 10px;
  margin:10px;
}

/* external css: flickity.css */
.carousel-cell {
  width: 66%;
  margin-right: 10px;
  border-radius: 5px;
}
.carousel-cell img {
  max-width: 100%;
}
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  padding: 100px 30px;
}
section {
  text-align: center;
  padding: 75px 0px;
  height: 90vh;
  height: 90%;
}
section:nth-child(odd) {
  background-image: linear-gradient(
    to right bottom,
    #501d5b,
    #35539a,
    #0086c4,
    #00b6d3,
    #3ae3cd
  );
}
section span {
  text-decoration: underline;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgb(144, 67, 189);
}
section:nth-child(3) iframe {
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  height: 300px;
}
img {
  padding: 0px 20px;
  object-fit: fill;
}
.smhandle a {
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3vh;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: rgb(195, 129, 233);

}
nav>a:hover {
  color: black;
  font-size: 3.2vh;
}
.igh:hover,
.fbh:hover,
.twh:hover {
  color: black;
}
.igh {
  color: #977836;
}
.twh {
  color: #00acee;
}
.fbh {
  color: #3b5998;
}
section:nth-child(4) p {
  font-size: 20px;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: rgb(124, 82, 201);
  overflow: hidden;
}
footer a {
  display: block;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  float: left;
  text-decoration: none;
}
footer a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.4px);
}
section p {
  padding: 0px 100px;
}
.login {
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
  .login {
    margin-left: 0;
  }
  .smhandle a {
    font-size: 2vh;
    padding: 5px;
    margin: 5px;
  }
  section:nth-child(4) p {
    font-size: 15px;
  }
  section:nth-child(3) iframe {
    width: 180px;
    height: 180px;
  }
  section h2 {
    font-size: 18px;
  }

  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    padding: 10px 10px;
  }
  section p {
    padding: 0px 100px;
  }
  nav{
    position: relative;
    top: 0px;
  }
  .cont1{
    height: 100vh;
    width: 100%;
  }
}
.admin{
  display: inline;
}
.admin>a{
  font-size: 20px;
  text-decoration: underline;
  color: rgb(233, 52, 121);
}
section:nth-child(5){
  padding-bottom:10px;
}

/* btn-to-top */
.btn-to-top{
  text-align: center;
  position: fixed;
  right: 10px;
  bottom: 50px;
  height: 50px;
  width: 48px;
  border-radius: 100%;
  background-color: rgb(20, 190, 220);
  box-shadow: 0px 0px 10px rgb(0, 0,0.25);
  border:none ;
  cursor: pointer;
}