*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer {
    width: 100%;
    height: 180px;
    background: linear-gradient(45deg,orange,yellow);
    position: absolute;
    top: auto;
    left: 0;
}

p#footer {
    text-align: center;
    color: darkblue;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
}

/* .container{
    height: 600px;
    width: 100%;
    background-image: url(img/background.jpg.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
    position: relative;
} */
.header{
    width: 100%;
    height: 75px;
    background: linear-gradient(45deg,orange,yellow);
}
.logo{
   padding-top: 2%;
   margin: 30px 0;
   cursor: pointer;
}
.logo img{
    width: 300px;
    height: 250px;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: darkblue;
}
a:hover{
    color: red;
}
.content h1{
    font-size: 70px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: darkblue;
}
.content h2{
    font-size: 30px;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content button{
    font-size: 25px;
    display: inline-block;
    background: linear-gradient(45deg,orange,yellow);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
}
.content button:hover{
    color: red;
}

.img{
    height: 90%;
    position: absolute;
    bottom: 80px;
    right: 250px;
}
.hero{
    display: flex;
    width: 300px;
    height: 400px;
    flex-wrap: wrap;
    margin: 150px auto;
}
.small-img{
    flex-basis: 100px;
    cursor: pointer;
    position: relative;
    transition: 2s;
    box-shadow: 27px 41px 13px 4px rgba(0,0,0,0.10);
}
.small-img img{
    width: 100px; 
}
.small-img::after{
    content: "";
    width: 100px;
    height: 33px;
    bottom: -29px;
    left: 7px;
    position: absolute;
    background: #2d5661;
    transform: skewX(26deg);
}
.small-img::before{
    content: "";
    width: 15px;
    height: 132px;
    right: -14px;
    top: 15px;
    position: absolute;
    background: #3c8898;
    transform: skewY(65deg);
}
.hero:hover .small-img:nth-child(1){
    transform: translate(60px,230px) rotate(360deg);
}
.hero:hover .small-img:nth-child(2){
    transform: translate(-260px,-150px) rotate(360deg);
}
.hero:hover .small-img:nth-child(3){
    transform: translate(91px,295px) rotate(360deg);
}
.hero:hover .small-img:nth-child(4){
    transform: translate(440px,-220px) rotate(360deg);
}
.hero:hover .small-img:nth-child(5){
    transform: translate(100px,-120px) rotate(360deg);
}
.hero:hover .small-img:nth-child(6){
    transform: translate(-370px,320px) rotate(360deg);
}
.hero:hover .small-img:nth-child(7){
    transform: translate(0px,-480px) rotate(360deg);
}
.hero:hover .small-img:nth-child(8){
    transform: translate(-280px,-40px) rotate(360deg);
}
.hero:hover .small-img:nth-child(9){
    transform: translate(400px,-120px) rotate(360deg);
}
#gallery{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;

}
.heading{
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 15px;
    color: darkblue;
}
#gallery .heading1{
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 15px;
    color: darkblue;

}
#gallery .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#gallery .box .dream{
    /* display: flex;
    flex-direction: column; */
    width: 32.5%;
}
#gallery img{
     width: 100%;
     padding-bottom: 15px;
     border-radius: 5px;
}
#gallery img:hover{
    box-shadow: 27px 41px 13px 4px rgba(0,0,0,0.10); 
}

.heading{
    padding-top: 5%;
    text-align: center;
}

#events{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 50px;
    grid-template-areas: "image""text";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}
.cardimage1{
    grid-area: image;
    background: url(img/event3.jpg); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.cardimage2{
    grid-area: image;
    background: url(img/event2.jpg); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.cardimage3{
    grid-area: image;
    background: url(img/event1.jpg); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.cardtext{
    grid-area: text;
    margin: 25px;
}
.cardtext .date{
    color: rgb(255,7,110);
    font-size: 20px;
}
.cardtext p{
    padding-top: 10px;
    color: grey;
    font-size: 15px;
    font-weight: 300;
}
.cardtext h2{
    margin-top: 0px;
    font-size: 28px;
}
.card:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
#about{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10%;
}
p{
    margin-right: 10%;
    margin-left: 10%;
    font-family: sans-serif;
    font-size: 15px;
}

.slider{
    display: flex;
    width: 50%;
    height: 400px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    background-image: url(img/slide1.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px black;
    animation: slider 15s infinite linear;
}
@keyframes slider{
    0%{
        background-image: url(img/slide1.jpg);
        background-size: 100% 100%;
    }
    15%{ 
        background-image: url(img/slide2.jpg);
        background-size: 100% 100%;
    }
    30%{ 
        background-image: url(img/slide3.jpg);
        background-size: 100% 100%;
    }
    45%{ 
        background-image: url(img/slide4.jpg);
        background-size: 100% 100%;
    }
    60%{ 
        background-image: url(img/slide5.jpg);
        background-size: 100% 100%;
    }
    75%{ 
        background-image: url(img/slide6.jpg);
        background-size: 100% 100%;
    }
}
