body{
    font: Arial, Helvetica, sans-serif;
}
#container{
    width: 1050px;
    margin: 0 auto;
}
#header{
    height: 100px;
    padding: 10px 0;
}
#brand{
    float: left;
}
h1 a {
    font-size: 50px;
    font-weight: 100;
    color: cadetblue;
    text-decoration: none;
}
#searchbox{
    float: right;
    background: linear-gradient(#E4F289, #B7E953);
    background: -webkit-linear-gradient(#E4F289,#B7E953);
    background: -o-linear-gradient(#E4F289,#B7E953);
    background: -moz-linear-gradient(#E4F289, #B73953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white url(img/search.png) right center no-repeat;
    border: 1px solid #C8D03E;
}

.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    background: #A751D6;
    border: 1px solid #DCD5E1;
}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(#F8F594,#D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
    padding: 7px 0;
}

ul{
    list-style: none;
}

#menu ul li {
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover , #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: #B314DB;
}

#introduction{
    background: linear-gradient(#E5F2BB,#B7E952);
    background: -webkit-linear-gradient(#E5F2BB, #B7E952);
    background: -o-linear-gradient(#E5F2BB,#B7E952);
    background: -moz-linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3{
    font-size: 45px;
    color: #316901;
    font-weight: normal;
}

#introduction p{
    font-size: 25px;
    color: #628f19;
    text-align: justify;
}


.sidebar {
    height: 500px;
    width: 450px;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    padding: 10px 13px;
}

.sidebar h3{
    color: #B314DB;
    font-size: 30px;
}

.sidebar ul {
    padding-top: 8px;
}

#leftsidebar ul li {
    padding: 4px 0 4px 10px;
    list-style-image: url(img/right\ arrow.png);
}

#rightsidebar ul li {
    padding: 10px 0 10px 45px;
    background: url(img/tick.png) no-repeat left;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
    -webkit-transition:  font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover , .sidebar ul li a.active{
    text-decoration: none;
    color: #8314DB;
    font-size: 23px;
    font-weight: bold;
}

#leftsidebar {
    float: left;
}

#rightsidebar {
    float: right;
}

.footer {
    height: 30px;
    background: linear-gradient(#F6F390, #D5D533);
    background: -webkit-linear-gradient(#F6F390, #D5D533);
    background: -o-linear-gradient(#F6F390, #D5D533);
    padding: 10px 10px;
    margin-top: 15px;
    color: #000;
    text-align: center;
}

