body{
	background-color: #2C3B4E;
	overflow-x: hidden;
}

.row{
	--bs-gutter-x: 0px;
}

.a, .a:hover, .a:focus, .a:visited{
	color: #efefef;
	text-decoration: underline;
	margin-top: 3vh;
}

.drop-shadow{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.carousel-caption{
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 45%;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: linear-gradient(180deg, rgba(253, 254, 255, 0) 12.26%, #283748 24.05%);
}

@media only screen and (min-width: 640px) {
	.logo {
		width: 13%;
		margin-top: 3%;
		padding-bottom: 3%;
	}
	.carousel-position-adjustor{
		display: inline-block;
		width: 100%;
		margin-top: 1%;
		filter: drop-shadow(0px 4px 4px #F7D775);
	}
	.carousel-img{
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
	}
	.carousel-inner{
		width: 60%;
		margin: auto;
	}
	.carousel-item-next-adjusted{
		position: fixed;
		width: 54%;
		display: block;
		transform: translateX(116%);
		filter: none;
		opacity: 0.2;
	}
	.carousel-item-prev-adjusted{
		position: fixed;
		width: 54%;
		display: block;
		transform: translateX(-105%);
		filter: none;
		opacity: 0.2;
	}
	.carousel-control-prev{
		top: 40%;
		bottom: auto;
		left: 12%;
		filter: none;
		color: #F7D775;
		opacity: 1;
	}
	.carousel-control-next{
		top: 40%;
		bottom: auto;
		right: 12%;
		filter: none;
		color: #F7D775;
		opacity: 1;
	}
	.carousel-caption-adjustor{
		display: inline-block;
		position: absolute;
		bottom: 20%;
		right: 0;
		left: 0;
		color: #efefef;
	}
}

@media only screen and (max-width: 640px) {
	.header{
		height: 7vh;
	}
	.logo {
		width: 20%;
		margin-top: 7%;
		margin-left: 15%;
		padding-bottom: 7%;
	}
	.carousel-position-adjustor{
		display: inline-block;
		width: 100%;
		margin-top: 2%;
		filter: drop-shadow(0px 4px 4px #F7D775);
	}
}

.strike {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.strike > h1 {
	position: relative;
	display: inline-block;
	color: #ACABAB;
}

.strike > h1:before,
.strike > h1:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 2px;
	background: #ACABAB;
}

.strike > h1:before {
	right: 100%;
	margin-right: 15px;
}

.strike > h1:after {
	left: 100%;
	margin-left: 15px;
}