body {
  margin: 0;
}

.nutrition-facts-container {
  color: #444;
  font-size: 1vw;
  width: 100%;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  border: solid currentColor 0.8em;
  box-sizing: border-box;
  margin: 0;
  padding: 2em;
  background-color: antiquewhite;
}
.nutrition-facts-container .nutrition-facts-title {
  display: block;
  font-size: 13.9em;
  font-weight: 900;
  line-height: 0.8em;
}
.nutrition-facts-container .nutrition-servings {
  font-size: 6.5em;
  line-height: 1.1em;
}
.nutrition-facts-container .nutrition-serving-size {
  display: table;
  width: 100%;
  font-weight: 900;
  font-size: 7.5em;
  line-height: 1.1em;
}
.nutrition-facts-container .nutrition-serving-size span {
  display: table-cell;
}
.nutrition-facts-container .nutrition-serving-size span:last-child {
  text-align: right;
}
.nutrition-facts-container .nutrition-amount-per-serving {
  font-weight: 700;
  font-size: 6em;
}
.nutrition-facts-container .nutrition-calories {
  display: table;
  width: 100%;
  font-weight: 900;
  font-size: 11em;
  line-height: 0.5em;
  margin-bottom: 0.2em;
}
.nutrition-facts-container .nutrition-calories span {
  display: table-cell;
}
.nutrition-facts-container .nutrition-calories span:last-child {
  text-align: right;
  font-size: 1.4em;
}
.nutrition-facts-container .nutrition-daily-value {
  font-size: 5em;
  text-align: right;
  display: block;
  font-weight: 700;
}
.nutrition-facts-container .nutrition-information {
  width: 100%;
  font-size: 5.5em;
  border-collapse: collapse;
}
.nutrition-facts-container .nutrition-information.nutrition-vitamins td,
.nutrition-facts-container .nutrition-information.nutrition-vitamins span {
  font-weight: 400 !important;
}
.nutrition-facts-container .nutrition-information tbody tr td {
  border-top: 0.08em solid currentColor;
}
.nutrition-facts-container .nutrition-information tbody tr td:last-child {
  text-align: right;
  font-weight: 700;
}
.nutrition-facts-container .nutrition-information tbody tr:first-child span:first-child {
  font-weight: 700;
}
.nutrition-facts-container .nutrition-information tbody tr:not(:first-child) td {
  padding-left: 1em;
}
.nutrition-facts-container .nutrition-disclaimer {
  font-size: 4.2em;
  display: table;
  padding-top: 0.4em;
}
.nutrition-facts-container .nutrition-disclaimer span:last-child {
  display: table-cell;
}
.nutrition-facts-container hr {
  display: block;
  border: none;
  border-bottom: solid currentColor 2em;
}
.nutrition-facts-container .hr-light {
  border-width: 0.5em;
}
.nutrition-facts-container .hr-bold {
  border-width: 4em;
}
.nutrition-facts-container .indent {
  padding-left: 2em !important;
}
.nutrition-facts-container .bold {
  font-weight: 700;
}

.some-other-content {
  display: inline-block;
}

@media only screen and (min-width: 700px) {
  .nutrition-facts-container{
    width: 60%;
  }
  .nutrition-facts-container .nutrition-facts-title {
    font-size: 80px;
  }
  .nutrition-facts-container .nutrition-servings {
    font-size: 40px;
  }

  .nutrition-facts-container .nutrition-information
  {
    font-size: 40px;
  }

  .nutrition-facts-container .nutrition-calories span:last-child 
  {
    font-size: 57px;
  }
  .nutrition-facts-container .nutrition-calories span
    {
      font-size: 60px;
    }
    .nutrition-facts-container .nutrition-serving-size span {
      font-size: 40px;
      line-height: 49px;
    }

    .nutrition-facts-container .nutrition-amount-per-serving {
      font-weight: 700;
      font-size: 4em;
  }
    .nutrition-facts-container .nutrition-daily-value {
    font-size: 25px;
    }
    .nutrition-facts-container .nutrition-disclaimer {
      font-size: 20px;
    }
    .nutrition-facts-container .hr-bold{
      border-width: 1em;
    }
}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Nestle Nutrition Clone</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

<div class="nutrition-facts-container">
    <span class="nutrition-facts-title">Nutrition Facts</span>
    <hr class="hr-light">
    <span class="nutrition-servings">8 servings per container</span>
    <div class="nutrition-serving-size">
        <span>Serving size</span>
        <span>2/3 cup (55g)</span>
    </div>
    <hr class="hr-bold">
    <span class="nutrition-amount-per-serving">Amount per serving</span>
    <div class="nutrition-calories">
        <span>Calories</span>
        <span>230</span>
    </div>
    <hr>
    <span class="nutrition-daily-value">% Daily Value<sup>*</sup></span>

    <table class="nutrition-information" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <span>Total Fat</span>
                    <span>8g</span>
                </td>
                <td>10%</td>
            </tr>
            <tr>
                <td>
                    <span>Saturated Fat</span>
                    <span>1g</span>
                </td>
                <td>5%</td>
            </tr>
            <tr>
                <td>
                    <span><i>Trans</i> Fat</span>
                    <span>0g</span>
                </td>
                <td></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>
                    <span>Cholesterol</span>
                    <span>0mg</span>
                </td>
                <td>0%</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>
                    <span>Sodium</span>
                    <span>160mg</span>
                </td>
                <td>7%</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>
                    <span>Total Carbohydrate</span>
                    <span>37g</span>
                </td>
                <td>13%</td>
            </tr>
            <tr>
                <td>
                    <span>Dietary Fiber</span>
                    <span>4g</span>
                </td>
                <td>14%</td>
            </tr>
            <tr>
                <td>
                    <span>Total Sugars</span>
                    <span>12g</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="indent">
                    <span>Includes</span>
                    <span>10g</span>
                    <span>Added Sugars</span>
                </td>
                <td>20%</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>
                    <span>Protein</span>
                    <span>3g</span>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <hr class="hr-bold">
    <table class="nutrition-information nutrition-vitamins" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="border:none">
                    <span>Vitamin D</span>
                    <span>2mcg</span>
                </td>
                <td style="border:none">10%</td>
            </tr>

        </tbody>
        <tbody>
            <tr>
                <td>
                    <span>Calcium</span>
                    <span>260mg</span>
                </td>
                <td>20%</td>
            </tr>

        </tbody>
        <tbody>
            <tr>
                <td>
                    <span>Iron</span>
                    <span>8mg</span>
                </td>
                <td>45%</td>
            </tr>

        </tbody>
        <tbody>
            <tr>
                <td>
                    <span>Potassium</span>
                    <span>235mg</span>
                </td>
                <td>6%</td>
            </tr>

        </tbody>
    </table>
    <hr>
    <div class="nutrition-disclaimer">
        <span>*</span>
        <span>The % Daily Value (DV) tells you how much a nutrient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.</span>
    </div>
</div>
<!-- partial -->
  
</body>
</html>
