body {
    margin:0px ;
    padding: 0px;
    top:0px;
    background-image: url("https://wallpapercave.com/wp/wp2533041.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
:root{
    --hovcol:rgb(210, 210, 210);
    --bgcol:transparent;
  
}
.top{
    height: 6rem;
  
    display: flex;
    flex-basis: 4fr 2fr 1fr;
    justify-content: space-between;
    width: 100%;
    
}
.top .logo img{
    width: 22rem;
    height: 19rem;
    margin: -2rem -4rem;
    filter: invert();
    opacity: 0.6;
}

.top .side{
    display: flex;
    width: 50rem;
    justify-content: flex-end;
   
}
.top .side .login,.top .side .signup{
    background-color:rgb(77, 77, 77);
    width: 6rem;
    height: 3rem;
    color: white;
    align-self: center;
    text-align: center;
    margin: 5px;
    border-radius: 15px;
    font-size: 1.5rem;
    cursor: pointer;
   
}

.top .side .login p, .top .side .signup p{
    margin: .5rem auto;
}
.top .side .login:hover,.top .side .signup:hover{
   background-color: rgb(36, 36, 36);
   text-decoration: none;
  
}
.top .side .menu{
    width: 50px;
    height: 50px;
    align-self: center;
    margin: 30px;
    filter: invert();
    opacity: 0.7;
}
.top .side .menu:hover{
    cursor: pointer;
    opacity: 1;
}
.top-1{
    height: 50px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto 50px auto
}
.top-1 .opt{
    margin:4px 2px;
    align-self: center;
    width: 11rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 40px;
    z-index: 2;
    background-color: var(--bgcol);
   
}
.top-1 .opt:hover{
    background-color: rgb(198 62 62 / 1);
    text-decoration: none;
    color:rgb(22, 22, 22);
   
}

.top-1 .opt p{
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    margin : .5rem auto;
}
.top-1 .opt a{
    
    color:white;
    font-weight: bold;
   text-decoration: none;
}
.home{
    width: 4.5rem;
}
.vector{
    width: 5rem;
}
.animation{
    width: 7rem;
}
.photography{
    width: 9rem;
}
.painting{
    width: 5.8rem;
}
.videos{
    width: 5rem;
}
.graphic-design{
    width: 10.2rem;
}
.content{
    display:flex;
    
    background-color: rgba(255, 255, 255, 0.4);
    border:5px solid var(--outline);
    border-top:1px solid var(--outline);
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    margin: 0rem auto;
    border-radius: 15px;
}
iframe{
    margin:1rem;
}
.image-gallery, .vec-gallery, .gd-gallery, .photo-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:auto;
    
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    grid-template-areas:'img-8 img-8 img-8 img-1 img-1 img-2 img-2'
    'img-11 img-11 img-11  img-1 img-1 img-2 img-2'
    'img-4 img-4 img-6 img-6  img-12 img-12 img-12'
    'img-4 img-4 img-6 img-6  img-13 img-13 img-13'
    'img-3 img-5 img-5 img-7 img-7 img-9 img-9'
    'img-10 img-10  0 0 0 0 0'
}
.image-gallery a, 
.vec-gallery a, 
.gd-gallery a, 
.photo-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.image-gallery a i, 
.vec-gallery a i, 
.gd-gallery a i, 
.photo-gallery a i{
    color: rgba(255, 255, 255, 0.6);
    font-size: 3rem;
    position:relative;
    z-index:100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
    margin-top:1rem;
}
.image-gallery a::before, 
.vec-gallery a::before, 
.gd-gallery a::before, 
.photo-gallery a::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a:hover i,
.image-gallery a:hover::before,
.vec-gallery a:hover i,
.vec-gallery a:hover::before,
.gd-gallery a:hover i,
.gd-gallery a:hover::before,
.photo-gallery a:hover i,
.photo-gallery a:hover::before{
    opacity: 1;
}
.img-1{
    grid-area: img-1;
    background-image: url("images/pa-1.jpg");
    min-height:50rem;
}
.img-2{
    grid-area: img-2;
    background-image: url("images/pa-2.jpg");
    min-height: 50rem;
}
.img-3{
    grid-area: img-3;
    background-image: url("images/pa-3.jpg");
    min-height:50rem;
}
.img-4{
    grid-area: img-4;
    background-image: url("images/pa-4.jpg");
    min-height:50rem;
}
.img-5{
    grid-area: img-5;
    background-image: url("images/pa-5.jpg");
    min-height:50rem;
}
.img-6{
    grid-area: img-6;
    background-image: url("images/pa-6.jpg");
    min-height:50rem;
}
.img-7{
    grid-area: img-7;
    background-image: url("images/pa-7.jpg");
    min-height:50rem;
}
.img-8{
    grid-area: img-8;
    background-image: url("images/pa-8.jpg");
    min-width:50rem;
}
.img-9{
    grid-area: img-9;
    background-image: url("images/pa-9.jpg");
    min-height:50rem;
}
.img-10{
    grid-area: img-10;
    background-image: url("images/pa-10.jpg");
    min-height:50rem;
}
.img-11{
    grid-area: img-11;
    background-image: url("images/pa-11.jpg");
    min-width: 50rem;
}
.img-12{
    grid-area: img-12;
    background-image: url("images/pa-12.jpg");
    min-width: 50rem;
}
.img-13{
    grid-area: img-13;
    background-image: url("images/pa-13.jpg");
    min-width:50rem;
}
.vec-gallery{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:'v-1 v-2 v-2 v-3' 
    'v-4 v-4 v-6 v-3'
    'v-4 v-4 v-5 v-5'
    ;
}
.v-1{
    grid-area: v-1;
    background-image: url("images/v-1.png");
    
}
.v-2{
    grid-area: v-2;
    background-image: url("images/v-2.jpg");
    min-width: 60rem;
}
.v-3{
    grid-area: v-3;
    background-image: url("images/v-3.jpg");
    min-height: 55rem;
}
.v-4{
    grid-area: v-4;
    background-image: url("images/v-4.jpg");
    min-width: 60rem;
    min-height: 55rem;
}
.v-5{
    grid-area: v-5;
    background-image: url("images/v-5.png");
    min-width: 60rem;
}
.v-6{
    grid-area: v-6;
    background-image: url("images/v-6.png");
}
.gd-gallery{
    grid-template-columns: 1fr 1fr ;
    grid-template-areas:'gd-1 gd-2'
                        'gd-1 0';
}
.gd-1{
    grid-area: gd-1;
    background-image: url("images/gd-1.png");
    min-width:35rem;
    min-height:50rem;
}
.gd-2{
    grid-area: gd-2;
    background-image: url("images/gd-2.png");
    min-width: 25rem;
}

.ph-1{
    margin:0rem;
    grid-area: gd-1;
    background-image: url("images/ph-1.jpg");
    min-width:35rem;
    min-height:50rem;
}
.msg{
    margin: 0rem auto;
    width:125rem;
    height: 50rem;
    border-top: 1px solid var(--outline);
    border-left: 5px solid var(--outline);
    border-right: 5px solid var(--outline);
    border-bottom: 5px solid var(--outline);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);

}
#curr{
    border-bottom: 1px solid var(--bgcol);
}
.msg h1{
    margin:20rem 0rem 0rem 0rem; 
    font-size: 4rem;
    text-align: center;
    color: rgb(23, 23, 24);
    text-shadow: 1px 1px 3px rgb(200, 200, 200);
}
.msg p{
    margin:1rem 25rem 0rem 25rem; 
    font-size: 3rem;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgb(200, 200, 200);
    
}
/* footer */
footer{
    position: relative;
    width:100%;
    background-color: rgb(47, 46, 49);
    color: white;
    
}
footer p{
    display: inline;
    margin: 5px 25%;
    font-size: 2rem;
}