*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .5s ease;
    color: whitesmoke;
}
body{
    font-family: monospace;
    font-size: 1.2rem;
     background-image: url(../images/bggif.gif);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* overflow: hidden; */
}
.about{
    height: 100vh;
    width: 100%;
}
nav{
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    margin-bottom: 30px;
}
.heading{
    float: left;
    margin-left: 1.5rem;
    font-size: 1.8rem;
    text-decoration: 7px underline plum;
}
.nav_list{
    float: right;
}
.nav_list a{
    font-size: 2rem;
    margin: 0 1.5rem;
}
.nav_list i:hover{
    color: plum;
}
.info{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.img img{
    height: 37vh;
    object-fit: cover;
    border: 7px solid plum;
}
.info_box{
    margin-left: 40px;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.76);
}
.box{
    display: flex;
    margin-top: 20px;
}
.box_content{
    width: 50%;
}
.label{
    color: plum;
}
.skill{
    margin-top: 20px;
    margin-left: 1.5rem;
}
.skill h1{
    font-size: 1.8rem;
    display: inline-block;
    border-bottom: 7px solid plum;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.wrapper_info{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* margin-top: 0; */
}
.skill_box{
    width: 40%;
    /* margin-right: 20px; */
}
#skillBox{
    margin-left: 30px;
}
.percentage{
    float: right;
}
.progress_bar{
    /* border: 2px solid white; */
    border-radius: 20px;
    background-color: grey;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.bar{
    height: 100%;
    border-radius: 20px;
    background-color: plum;
}
#development_bar{
    width: 85%;
}
#competitive_bar{
    width: 70%;
}
#programing_bar{
    width: 90%;
}
#graphic_bar{
    width: 75%;
}
.skill_info{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.76);
    padding: 20px;
    height: 120px;
    width: 180px;
}
.skill_info h3{
    color: plum;
    font-size: 1.5rem;
}
 @media screen and (max-width:600px) {
    
     body{
         font-size: 0.98rem;
         margin-bottom: 20px;
     }
     .about{
        height: auto;
        min-height: 100vh;
        overflow: hidden;
     }
    nav{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 18vh;
        line-height: normal;
        margin-bottom: 20px;
    }
    .heading{
        width: 100%;
        float: none;
        margin-left: 1.4rem;
        font-size: 1.6rem;
    }
    .nav_list{
        float: none;
        margin-bottom: 20px;
    }
    .nav_list a{
        font-size: 1.8rem;
        margin: 0 1rem;
    }
     .info{
         margin-left: 1.4rem;
         width: 90%;
         height: auto;
         min-height: 40vh;
         flex-direction: column;
         align-items:baseline;
     }
    .img img{
        height: 250px;
        margin-bottom: 10px;
    }
    .info_box{
        margin-left: 0px;
        width: 100%;
    }
    .info_box p{
        margin-top: 10px;
    }
    .box{
        flex-direction: column;
    }
    .box_content{
        width: 100%;
    }
     .skill{
         margin-left: 1.4rem;
     }
     .wrapper{
         flex-direction: column;
         align-items: baseline;
     }
     .skill_box{
         width: 80%;
     }
     .wrapper_info{
         flex-direction: column;
         align-items: baseline;
     }
     .skill_info{
         display: flex;
         flex-direction: column;
         justify-content: center;
         font-size: 1.3rem;
         margin-top: 20px;
        padding: 20px;
        height: 150px;
        width: 100%;
    }
    #skillBox{
        margin-left: 0px;
    }
 }