*margin
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header
{
	width: 100%;
	height: 100vh;
	background-image: url("img/aj1.jpg");
	background-size: 100% 100%;
}

.mybtn
{
	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 20px;
	font-size: 1.2rem;
	cursor: pointer;	 
}
.myul li a
{
	font-size: 1.2rem;
	font-weight: 600;
	color: black;
}

.mybtn2
{
	font-size: 1.2rem;
	border: none;
	border-radius: 30%;
	box-shadow: 5px 5px 5px black;
	padding:10px; 
}