*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;


}

/* navbar css starts */

.navbar{
    width: 100%;
    background-color: #333333;
    height: 45px;
    color: rgb(204, 204, 204);
    position: fixed;
    top: 0;
}

.navbar i{
    font-size: 20px;
}

.nav-item-list{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    margin: auto;
    padding: 12px 12px;
}

.navbar li{
    list-style: none;
    cursor: pointer;
}

.navbar li:hover{
    color: white;
}

.navbar a{
    text-decoration: none;
    color: #75ACE3;
}

.nav-heading{
    font-size: 14px;
    text-align: center;
    padding: 12px 12px;
    padding-top: 55px;
    background-color: #F5F5F7;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: #367cbe;
}

a:hover{
    text-decoration: underline;
}

/* navbar css ends */

/* section1 css starts*/

 section{
    /* margin-top: 130px; */
    text-align: center;
    /* width: 80%; */
    margin: auto;
}

#poster1, #poster2, #poster3 {

    background-image: url("./img/pic1.jpg");
    background-size: cover;

    /*background-size: 100% 100%;*/

    height: 100vh;
    padding-top: 20px;
    background-position: 50px; 
    margin-bottom: 10px;
    background-color: balck;
    cursor: pointer;

}

h1{
    font-size: 53px;
}

h6{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
    color: black;
}

.para1, .para2{
    font-size: 18px;
    font-weight: 400;
    color: #929294;
}

.para2{
    padding-top: 3px;
    font-size: 17px;
}

.links{
    padding-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

#poster2{

    background-image: url("./img/pic2.jpg");

    background-image: url("./images/pic2.jpg");
    /*background-size: 100% 100%;;*/

}

#poster2 > h1{
    margin-top: 20px;
    color: #fff;
}

#poster2 > h6{
    color: #fff;
}

i{
    font-size: 14px;
    
}

#poster3{
    background-image: url("./img/pic3.jpg");
    background-size: 1010px;
    background-repeat: no-repeat;
    /* background-position: 100px; */
    background-position-x: 130px;
    background-position-y: 240px;
    
}

#poster3 .fa-apple {
    font-size: 50px;
}

#poster3 .fa-arrow-right{
    transform: rotate(-45deg);
}

#poster3 p{
    font-size: 27px;
}

#poster3 p:nth-of-type(2){
    padding-top: 0;
}

#poster3 .links{
    font-size: 20px;
}

/* section2 css starts */

.cards{
    display: flex;
}

.cards .box{
    text-align: center;
    width: 50%;
    height: 98vh;
    background-size: cover;
    margin: 10px;
   padding: 20px;
    padding-top: 35px;
    cursor: pointer;
}

#box1{
    background-image: url("./img/pic4.jpg");
    color: white;
}

#box2{
    background-image: url("./img/pic5.jpg");
    color: white;
    padding-top: 48px;
}

#box3{
    background-image: url("./img/pic6.jpg");
}


#box4{
    background-image: url("./img/pic7.jpg");

}

#box5{
    background-image: url("./img/pic8.jpg");
}

#box6{
    background-image: url("./img/pic9.jpg");
}

#box1 h1{
    font-size: 30px;
    letter-spacing: 1px;
}

.box .fa-apple{
    font-size: 40px;
}

.box h3{
    padding-top: 10px;
    letter-spacing: 1px;
}

.box .label{
    color: red;
    letter-spacing: 2px;
}

#box2 h1{
    font-size: 40px;
}


#box3 h1{
    font-size: 40px;
    color: rgb(31, 30, 30);
}

#box4 h1{
    font-size: 35px;
}

#box4 p:nth-of-type(1){
    font-size: 24px;
}

#box5 h1{
    font-size: 35px;
}

#box5 p:nth-of-type(1){
    font-size: 24px;
}

#box6{
    color: white;
    padding-top: 390px;
}

#box6 p:nth-of-type(1){
   font-size: 40px;
   font-weight: 500;
}

#box6 p:nth-of-type(2){
    font-size: 35px;
    letter-spacing: 13px;
 }

 #box6 p:nth-of-type(3){
    font-size: 18px;
    padding-top: 17px;
   
 }

 #box6 span{
     font-family: 'Times New Roman', Times, serif;
 }


/* section2 css ends */

/* section3 css starts */

.payment_info{
    margin-top: 60px;
   margin-bottom: 60px;
}

.image_container{
    width: 24%;
    margin: auto;
}

img{
    width: 100%;
}

.pay_para{
    font-size: 20px;
}

.pay_para sup{
    font-size: 12px;
}

.payment_info .links{
    font-size: 17px;
}

/* section3 css ends */

/* footer css starts */

.footer_details{
    padding: 20px 140px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F7;
    color: #868686;
    font-size: 13px;
}

.footer_details li{
    padding: 4px;
    list-style: none;
}

.info{
    padding-bottom: 20px;
    border-bottom: 1px solid #b4b4b4;
}

.list_items{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.sm_scr{
    display: none;
}

.list_items p {
    line-height: 1.8;
}

.item2, .item4, .item5{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading{
    font-weight: 560;
    color: rgb(88, 88, 88);
}


.last_row{
    border-top: 1px solid #b4b4b4;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

 .para{
    padding-bottom: 14px;
    padding-top: 24px;
}

.list_items p:hover{
  text-decoration: underline;
  cursor: pointer;
  color: rgb(65, 64, 64);
}

.last_row div{
    color: #555555;
    display: flex;
}

.last_row div > p:hover{
    text-decoration: underline;
  cursor: pointer;
  color: rgb(65, 64, 64);
}
.last_row div p {
    padding-right: 20px;
}

/*Adding responsiveness*/
nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer; 
    display: none;
}

#click{
    display: none;
}
/*Media queries*/
@media only screen and (max-width:734px) {

    html,body{
        overflow-x: hidden;
    }
    #poster1{
        background-image: url("./img/pic14.jpg");
        background-position: 10px;
        background-size: 100% 100%;
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        
    }

   #poster2{
    background-image: url("./images/pic2.jpg");
    background-size: 100% 100%;
    }

    #poster3{
        background-image: url("./images/pic3.jpg");
        background-size: 100% 50%; 
    }


    h1{
        font-size: 30px;
        
    }
    
    h6{
        font-size: 17px;
        font-weight: 500;
        padding-bottom: 10px;
        color: black;
    }
    
    
    .para1, .para2{
        font-size: 20px;
        color: #929294;
    }
    
    .para2{
       padding: 0 30px;
        font-size: 19px;
    }
    .category{
        flex-direction: column;
    }
    .cards .box{
        text-align: center;
        width: 100%;
        height: 90vh;
        background-size: cover;
        background-position: 0;
        margin: 0;
       /* margin-bottom: 10px;*/
        padding-top: 35px;
        

    }
    .cards{
        display: block;
        width: 100%;
        background-position: center;
       

    }

    #box1{
        background-image: url("./images/pic4.jpg");
        background-size: 100% 100%;
        

    }
    #box2{
        background-image: url("./img/pic10.jpg");
    }
    #box3{
        background-image: url("./img/pic11.jpg");
    }
    #box4{
        background-image: url("./img/pic12.jpg");
    }
    #box5{
        background-image: url("./img/pic13.jpg");
    }

        /*background-size: 100% 100%;*/
        /*background-size: 100% 100%;*/
        /*background-size: 100% 100%;*/
        /*background-size: 100% 100%;*/
        /*margin-bottom: 0;*/


    .details{
        padding: 18px 14px;
      
    }
    .last_row{
        flex-direction: column;
        gap: 14px;
        border-top: none;
    }
    .lg_scr{
        display: none;
    }
    .sm_scr{
        display: flex;
        flex-direction: column;
    }
    .list_item{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dadada;
        padding: 10px 5px;
        padding-right: 15px;
        
        color: #3d3d3d;
    }
    i{
        font-size: 10px;
        padding-top: 8px;
    }


/* Media queries: making the navbar responsive*/
nav .menu-btn i{ 
    display:block;
    color: #fff;
    padding: 10px;
}

nav ul{
    
    
    background-color:#333333;
    position: fixed;
    left: -100%;
    height: 100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    text-align: center;
    transition: all 0.3s ease ;
} 

#click:checked ~ ul{
    left: 0%;
}

nav ul li{
    margin: 10px 0;
}

}
/*Footer*/
.footer_details{
    padding: 20px 20px;
    background-color: #F5F5F7;
    color: #868686;
    font-size: 13px;
}