    body{
        box-sizing: border-box;    
    }
    #header{
        position: fixed;
        top: 0px;
        width: 100%;
        height: auto;
        display: flex;
        background-color: whitesmoke;
        box-shadow: 5px black;
        z-index: 2;
    }
    #nav-bar{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 5px;
    }
    .nav-link{
      text-align: center;
      align-self: center;
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: darkcyan;
      font-size: 2.5vw;
      height:70%;
      border-radius: 20px;
      margin: 5px;
      padding: 20px 10px 2px 10px;
    }
    .nav-link:hover,#footer-links:hover{
        background-color: rgb(255, 255, 255);
    }
    #header-img{
        position: absolute;
        height: 100%;
    }
    #blank{
        width: 50vw;
    }
    main{
        position: relative;
        top: 12vw;
        margin: 0 4vw 15vw 4vw;
        padding-bottom: 30vw;
        display: grid;
        justify-items: center;
        row-gap: 5%;
    }
    #form{
        display:grid;
        justify-items: center;
    }
    #submit,#email,p{
    font-size: 1.6vw;
    }
    #submit{
        margin-top: 15px;
    }
    #features{
        width:50%;
    }
    h1{
        font-size: 3vw;
        text-align: center;
    }
    div{
        display:flex;
    }
    #video,#product-img{
        max-width: 100%;
    }
    #footer{  
        z-index: 5; 
        margin: 5vw 15vw 0 15vw;
        height: 5vw;
        display: flex;
        background-color: whitesmoke;
        box-shadow: 2px solid black;
    }
    #footer-links{
        text-align: center;
        align-self: center;
        text-decoration: none;
        color: darkcyan;
        font-size: 1.5vw;
        height: 50%;
        border-radius: 20px;
        margin: 5px;
        padding: 20px 10px 10px 10px;
    }
    @media (max-width:1000px){
        main{
            margin-bottom: 20vw;
        }
    }
    @media(max-width:800px){
        main{
            margin-bottom: 30vw;
        }
        .nav-link{
            font-size: 3vw;
        }
        h1{
            font-size: 1.8rem;
        }
        #form p, #email, #submit{
            font-size: 1.1rem;
        }
        #features{
            width: 80%;
        }
        #features p{
            font-size: 1.2rem;
        }
        .prices{
            font-size: 1.2rem;
        }
        .vid{
            height: auto;
        }
        #footer{
            margin: 40vw 15vw 0 15vw;
            height: auto;
            width: 100vw;
        }
        #footer-links{
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width:500px) {
        #footer{
            margin: 70vw 15vw 0 15vw;
        }
    }
