.container {
  background-color: cornsilk;
}
.home {
  background-color: cornsilk;
}

.nav {
  background-color: rgb(182, 88, 85);
}

.nav > ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav > ul > li {
  display: inline-block;
}

body {
  margin: 0px;
}

.main {
  background-color: #c7cfb7;
  margin: 25px;
  border-radius: 12px;
  height: 170px;
}

.head h1 {
  padding: 25px;
  color: #184d47;
  margin-left: 150px;
  line-height: 40px;
}

.text p {
  font-size: 30px;
  color: #1687a7;
  margin-left: 660px;
  margin-top: -169px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.ban img {
  margin-top: 30px;
  margin-bottom: 40px;
}

.emp img {
  margin-left: 239px;
  height: 317px;
  width: 1000px;
  border-collapse: collapse;
  border-radius: 6px;
}

.whole {
  background-color: #ffc478;
  width: 200px;
}

.hole {
  width: 400px;
  background-color: #ffc478;
  height: 963px;
  margin-left: 1285px;
  margin-top: -963px;
}

.mission {
  background-color: cornsilk;
}

.mission h1 {
  text-align: center;
  padding: 25px;
  font-size: xx-large;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration-line: overline;
}

.mission h2 {
  text-align: center;
  font-size: xx-large;
  margin-top: -10px;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.mission p {
  padding: 40px;
  font-size: 25px;
}

.team h1 {
  text-align: center;
  padding: 25px;
  font-size: xx-large;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration-line: overline;
  margin: 0px;
}

.team p {
  text-align: center;
  font-size: xx-large;
  margin-top: -10px;
  text-decoration-line: underline;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.product {
  width: 700px;
  height: auto;
  float: left;
  margin: 5px;
  padding: 5px;
}

.product img {
  width: 350px;
  height: 400px;
  margin-left: 200px;
  border-style: inset;
  border-color: black;
  border-radius: 6px;
}

.caption p {
  padding: 20px;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration-line: none;
}

.nav > ul > li > a {
  font: small;
  color: white;
  padding: 15px;
  font-family: sans-serif;
  text-decoration: none;
  display: block;
}

.nav > ul > li > a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #f8dc81;
}
.banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.banner img {
  width: 1464px;
  height: 600px;
  padding: 25px;
  border-radius: 3px;
}

.footer {
  background-color: black;
  color: white;
  padding: 25px;
  font-size: small;
  height: auto;
}

.foot {
  width: 290px;
  float: left;
  font-family: sans-serif;
}

.foot > ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.foot > ul > li > a {
  color: white;

  display: block;
  text-decoration: none;
  font-size: small;
}

.footer address p {
  font-size: small;
}

.footer address p > a {
  color: teal;
}

.copy {
  padding: 15px;
  background-color: rgb(182, 88, 85);
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.copy p {
  margin: 0px;
}

.clearfix {
  clear: both;
}

.grid {
  margin: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
}

.grid > article {
  background: #eee5e9;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  border: none;
  text-align: centre;
  width: 300px;
  transition: transfor 0.3s;
}

.grid > article:hover {
  transform: translative(5px);
  box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.grid > article img {
  width: 100%;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.butt button {
  background: #ef6f6f;
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid > article {
    text-align: center;
  }
}

.owl-carousel {
  width: 100vw;

  margin: 20px;
}

.owl-carousel .item {
  width: 350px;
}

.bold {
  background-color: #bbdfc8;
  width: 30px;
  height: 320px;
  margin: 50px;
  margin-left: 120px;
}
.women img {
  float: left;
  width: 250px;
  height: 320px;

  margin-left: 34px;
  box-shadow: transparent;
}

.box {
  background-color: #faf3e0;
  margin-left: 250px;
  width: 1100px;
  height: 320px;
}

.box h1 {
  text-align: center;
  padding: 50px;
  font-size: 90px;
}
.box p {
  text-align: center;
  margin-top: -100px;
  font-size: 20px;
}
.bold_m {
  background-color: #f0c929;
  width: 30px;
  height: 320px;
  margin: 50px;
  margin-left: 120px;
}
.men img {
  float: left;
  width: 250px;
  height: 320px;

  margin-left: 34px;
  box-shadow: transparent;
}

.box_m {
  background-color: #eff0b6;
  margin-left: 250px;
  width: 1100px;
  height: 320px;
}

.box_m h1 {
  text-align: center;
  padding: 50px;
  font-size: 90px;
}
.box_m p {
  text-align: center;
  margin-top: -100px;
  font-size: 20px;
}

.bold_k {
  background-color: #709fb0;
  width: 30px;
  height: 320px;
  margin: 50px;
  margin-left: 120px;
}
.kid img {
  float: left;
  width: 250px;
  height: 320px;

  margin-left: 34px;
  box-shadow: transparent;
}

.box_k {
  background-color: #d3e0dc;
  margin-left: 250px;
  width: 1100px;
  height: 320px;
}

.box_k h1 {
  text-align: center;
  padding: 50px;
  font-size: 90px;
}
.box_k p {
  text-align: center;
  margin-top: -100px;
  font-size: 20px;
}

.decor_k {
  width: 456.4;
  height: auto;
  float: left;
  margin: 25px;
  margin-left: 160px;
}

.decor_k img {
  height: 360px;
  width: 280px;
}
