.app-container {
    margin: 0 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    order: 1;
}

.app {
    width: 50%;
    max-width: 234.42px;
    margin-bottom: 38px;
    display: flex;
    justify-content: start;
}

.app-img {
    width: 50px;
}

.app-details {
    margin-left: 5px;
}

.app-title {
    font-size: 1.3rem;
    color: #3366cc;
}

.app-description {
    font-size: 1.3rem;
}