footer {
    margin-top: 20px;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.3rem;
}

footer a {
    color: #3366cc;
}

footer a:hover {
    text-decoration: underline;
}