@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  letter-spacing: 1px;
}

/* NAVIGATION */

.navigation {
  background-color: rgba(238, 238, 238, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo {
  color: rgb(39, 190, 236);
  font-size: 3rem;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}

.nav {
  position: relative;
  display: flex;
}

.nav-item {
  list-style: none;
  margin: 0 1rem;
  position: relative;
}

.nav-link {
  position: relative;
  padding: 0.5rem 1rem;
  color: rgb(39, 190, 236);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.active,
.nav-link:hover {
  color: black;
  background: #febc1d;
  border-radius: 1rem;
  font-size: 2rem;
}

/*  HEADER/INTRO SECTION */

.intro {
  font-size: 3rem;
}

.intro-img {
  width: 100%;
  height: 30%;
  padding: 1% 20%;
  display: flex;
  justify-content: center;
}

.intro-heading {
  margin-top: 2rem;
  text-align: center;
}

.subscribe {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.input-sub {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  margin-right: 1.6rem;
  padding: 1rem;
  max-width: 50%;
}

/*  ABOUT SECTION */

#about-sec {
  background-color: rgba(238, 238, 238, 0.8);
  padding: 3rem;
}

.heading,
.about-body {
  font-size: 3rem;
  text-align: center;
}

.heading {
  color: rgb(39, 190, 236);
  margin-bottom: 2rem;
}

.about-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2rem;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.about-block {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 3rem 1rem;
  max-width: 40rem;
}

.about-info-div {
  padding: 1rem;
  text-align: center;
}

.about-img {
  width: 20rem;
  margin: -1rem 0;
}

.about-info-header {
  padding-bottom: 3%;
}

/* YOGA SECTION */

.yoga-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
}

.yoga-img {
  width: 100%;
}

.yoga-text {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 50%;
  padding: 5rem;
}
.yoga-text-head {
  color: purple;
}

.yoga-text-body {
  line-height: 1.2;
  margin: 2rem 0;
}

/* SERVICES SECTION */

.services {
  background-color: rgba(238, 238, 238, 0.8);
  margin: 2rem 0;
  padding: 5rem 0;
}

.services-info {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5rem 0;
}
.services-img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 1rem;
}

.services-img {
  border-radius: 5px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.7);
  width: 32rem;
}
.services-img:hover{

  box-shadow: -1rem 1rem  rgb(228, 190, 2),1rem -1rem rgb(236, 24, 24),0 1rem 4rem rgba(239, 239, 239, 0.7);
  width: 32rem;
}

.button-sub-1 {
  text-align: center;
}

/* CONTACT SECTION */

.contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5rem 0;
}

.contact-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 40%;
  font-size: 1.7rem;
  padding: 0 5rem;
}

.contact-detail {
  line-height: 1.3;
}

.contact-heading {
  color: purple;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
}

.contact-form {
  border-radius: 3px;
  padding: 2rem;
  width: 100%;
}

.contact-input-container {
  padding: 1.4rem 2rem;
  width: 100%;
}

.input,
.msg-input {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  width: 100%;
  padding: 1.5rem 2rem;
  transition: all 0.2s;
}

.input:focus,
.msg-input:focus {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  outline: none;
}

/* SOCIAL ICONS */

.socio {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}

.icon {
  color: rgb(39, 190, 236);
  margin-right: 2rem;
  transition: all 0.2s;
}

.icon:hover {
  color: #feba1d;
  transform: scale(1.1);
}

/* BUTTON STYLE */

.btn {
  color: white;
  background-color: purple;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  padding: 1rem 2rem;
  transition: all 0.2s;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  transform: translateY(-4px);
}

.btn:focus {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btn-box {
  margin-top: 2rem;
  text-align: center;
}

/* MEDIA QUERIES */

/* FOR 750px   1em = 16px */
@media only screen and (max-width: 46.875em) {
  .navigation {
    flex-direction: column;
    position: sticky;
    padding: 0.5rem 0;
    top: 0;
  }

  .nav {
    margin-top: 0.5rem;
  }

  .nav-item {
    margin: 0 0.5rem;
  }
}

/* FOR 600px   1em = 16px */
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }

  .yoga-div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .yoga-div .btn {
    margin: auto;
  }

  .yoga-text {
    max-width: 100%;
  }

  .contact {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .contact-info,
  .contact-container {
    margin: auto;
  }

  .contact-heading {
    margin-bottom: -1rem;
    text-align: center;
  }

  .contact-detail {
    display: none;
  }

  .socio {
    margin-left: auto;
  }
}

/* FOR 600px   1em = 16px */
@media only screen and (max-width: 18.75em) {
  html {
    font-size: 45%;
  }
}
