body{
  
    margin-left:280px;
    margin-top:60px;
    background: linear-gradient(-45deg, #141414e1, #f389ac, #110010e8, #f3eded);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    
   
}
canvas { 
     background-image: url("https://i.pinimg.com/originals/ce/33/72/ce33721232fb5e0939a4b6a72b4aeef1.jpg");  
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 80vh;
    width: 60vw;
    display:flex;
    align-items: center;
    justify-items: center;
  
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
