/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato" !important;
}

/* Navigation Bar */
header .navbar {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
}

header .navbar .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Landing Page */
#landing-page {
  position: relative;
}

#landing-page .container-fluid {
  background: url(./img/landing-image.jpeg);
  height: 100vh;
  background-size: cover;
  position: relative;
}

#landing-page .container-fluid::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}

#landing-page .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#landing-page .container h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: white;
  text-transform: uppercase;
  line-height: 1.75;
  letter-spacing: 5px;
  width: 60%;
  font-size: clamp(2.25rem, 4.5vw, 3rem);
}

#landing-page .container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  margin: 15px 0;
  line-height: 2;
  opacity: 0.6;
  letter-spacing: 1px;
  width: 60%;
}

#landing-page .container .circle {
  height: 150px;
  width: 150px;
  background-color: black;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -75%);
  border-radius: 50%;
  opacity: 0.5;
  margin-top: 20px;
  border-top: 3px solid white;
  border-left: 1.5px solid white;
  border-right: 1.5px solid white;
  border-bottom: none;
}

#landing-page .container .circle::before {
  content: "Discover";
  color: white;
  letter-spacing: 2px;
  font-size: 1.25rem;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* Our Products */
#our-products .container h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.75;
  font-size: clamp(2rem, 4vw, 2.75rem);
}

#our-products .container p {
  text-align: center;
  letter-spacing: 2px;
  width: 75%;
  margin: auto;
  opacity: 0.75;
}

/* Footer */
#footer .navbar .navbar-brand {
  text-transform: uppercase;
  letter-spacing: 3px;
}

#footer .container {
  padding-top: 75px;
  padding-bottom: 75px;
}

/* Media Queries */
@media (max-width: 991px) {
  header .navbar .navbar-nav {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.95);
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar .navbar-nav .nav-item {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: auto;
  }
  #landing-page .container h1 {
    width: 100%;
  }
  #landing-page .container p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #landing-page .container .circle {
    margin-top: 40px;
  }
  #our-products .container p {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #landing-page .container-fluid {
    background-position: 30% 0;
    background-repeat: no-repeat;
  }
  #footer .navbar .container {
    flex-direction: column !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #footer .navbar .navbar-nav {
    flex-direction: column !important;
  }
  #footer .navbar .navbar-brand {
    margin: 0 0 25px;
    padding: 0;
    text-align: center;
  }
  #footer .navbar .nav-item {
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  #landing-page .container p {
    margin-top: 60px;
  }
  #landing-page .container .circle {
    margin-top: 90px;
  }
}