.url-list{
    margin-bottom: 120px;
}
.url-listItem{
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.url-original{
    color: var(--color-neutral-4);  
}

.url-shortened{
    color: var(--color-primary-1);
    
}
.url-original,
.url-shortened{
    padding: 16px 24px;
}

.url-shortened button{
    border-radius: 5px;
    margin-left: 24px;
    padding: 12px 32px;
}

.copied{
    background-color: var(--color-primary-2);
}

button.url-shortened--copied{
    background-color: var(--color-primary-2);
}


@media (max-width: 603px){
    .url-list {
        margin-bottom: 90px;
    }
    .url-listItem{
        flex-direction: column;
        align-items: flex-start;
    }
    .url-original{
        width: 100%;
        border-bottom: 1px solid var(--color-neutral-1);
        padding-bottom: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .url-list div {
        width: 100%;
    }
    .url-shortened button{
        margin: 12px 0 0;
        display: block;
        width: 100%;
    }
}