:root{
    --color-primary-1: #2acfcf;
    --color-primary-2: #3b3054;

    --color-secondary: #f46262;

    --color-neutral-1:#bfbfbf;
    --color-neutral-2:  #9e9aa7;
    --color-neutral-3: #35323e;
    --color-neutral-4: #232127;
    font-size: 62.5%;
}

.color-neutral-3{
    color: var(--color-neutral-3)
}

.title-xl{
    font-size: 6.4rem;
    line-height: 1.125;
}

.title-l{
    font-size: 4.2rem;
}

.title-m{
    font-size: 3.2rem;
}

.title-s{
    font-size: 2.4rem;
}
.text{
    font-size: 1.8rem;
    color: var(--color-neutral-2);
    line-height: 1.8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    width: 100%;
}

.container{
    width: 90vw;
    max-width: 1150px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-small, .btn-medium{
    color: #fff;
    background-color: var(--color-primary-1);
    display: inline-block;
    transition: all 0.3s ease;
}

.btn-small{
    padding: 10px 24px;
    border-radius: 45px;
}

.btn-medium{
    padding: 14px 40px;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 70px;
}

.btn-small:hover,
.btn-medium:hover{
    background-color: #9be3e2;
}

.text-center{
    text-align: center;
}

@media (max-width: 992px){
    .container{
        max-width: 725px;
    }
    .title-xl{
        font-size: 4.2rem;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 610px;
    }
    .title-xl{
        font-size: 3.2rem;
    }
}

@media (max-width: 375px) {
    .title-m{
        font-size: 2.4rem;
    }
}