*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
        background-image: rgb(197, 110, 255);
background: linear-gradient(180deg, rgb(197,110,255) 28%, rgba(247,233,153,1) 99%);
min-height: 140vh;
}
center p{
    font-family: 'Maiandra GD';
    color: rgba(247,233,153,1);
}

h1{
    font-size: 50px;
    font-family: 'Mongolin' curisve;
   color:maroon;
}
p{
    font-size: 20px;
    color: rgb(2, 66, 66);
}
body {
  box-sizing:border-box;
margin:0;
padding:0;
}
/*
#main-navbar {
  font: 1.5em;
  background:rgb(197, 110, 255);
 
}*/

/*------*/
#conta {
  position: absolute;
    top: -20px;
    width:1200px;
  margin:5% auto;
  
  box-shadow: -2px -2px 5px white,2px -2px 5px white;
}
#conta > nav {
  width:100%;
  display:flex;
  max-height:60px;
}
#logo {
  line-height:60px;
  font-size:40px;
  padding: 0 50px;
  color:maroon;
  width:45%;
  letter-spacing:2px;
  font-weight: bolder;
}
#conta > nav > ul {
  margin:0;
  padding:0;
  list-style-type:none;
  display:flex;
  position:absolute;
    right:50px;
    font-size: larger;

}
#conta > nav > ul > li {
  line-height:60px;
  margin: 0 0px;
  padding:0;
  text-align:center;
  display:inline-block;
  
/*   background-color:green; */
  min-width:120px;

} 
#conta > nav > ul > li > a {
  position:relative;
/*   background-color:red; */
  margin: 0 20px;
    color:white;
}
#conta > nav > ul > li:hover {
  border-bottom: 2px solid white;
  background-color: maroon;
}
#conta > nav > ul > .dropdown:hover {
  border-bottom:none;
}
#conta > nav > ul > .dropdown:hover >  .dd
{
  display:inline-block;
  
  
}
.dropdown:hover > a .fa-caret-down {
  display:none;
}
a {
  text-decoration:none;

}

#conta > nav > ul > li > div {
  position:absolute;
  padding: 0 10px;
  
  background-color:black;
  display:none;
  background-color:aliceblue;
  min-width:100px;
}

#conta > nav > ul > li > div > ul {
  margin:0px 0 10px 0;
  padding:0;
  list-style:none;
}
#u_a_c {
  position:relative;
  width:100%;
/*   background-color:red; */
}
#up_arrow {
  position:relative;
  width:20px;
  height:20px;
  left:42%;
  top:-10px;
  background-color:aliceblue;
  transform:rotate(45deg);
}
#conta > nav > ul > li> div > ul > li:hover {
  background-color:rgb(194, 104, 236);
}
#conta > nav > ul > li > div > ul > li > a {
  padding : 5px;
    color:black;
}
	




.container{
    margin-top: 150px;
    position: relative;
    width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card{
    position: relative;
    max-width: 300px;
    height: 300px;
    background: rgb(204, 196, 196);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    
}
.container .card:hover{
    height: 550px;
    cursor: pointer;
}
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
    height: 200px;
}

.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
    cursor: pointer;
}
.content h2{
    font-size: 30px;
    font-family: 'Maiandra GD';
    padding-bottom: 10px;
    color:rgb(7, 107, 45);
}
.content p{
    font-size: 15px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(117, 5, 14);
}
.btn{
    margin: 15px;
    display: inline-block;
    text-decoration: none;
    color: rgb(12, 100, 53);
    border: 1px solid rgb(12,100,53);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid rgb(3, 93, 59);
    background: rgb(3, 93, 59);
    transition: 0.5s;
    color: #fff;
}

.testimonials{
  padding: 40px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial{
  background: #fff;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color:green;
  margin-bottom: 20px;
}



.footer-area {
	/*margin-top: 100px; */
	padding: 100px ;
	padding-bottom: 50px;
	background: #cd90f6;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2749c4', endColorstr='#6085b2',GradientType=1 );
	color:#fff;
	position:relative;
  }
  .foot1 {
	width: 1200px;
	margin: 0 auto;
  }
  .footer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
  }
  .single-footer {
	width: 240px;
  }
  .single-footer:first-child {
	width: 400px;
  }
  .single-footer h4 {
	text-transform: capitalize;
	font-size: 22px;
	margin-bottom: 20px;
	padding-left: 30px;
  color:maroon;
  }
  .ab1 h4{
	padding-left: 0px;
  }
  .footer-social a {
	color: #fff;
	border: 1px solid #fff;
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	transition: 0.3s;
  }
  .footer-social a:hover{
	  background: #003399;
  }
  .footer-social {
	margin-top: 20px;
  }
  .footer li {
	  color: #003399;
  }
  .single-footer ul {
	list-style: none;
  }
  .single-footer ul li {
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
  margin-left: 20px;
  }
  .single-footer ul li a {
	color: #003399;
	text-transform: capitalize;
	text-decoration: none;
  font-weight: bolder;
  font-size: 1.15em;
  }
  .single-footer ul li :hover{
    color:maroon;
  }
  .footer p{
  color: #003399;
    font-family: cursive;
	text-decoration: none;
  font-weight: bold;
  font-size: 1.15em;
  }
  .single-footer ul li a i {
	position: absolute;
	left: 0;
	top: 5px;
  }
  
  .copy p {
	text-align: center;
	text-transform: capitalize;
	margin-top: 50px;
  color:#003399;
  font-weight: bolder ;
  font-family: cursive;
  font-size: 1.25em;
  }
  @media only screen and (max-width:600px){
    .foot1{
      width:320px;
    }
    .footer-wave-box {
      display: none;
    }
    .single-footer:first-child, .single-footer {
      width: 100%;
      margin-bottom:30px;
    }
    }
    #vid
    {
      width:70%;
      height:450px;
      margin-left: 16%;
    }

    @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

    :root {
      --text-color: hsla(210, 50%, 85%, 1);
      --shadow-color: hsla(210, 40%, 52%, .4);
      --btn-color: hsl(210, 80%, 42%);
      --bg-color: #141218;
    } 
    #btt {
      width: 500px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 33%;
      background-color: var(--bg-color);
    }
    
    button {
      position:relative;
      padding: 10px 20px;  
      border: none;
      background: none;
      cursor: pointer;
      
      font-family: "Source Code Pro";
      font-weight: 900;
      text-transform: uppercase;
      font-size: 30px;  
      color: var(--text-color);
      
      background-color: var(--btn-color);
      box-shadow: var(--shadow-color) 2px 2px 22px;
      border-radius: 4px; 
      z-index: 0;  
      overflow: hidden;   
    }
    
    button:focus {
      outline-color: transparent;
      box-shadow: var(--btn-color) 2px 2px 22px;
    }
    
    .right::after, button::after {
      content: var(--content);
      display: block;
      position: absolute;
      white-space: nowrap;
      padding: 40px 40px;
      pointer-events:none;
    }
    
    button::after{
      font-weight: 200;
      top: -30px;
      left: -20px;
    } 
    
    .right, .left {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
    .right {
      left: 66%;
    }
    .left {
      right: 66%;
    }
    .right::after {
      top: -30px;
      left: calc(-66% - 20px);
      
      background-color: var(--bg-color);
      color:transparent;
      transition: transform .4s ease-out;
      transform: translate(0, -90%) rotate(0deg)
    }
    
    button:hover .right::after {
      transform: translate(0, -47%) rotate(0deg)
    }
    
    button .right:hover::after {
      transform: translate(0, -50%) rotate(-7deg)
    }
    
    button .left:hover ~ .right::after {
      transform: translate(0, -50%) rotate(7deg)
    }
    
    /* bubbles */
    button::before {
      content: '';
      pointer-events: none;
      opacity: .6;
      background:
        radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
        radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
        radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
    
      width: 100%;
      height: 300%;
      top: 0;
      left: 0;
      position: absolute;
      animation: bubbles 5s linear infinite both;
    }
    
    @keyframes bubbles {
      from {
        transform: translate();
      }
      to {
        transform: translate(0, -66.666%);
      }
    }