
*{
    margin:0px;
    padding: 0px;
}
  
a:hover{
    text-decoration: none;
}
#header{
    background-color: rgb(202, 26, 149);
    color: #fff;
    margin-bottom: 29px;
}
.menu{
list-style: none;
margin:0px;
padding: 0px;;
}
.menu li{
    display: inline-block;
    margin-top: 9px;
    font-size: 1.2rem;
}
.menu li a {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    font-weight: bold;
}
.menu li a:hover{
    color: black;
}
#logo{
    font-size: 2rem;
    margin-top: 5px;
}
.imagebox img{
    height: 88%;
    width:100%;
    border-radius: 230px;
    text-align: center;
 }
 .imagebox {
     text-align: center;
 }
 
 .head{
     font-weight: bold;
     font-size: 4rem;
     color: green;
     padding: 0px;
    margin: 0px;
}
 .title{
     font-size: 3rem;
     padding: 0px;
    margin: 0px;
}
.sm-but{
    color: white;
    background-color: black;
    border: 3px solid black;
    border-radius: 3px;
    font-size: 1.3rem;
    width: 7rem;
    cursor: pointer;
}
.sm-but:hover{
    color: black;
    background-color: white;
}
.search{
    font-size: 1.3rem;
    text-align: center;
    color: black;
}
.button{
    margin-top:1.5rem;
}
.abouthead{
    /* background-color: green; */
    color: black;
    font-size: 3rem;
    font-weight: bold;
    display: inline-block;
    /* border-radius: 3.5px; */
    /* margin-bottom: 35px; */
    /* border: 2px solid black; */
    /* width: 24rem; */
   /*  display: inline-block; */
   padding:7px;
}
.sm{
    border-radius: 13px;
}
.aditya{
    display: inline-block;
    text-align: center;

}
.section{
    padding-top: 40px;
    /* padding-bottom: 40px; */
}
.fresh{
    display: inline-block;
    padding-left: 13px;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom:23px;
}
.freshveg{
    text-align: center;
}
.gr{
color:green;
}
.cl{
    color: green;
}
.freshveg img{
    width:100%;
    height: 100%;
}
.aman img{
    /* border-radius: 60%; */
    /* border:2px solid black; */
    height: 95%;

}
.roy img{
     width:100%;
}
.your{
    padding-top: 24px;
}

#testimonials{
	color:black;
	background-size: cover;
	padding: 5px 0;
	position: relative;
}
.testimonial img{
	border-radius: 50%;
	margin-bottom: 5px;
    height:30vh;
    border:2px solid rgb(192, 74, 38);
}
.text{
    text-align: center;
    /* color: black; */
}
.section-heading{
        /* background-color: green; */
        /* color: black; */
        font-size: 3rem;
        font-weight: bold;
        /* border-radius: 3.5px; */
        /* margin-bottom: 35px; */
        /* border: 2px solid black; */
        /* width: 24rem; */
        display: inline-block;
       /* padding:7px; */
}
.section-heading2{
    /* background-color: green; */
    font-size: 3rem;
    font-weight: bold;
    /* border-radius: 3.5px; */
    /* margin-bottom: 35px; */
    /* border: 2px solid black; */
    /* width: 24rem; */
    display: inline-block;
   /* padding:7px; */
   color: green;
}
.com{
    font-weight: bold;
}
.vinayak{
    text-align: center;
}
.name{
    text-align: center;
    margin-bottom: 27px;
    margin-top: 27px;
}
.contname{
    text-align: center;
    margin-bottom: 27px;
    margin-top: 27px;
}
.order{
    height:130vh;
    /* border: 2px solid red; */
    text-align: center;
    height: 70%;
    padding: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(./img/background.jpg) center/cover; 
}
.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
    text-align: center;
    height: 55px;
}
.btn{
    color: white;
    background-color: black;
    border: 3px solid black;
    border-radius: 13px;
    font-size: 1.3rem;
    width: 19rem;
    cursor: pointer;
}
.yo-yo{
    text-align: center;
}
.btn:hover{
    color: black;
    background-color: white;
}
#footer-sidebar{
	color: #fff;
	background: #34495e;
	padding: 20px 0;
    margin-top: 45px;
    text-align: center;
}

.footer-widget h4:after{
	content: "";
	background: #fff;
	display: block;
	width: 50px;
	height: 2px;
	margin: 5px auto;
}

.footer-widget a{
	color: #fff;
}
#footer{
	color: #fff;
	background: #2c3e50;
	padding: 10px 0;
    text-align: center;
}
#social-icons{
	list-style: none;
	color: #fff;
	margin: 0;
	padding: 0;
}

#social-icons li{
	display: inline-block;
	padding-left: 5px;
}
#social-icons li a{
	color: #fff;
	font-size: 23px;
}
#social-icons li a:hover{
    text-decoration: none;
}

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 78px;
    right: 29px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}
