/* Navigation */

#navbar{
    flex-direction: column;
    position: sticky;
    top: 0%;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 8px;
}

/* Home Section */
#home{
height: 350px;
padding: 20px 22px;
}
#home::before{
    height: 450px;
}
#home p{
    font-size: 0.7rem;
}
/* Services Section */
#services{
flex-direction: column;
}
#services .box img{
    height: 12vh;
}

#services .box{
margin: 6px 2px;
}

/* Clients Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 55px;
    
    padding: 2px 6px;
}
#client-section{
    height: auto;
}
/* Contact us Section */
#contact-box form {
    width: 67%;
}
/* Footer */

/* Utility */
.h-primary{
    font-size: 1.2rem;
}
.h-secondary{
    font-size: 1rem;
}
.btn{
    font-size: 0.5rem;
    padding: 4px 6px;
}