/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

#navbar{
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
   position: sticky;
}
#navbar::before{
    content: "";
    background-color: black;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.7;
}
/* Navigation bar Logo and image */

#logo{
    margin: 12px 24px;
}
#logo img{
    height: 40px;
    margin: 2px 6px;
}
/* Navigation Bar:List Styling */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar ul li{
    list-style: none;
    font-size: 1.4rem;
}
/* Agr li m padding de dete toh anchor tag pe hover krne pe vo box nhi ban paata */
#navbar ul li a{
    /* By default anchor is an inline element toh padding nhi de paenge isliye block kiya */
    text-decoration: none;
    display: block;
    padding: 4px 12px;
    color: white;
    
}
#navbar ul li a:hover{
    background-color: white;    
    color: black;
    border-radius: 12px;
}
/* Home styling */
#home{
    display: flex;
    flex-direction: column;
    height: 310px;
    
    align-items: center;
    padding: 20px 20px;
}
#home::before{
    content: "";
    position: absolute;
    background:url('../img/bg1.jpg') no-repeat center center/cover;
    height: 450px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    color: #272d35cc;
    text-align: center;
    font-family: 'Bree Serif', serif;
    margin-bottom: 10px;
}
.home__text{
    color: #272d35cc;
    text-align: center;
    font-size: 22px;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
   padding: 29px;
   margin: 5px 30px;
   border-radius: 20px;
   background-color: #f2f2f2;
   margin-bottom: 20px;
}

.services-container{
    width: 100%;
}
#services .box img{
    height: 20vh;
    margin: 23px 63px;
}
#services .box p{
    font-family: 'Bree Serif', serif;
    font-size:1.0rem;
}

/* Clients Styling */
#client-section{
    height: 300px;
    margin: auto;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/pic1.jpg') no-repeat center center/cover;
    /* background-size: 100%; */
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.client-item{
    padding: 34px;
    background-color: rgba(255, 255, 255, 0.60);
}
#clients img{
 height: 80px;
 width: 80px;
}

/* Contact Section */

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 88%;
    z-index: -1;
    opacity: 0.8;
    background: url('../img/Contact.jpg') no-repeat center center/cover;
}

/*  */
.form-group input#name:hover{
    background-color:lightgrey;
}

.form-group input#email:hover{
    background-color:lightgrey;
}

.form-group input#phone:hover{
    background-color:lightgrey;
}

.form-group textarea#message:hover{
    background-color:lightgrey;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
    background-color: rgba(255, 255, 255, 0.60);
}
#contact-box input,#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 12px;
    font-size: 1rem;
}
#contact-box form{
    width: 30%;
}
#contact-box label{
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
}

/* Footer Styling */
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Classes */
.h-primary{
    font-size: 2.8rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
    margin: 25px auto 10px auto;
    top: 20px;
}
input{
    margin: 10px;
    left: -8px;
    height: 30px;
}
.h-secondary{
    font-size: 1.8rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding: 10px 18px;
    margin-top: 28px;
    background-color: teal;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
    
}
.btn:hover{
    background-color: #3b5a5ae6;
    
}
.center{
    text-align: center;
}
html{
    scroll-behavior: smooth;
}

@media screen and (max-width: 500px) {
    #navbar ul li{
        font-size: 15px;
        text-align: center;
    }
    #navbar ul li a{
        text-decoration: none;
        display: block;
        padding: 4px 4px;
        color: white;
        
    }
    .item{
        padding: auto;
    }
    .home__text{
        font-size: 16px;
    }
    .h-primary{
        font-size: 2.2rem;
    }
    #services{
        display: inline;
    }
    #services .box{
        border: 2px solid brown;
       padding: 29px;
       margin: 4px 39px;
       border-radius: 20px;
       background-color: #f2f2f2;
       margin-bottom: 10px;
    }
    #services .box img{
        height: 10vh;
        
    }
    #services .box p{
        font-family: 'Bree Serif', serif;
        font-size:15px;
    }
    .h-secondary{
        font-size: 1.3rem;
    }
    #clients img{
        height: 40px;
        width: 40px;
       }
       .client-item{
        padding: 10px;
    }
    #contact-box form{
        width: 60%;
    }
}