
.mynav li a
{
	color: black;
	font-size: 1.2rem;
	font-weight: 600;
}
.mybg
{
	background:url("img/bg.jpg");
	height: 100vh;
}
.mybg2
{
	background:url("img/bg2.jpg");
	background-repeat: no-repeat;
	height: 60vh;
}
.myprogress .progress
{
	background-color: #F9F3F3;
	height: 5px;
}
.myprogress .progress .progress-bar
{
	background-color:#00CCCC;
	height:5px;
}
.myicons
{
	background-color: #F9F3F3;
}
.mypics .card
{padding: 0;}
.myicons .row .card
{
background-color: #F9F3F3;
border: none;
}
.myicons .row .card p
{
	color:black;
	opacity: 0.8;

}
.mycrousel p 
{
	font-weight: 650;
}
.mybtn1
{
	background-color:#00CCCC;
	color: #fff;
	padding: 10px 20px;
	font-weight: 500;
}
.mylinks a 
{
	color:#D3D3D3;
}

@media screen and (max-width:1100px) {
   .mybg
{
	background:url("img/bg3.jpg");
	height: 100vh;
}

}
