#secondnav div ul li a 
{
	color:#fff;
	font-size: 1rem;
	margin-right:10px;
	margin-top: 2px;
}
#slider::before
{
	
	height: 22vh;
	width: 30vw;
	font-size: .9rem;
	position: absolute;
	right:20px;
}

/*tiles1*/
#titles1
{
	margin-top:20px;
	margin-bottom: 20px;
	height: 90vh;
	display:flex;
	flex-direction: column;
}
.aj
{
    width:25vw;
    display: flex;
    flex-direction: row;
    height: 40vh;
    border:none;
    /*background-color: yellow;*/
}
.aj img
{
	width: 10vw;
	height: 40vh;
	/*background-color: red*/
}




/*tile2*/
#titles2
{
	height: 45vh;
	/*border: 2px solid red;*/
	display: flex;
}
#titles2 > div
{
	height: 40vh;
	width: 49%;
	display: flex;
	margin: 10px;
	/*border: 2px solid red;*/
}
#titles2 div a
{
	color: #800040;
}
#titles2 #tileaj
{
	height:35vh;
	width: 35vw;
	margin: 20px;
	border-radius: 50%;
}
#titles2 #tileaj img
{
width: 100%;
height: 100%;
border-radius: 50%;
}
#titles2 #tileaj2
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex-direction: column;
	/*border: 2px solid green;*/
	height:37vh;
	margin: 10px;
}
#quotes
{
display: flex;
height:37vh;
flex-direction: column;
align-items: center;
/*background-color: yellow;*/
}
#quotes::before
{
	width: 10vw;
	height:10vh;
	position: relative;
	right:30%; 
	background-image:url("img/quotes.png");
	background-size: 100% 100%;

}
#addv
{
	height: 20vh;
	/*border: 2px solid red;*/
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #800040;
	color: #fff;
}
#addv #addv1
{
	/*background-color: yellow;*/
	width: 60vw;
	height: 17vh;
	padding: 10px;
}
#addv #addv1 h1
{
	font-size: 1.5rem;
}
#addv #addv2
{
	width: 20vw;
	height: 17vh;
	display: flex;
	justify-content:center;
	/*background-color: red;*/
	font-size: 1.1rem;
	align-items: center;
}
#addv #addv2 button
{
	background-color: #fff;
	color: purple;
	border: none;
	font-size: 1.1rem;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
#footer1
{
	height: 67vh;
	/*border: 2px solid red;*/
	display: flex;
	background-color: rgb(219, 218, 193);
}
#footer1 #footer11
{
	width: 44vw;
	height: 67vh;
	/*border: 2px solid red;*/
}
#footer1 .footer11
{
	width:43vw;
	display: flex; 
	flex-direction: row;
	height: 30vh;
	background-color: rgb(219, 218, 193);
	border: none;
	/*border: 2px solid green;*/
	font-size: .8rem;
	margin-top: .5vh;
}
#footer1 .footer11 img
{
	width: 10vw;
	height: 29vh;
}
#footer1 #footer12
{
width: 24vw;
height: 64vh;
display: flex;
align-items: center;
flex-direction: column;
margin: 10px;
/*border: 2px solid green;*/
}
#footer1 #footer13
{
margin: 10px;
width: 24vw;
height: 64vh;
/*border: 2px solid green;*/
}