#slider::before
{
	height: 35vh;
	width: 30vw;
}
/*tiles1*/
#titles1
{
	margin-top:5px;
	margin-bottom: 20px;
	height: 100vh;
	display:flex;
	flex-direction:row;
}
#titles1 .aj
{
	/*background-color: red;*/
	width: 40vw;
	height: 30vh;
}
#titles1 .aj img
{
	width: 10vw;
	height: 30vh;
}
#tilerow
{
	height: 100vh;
	width: 50vw;
	margin: 10px;
	/*border: 2px solid green;*/
	display: flex;
	flex-direction: column;
	/*background-color: pink;*/
}
