
#firstnav
{
	display: flex;
	flex-direction: column;
	height: 33vh;
}
#innerfirstnav
{
	position: absolute;
	left:10px;
	top:12vh;
}
#slider::before
{
	display: none;
}


/*tiles1*/
#titles1
{
	margin-top:5px;
	margin-bottom: 10px;
	height: 250vh;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}
#tilerow
{
	height: 120vh;
	width: 90vw;
	margin: 5px;
}
#titles1 .aj
{
	/*background-color: red;*/
	width: 80vw;
}
#titles1 .aj img
{
	width: 20vw;
	height: 25vh;
}


/*title2*/	
#titles2
{
	height: 100vh;
	/*border: 2px solid red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#titles2 > div
{
	height: 40vh;
	width: 100vw;
	display: flex;
	margin: 10px;
	/*border: 2px solid red;*/
}
#titles2 #tileaj
{
	display: none;
}

#quotes::before
{
	display: none;
}


#addv
{
	margin-top: 20vh;
	width: 100%;
	height: 50vh;
	border: 2px solid red;
	display: flex;
	flex-direction: column;
}
#addv #addv1 h1
{
	font-size: 1rem;
}
#addv #addv1
{
	/*background-color:yellow;*/
	height: 25vh;
	width: 90vw;
}
#addv #addv2
{
	margin-top: 20px;
	width: 100vw;
	height: 10vh;
}
#addv #addv2 button
{
	font-size: 1.1rem;
}


#footer1
{
	margin-top: 30vh;
	height: 200vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#footer1 #footer11
{
	width: 100vw;
	height: 73vh;
	margin-top: 20px;
	margin-bottom: 50px;
	/*border: 2px solid red;*/
	/*background-color: yellow;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#footer1 .footer11
{
	width: 90vw;
	height: 40vh;
}
#footer1 .footer11 img
{
	width: 80%;
	height: 80%;
}
#footer1 #footer12
{
margin-bottom: 50px;
width: 100vw;
height: 60vh;
}
#footer1 #footer13
{
margin: 10px;
width: 90vw;
height: 72vh;
/*border: 2px solid green;*/
}
#footer1 #footer13 #footer131
{
	/*border: 2px solid red;*/
	height: 65vh;
}
#lastfooter
{
	width: 100vw;
	height: 30vh;
	display: flex;
	flex-direction: column;
}