h5
{
	color:#800040;
}

/*first nav*/
#firstnav
{
	background-color: rgb(219, 218, 193);
	display: flex;
	height: 20vh;
	font-family: 'Merriweather', serif;
}
#firstnav button
{
	color: #fff;
	background-color: #800040;
	border: none;
}
#innerfirstnav
{
	position: absolute;
	right:20px;
}






/*2nd nav*/
#secondnav
{
	background-color: #800040;
}
#secondnav div ul li a 
{
	color:#fff;
	font-size: 1.1rem;
	text-transform: capitalize;
	font-family: 'Merriweather', serif;
	margin-right:10px;
	margin-top: 2px;
}





/*slider*/
#slider
{
	/*border: 2px solid red;*/
	margin-top: 4vh;
	height: 75vh;
}

#slider::before
{
	content: "Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolors Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolorsLorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolors	";
	color:#fff;
	background-color: grey;
	opacity: .7;
	height: 20vh;
	width: 30vw;
	font-size: 1rem;
	/*border:2px solid red;*/
	position: absolute;
	right:20px;
	bottom: 0;
	z-index: 1;
}
#slider img
{
	height: 73vh;
}





/*tile 1*/
#titles1
{
	margin-top: 1vh;
	height: 70vh;
	display:flex;
	flex-direction: column;
}
.aj
{
    width:30vw;
    display: flex;
    flex-direction: row;
    height: 25vh;
    border:none;
    /*background-color: red;*/
}
.aj img
{
	width: 10vw;
	height: 25vh;
	/*background-color: red*/
}



/*tile2*/
#titles2
{
	height: 45vh;
	/*border: 2px solid red;*/
	display: flex;
}
#titles2 > div
{
	height: 40vh;
	width: 49%;
	display: flex;
	margin: 10px;
	/*border: 2px solid red;*/
}
#titles2 div a
{
	color: #800040;
}
#titles2 #tileaj
{
	height:35vh;
	width: 35vw;
	margin: 20px;
	border-radius: 50%;
}
#titles2 #tileaj img
{
width: 100%;
height: 100%;
border-radius: 50%;
}
#titles2 #tileaj2
{
	display: flex;
	flex-direction: column;
	/*border: 2px solid red;*/
	height:37vh;
	margin: 10px;
}
#quotes
{
display: flex;
flex-direction: column;
align-items: center;
/*background-color: red;*/
}
#quotes::before
{
	content: "";
	width: 8vw;
	height: 8vh;
	position: relative;
	right:30%; 
	background-image:url("img/quotes.png");
	background-size: 100% 100%;
	top:8vh;
	z-index: -1;
}

#addv
{
	height: 20vh;
	/*border: 2px solid red;*/
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #800040;
	color: #fff;
	border-radius: 20px;
}

#addv #addv1
{
	/*background-color: red;*/
	width: 70vw;
	height: 18vh;
	padding: 20px;
}
#addv #addv2
{
	width: 30vw;
	height: 18vh;
	display: flex;
	justify-content:center;
	/*background-color: red;*/
	align-items: center;
}
#addv #addv2 button
{
	background-color: #fff;
	color: purple;
	border: none;
	font-size: 1.5rem;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}


/*footer*/
#footer1
{
	height: 55vh;
	/*border: 2px solid red;*/
	display: flex;
	background-color: rgb(219, 218, 193);
}
#footer1 #footer11
{
	width: 46vw;
	height: 55vh;
	/*border: 2px solid red;*/
}
#footer1 .footer11
{
	width:45vw;
	display: flex; 
	flex-direction: row;
	height: 24vh;
	background-color: rgb(219, 218, 193);
	border: none;
	/*border: 2px solid green;*/
	margin-top: .5vh;
}
#footer1 .footer11 img
{
	width: 10vw;
	height: 23vh;
}
#footer1 #footer12
{
width: 24vw;
height: 50vh;
display: flex;
align-items: center;
flex-direction: column;
margin: 10px;
/*border: 2px solid green;*/
}
#footer1 #footer13
{
margin: 10px;
width: 24vw;
height: 50vh;
/*border: 2px solid green;*/
}
span
{
	color: #800040;
}
#middle { 	
            display: flex; 
            flex-direction: row; 
        } 
#middle:before, 
        #middle:after { 
            content: ""; 
            flex: 1 1; 
            border-bottom: 2px solid #000; 
            margin: auto; 
        } 
#lastfooter
{
	width: 100vw;
	height: 10vh;
	border: 1px solid grey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px;
}