body{
    height: 100vh;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #EAEDED;
}
.topheader{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    align-items: center;
    background-color:#131A22;
}
.logo{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.amazon-logo{
    width: 100.72px;
}
.sidecont{
    display: inline;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: .5%;
    margin-left: .1%;
    font-weight: 500;
}
.subdef{
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 163px;
    border: solid 1px #131A22;
    /* background-color: violet; */
}
.subdef:hover{
    border-color: white;
    border-radius: 2px;
}
.subdefin{
    position: absolute;
    left: 15%;
    top: 20%;
    color: #CCCCCC;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.subdefloc{
    position: absolute;
    left: 3%;
    top: 30%;
}
.subdefad
{
    color: #FFFFFF;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    position: absolute;
    left: 15%;
    top: 45%;
}
.bar{
    width: 48%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    border: solid 3px #131A22;
    border-radius: 8px;
    /* margin-left: 1%; */
    color: #0F1111;
}
.change{
    border-color: #fc9f26;
    border-width: 3px;
}
#item{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 40px;
    outline: 0;
    width: 60px;
    border-width: 0ch;
    font-weight: 500;
    color: #0F1111;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 233, 233);
}

input[type="text"]
{
    border: 0ch;
    outline: 0;
    width: 100%;
    height: 38px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
}
.box{
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50px;
    background-color: #FEBD69;
}
.box:hover{
    background-color: #fc9f26;
}
.search{
    height: 40px;
}
.nation{
    height: 50px;
    width: 65px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #131A22;
    /* margin-left: 1%; */
}
.imgnat{
    height: 30px;
}
.usi{
    position: relative;
    height: 50px;
    width: 130px;
    cursor: pointer;
    border: solid 1px #131A22;
}
.onephrase,.topi{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-bottom: 0%;
    color: white;
}
.twophrase,.downi{
    left: 5%;
    margin-top: 0%;
    position: absolute;
    top: 40%;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: white;
}
.return{
    padding-left: .4%;
    padding-right: .4%;
    position: relative;
    height: 50px;
    /* margin-left: .5%; */
    width: 70px;
    cursor: pointer;
    border: solid 1px #131A22;

}
.usi:hover,.return:hover,.cart:hover,.nation:hover,.ALLmin:hover{
    border: solid 1px white;
    border-radius: 2px;
}
.cart{
    position: relative;
    height: 50px;
    width: 80px;
    cursor: pointer;
    border: solid 1px #131A22;
}
.cartimg{
    position: absolute;
    top: 16%;
    height: 40px;
}
.values{
    font-weight: bolder;
    position: absolute;
    left: 24%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #F08804;
}
.cartit{
    position: absolute;
    font-size: 14px;
    color: white;
    font-weight: 900;
    top: 50%;
    left: 55%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dropic{
    position: absolute;
    top: 40%;
    left: 85%;
}
/* This was the section to build the header in the  top */

.minheader{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    height: 6.4%;
    background-color: #232F3E;
}
.ALLmin{
    display: flex;
    align-items: center;
    margin-left: 1%;
    height: 28px;
    cursor: pointer;
    font-size: 14px;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    width: 58px;
    border: solid 1px #232f3e;
}
.childs{
    /* display: flex; */
    /* align-items: center;
    justify-content: space-around; */
    height: 39px;
    width: 820px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
}
.sameprop{
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 4px 5px;
    margin-left: 3px;
    align-items: center;
    transform: translateY(5px);
    justify-content: center;
    height: 28px;
    border: solid 1px transparent;
    border-radius: 2px;
}
.bestseller{
    width: 86px;
}
.bestseller:hover{
    border: solid 1px white;
}
.mobiles{
    width: 60px;
}
.mobiles:hover{
    border: solid 1px white;
}
.amazonpay{
    width: 94px;
}
.amazonpay:hover{
    border: solid 1px white;
}
.fashion{
    width: 61px;
}
.fashion:hover{
    border: solid 1px white;
}
.electronics{
width: 80px;
}
.electronics:hover{
    border: solid 1px white;
}
.prime{
    width: 48px;
}
.prime:hover{
    border: solid 1px white;
}
.customerservice{
    width: 124px;
}
.customerservice:hover{
    border: solid 1px white;
}
.newreleases{
    width: 100px;
}
.newreleases:hover{
    border: solid 1px white;
}
.computer{
    width: 80px;
}
.computer:hover{
    border: solid 1px white;
}
.shirsha{
margin-left: 5%;
    border: solid 1px transparent;
    cursor: pointer;
}
.shirsha:hover{
    border-color: white;
}

/* This the mid sectiono of the page that is consisting of the body */
.imgsection{
    position: relative;
    height: 550px;
    width: 100%;
     /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
}
.screen{
    position: relative;
    /* width: 1500px; */
    cursor: pointer;
    /* background-color: gold; */
    /* height: 480px; */
    /* height: 525px; */
    /* height: 100%; */
    width: 100vw;
    display: flex;
    overflow: hidden;
}
.container1,.container2,.container3,.container4{
    position: relative;
    top: -15%;
}
.move{
    display: flex;
    /* animation-name: phir;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.93,-0.36,.08,1.19); */
}
.imgset{
    /* position: absolute; */
    /* width: 1500px; */
    /* height: 600px; */
    height: 100%;
    width: 100%;
    transition: .5s ease-in-out;
    transform-origin: top center;
}
.mukar{
    position: absolute;
    left: 92.3%;
    height: 100%;
    z-index: 100;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
.phati{
    position: absolute;
    height: 100%;
    z-index: 100;
    width: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 100;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.onegrid{
    position: relative;
    /* top: -20px; */
    /* height: 440px; */
    height: 100%;
    width: 100%;
    background-color: #EAEDED;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: 1fr 1fr; */
    
}
.container1,.container2,.container3,.container4{
    height: 430px;
    width: 320px;
    position: relative;
    background-color: #FFFFFF;
    margin: 8px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}
.uixn{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    font-weight: 800;
    padding-left: 20px;
    margin: 0%;
    padding-top: 20px;
}
.promotion{
    background-color: #FFFFFF;
    height: 150px;
    width: 100%;
}
.signin{
    width: 260px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    font-weight: 500;
    background-color: #FFD814;
}
.signin:hover{
    background-color: #f5cf11;

}
.imgin{
    margin-top: 30px;
}
.styleofseason{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 800;
}
.container3{
    display: flex;
    flex-flow: column;
}
.hmanage{
    width: 140px;
    margin: 10px;
    cursor: pointer;
}
.kurtastops{
    position: relative;
    margin-top: 5px;
    display: flex;
}
.mensbottomwear{
    position: absolute;
    font-size: 12px;
    top: 92%;
    left: 4%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.casualwear{
    position: absolute;
    font-size: 12px;
    top: 92%;
    left: 54%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mensfloop{
    position: relative;
    margin-top: 30px;
    display: flex;
}
.slipperFlops{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 92%;
    left: 4%;
}
.styleclothing{
   position: absolute;
    font-size: 12px;
    top: 92%;
    left: 54%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.viewall1{
    margin-top: 35px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #61A7B3;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}
/* .viewall1:hover{
    text-decoration: underline;
    color: #F08804;
} */
.revamp{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 800;
}
.bedhome{
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-flow: row;
}
.lightingsolutions{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 92%;
    left: 4%;
}
.homeproduct{
    position: absolute;
    font-size: 12px;
    top: 92%;
    left: 54%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.furniture{
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-flow: row;
}
.fur{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 92%;
    left: 4%;
}
.ca{
    position: absolute;
    font-size: 12px;
    top: 92%;
    left: 54%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.explore1{
    margin-top: 45px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #61A7B3;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}
/* .explore1:hover{
    text-decoration: underline;
    color: #F08804;
} */
.toppick{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 800;
}
.acref{
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-flow: row;
}
.acs{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 92%;
    left: 4%;
}
.refrigerators{
    position: absolute;
    font-size: 12px;
    top: 92%;
    left: 54%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.micwas{
    position: relative;
    margin-top: 45px;
    display: flex;
    flex-flow: row;
}
.microwaves{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 92%;
    left: 4%;
}
.washing{
    position: absolute;
    font-size: 12px;
    top: 92%;
    left: 54%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.explore2{
    margin-top: 45px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #61A7B3;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}
.explore2:hover,.seemore2:hover,.explore1:hover,.viewall1:hover,.endsale:hover,.seemore4:hover,.shopit:hover,.glowza:hover,.seemore8:hover,.seemore9:hover,.seemore11:hover,.fromamz:hover{
    text-decoration: underline;
    color: #F08804;
}
.sidevach{
    padding-left: 5px;
}
.twogrid{
    position: relative;
    top: -80px;
    height: 460px;
    background-color: #EAEDED;
    display: flex;
}
.containerA1,.containerA2,.containerA3,.containerA4{
    height: 430px;
    width: 320px;
    position: relative;
    background-color: #FFFFFF;
    margin: 8px;
}
.palaya{
    background-color: #EAEDED;
}
.woofoo{
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-flow: row;
}
.stylewomz{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 800;
}
.woclo{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 92%;
    left: 4%;
}
.foha{
    position: absolute;
    font-size: 12px;
    top: 92%;
    left: 54%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.wafa{
    position: relative;
    margin-top: 35px;
    display: flex;
    flex-flow: row;
}
.watis{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 92%;
    left: 4%;
}
.balu{
    position: absolute;
    font-size: 12px;
    top: 92%;
    left: 54%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.seemore2,.endsale,.seemore4,.shopit{
    margin-top: 45px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #61A7B3;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
}
.stylemenz{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 800;
}
.clofoo{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-flow: row;
}
.clot,.wati,.freshitem,.fashionmast,.smarttv,.gaadi,.ataflor,.ricepul,.flittick,.traintick{
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 92%;
    left: 4%;
}
.putwr,.stylecam,.mobilewow,.ele,.applia,.kipro,.ogge,.visitst,.bustick,.esprod{
    position: absolute;
    font-size: 12px;
    top: 92%;
    left: 54%;
    font-weight: 500;
    color: #0F1111;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.waba{
    position: relative;
    margin-top: 35px;
    display: flex;
    flex-flow: row;
}
.shopcat{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 800;
}
.fremo{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-flow: row;
}
.fael{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-flow: row;
}
.upgrade{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 7px;
    font-weight: 800;
}
.smap{
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
}
.fuki{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-flow: row;
}











.container{
    width: 1300px;
    background-color: rgb(255, 255, 255);
    height: 324px;
    position: relative;
    top: -50px;
    margin: 10px auto;
}
.heading
{
    margin-left: 15px;
    font-size: 21px;
    color: #444444;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.glowza{
    margin-left: 20px;
    color: #007185;
    font-size: 14px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.hodur{
    margin: 5px auto;
    width: 1220px;
    height: 280px;
    position: relative;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.hodur::-webkit-scrollbar-thumb{
    border-radius: 10px;
}
.hodur::-webkit-scrollbar{
    width: 20px;
}
.hodur::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}
.hodur::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(158, 157, 157);
}
.mng{
    margin-top: 20px;
}
.oneimg,.twoimg,.threeimg,.fourimg,.fiveimg,.siximg,.sevenimg,.eightimg,.nineimg,.tenimg{
    position:relative;
    margin: 10px;
}
.nineimg{
    width: max-content;
}
.pricing{
    color: #0F1111;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.adju{
    margin-top: 55px;
}
.redu{
    width: 270px;
    padding-top: 40px;
}
.grid4{
    height: 440px;
    width: 100%;
    position: relative;
    top: -55px;
    background-color: #EAEDED;
    display: flex;
}
.containerB1,.containerB2,.containerB3,.containerB4{
    height: 400px;
    width: 320px;
    position: relative;
    background-color: #FFFFFF;
    margin: 10px;
}
.upga,.upchi,.everyes{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 7px;
    font-weight: 800;
}
.noto{
    width: 280px;
    margin: 15px;
}
.seemore8{
    position: absolute;
    left: 5%;
    top: 90%;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #61A7B3;
    font-weight: 600;
    cursor: pointer;
}
.chipi{
    width: 280px;
    height: 280px;
    margin: 15px;
}
.seemore9{
    position: absolute;
    left: 5%;
    top: 90%;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #61A7B3;
    font-weight: 600;
    cursor: pointer;
}
.upcoo{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F1111;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 7px;
    font-weight: 800;
}
.atoil{
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
}
.rivi{
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-flow: row;
}
.seemore11{
    position: absolute;
    left: 5%;
    top: 90%;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #61A7B3;
    font-weight: 600;
    cursor: pointer;
}
.flibu{
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-flow: row;
}
.trainas{
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-flow: row;
}
.fromamz{
    position: absolute;
    left: 5%;
    top: 134%;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #61A7B3;
    font-weight: 600;
    cursor: pointer;
}
footer{
    background-color: #232F3E;
    width: 100%;
    height: 200px;
}
.language{
    margin-left: 90px;
    color: #CCCCCC;
    font-size: 13px;
    display: flex;
    align-items: center;
    cursor:pointer;
    padding: 5px 8px;
    border: solid 1px #CCCCCC;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.info{
    display: flex;
    align-items: center;
    margin-left: 40%;
    padding-top: 40px;
}
ul{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#DDDDDD;
    font-size: 12px;
    width: 1000px;
    height: 49px;
    margin: 40px auto;
}
ul li{
    list-style-type: none;
    display: inline;
    margin: 10px;
    cursor: pointer;
}
.slidercomponent{
    display: flex;
}
/* .one{
    transform: translateX(-100%);
} */
 /* .two{
    transform: translateX(-100%);
 } */
/* .three{
    transform: translateX(-200%);
}
 .four{
    transform: translateX(-300%);
} */

/* @media (max-width:1400px) {
    .onegrid{
        grid-template-columns: 1fr 1fr;
    }
} */