.footer{
    border-style: groove;
  border-top: 40px;
  border-color: white;
    height:146px;
    width:auto;
    background-color: rgba(36, 138, 254, 0.904);
   border:none;
   box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.im{ height:150px;
width: 300px;
}

.pe1{
 
    position:absolute;
    left:20%;
  
    height:50px;
    width:50px;
}
.pe2{
    position:absolute;
    left:40%;
    height:50px;
    width:50px;
}
.pe3{
    position:absolute;
    left:60%;
  
    height:50px;
    width:50px;
}
.pe4{
    position:absolute;
    left:80%;
  
    height:50px;
    width:50px;}
    @media (max-width:650px) {
        .pe1{
 
            position:absolute;
            left:15%;
          
            height:50px;
            width:50px;
        }
        .pe2{
            position:absolute;
            left:35%;
            height:50px;
            width:50px;
        }
        .pe3{
            position:absolute;
            left:60%;
          
            height:50px;
            width:50px;
        }
        .pe4{
            position:absolute;
            left:80%;
          
            height:50px;
            width:50px;}
        
    }
    @media (max-width:450px) {
        .pe1{
 
            position:absolute;
            left:3%;
          
            height:50px;
            width:50px;
        }
        .pe2{
            position:absolute;
            left:28%;
            height:50px;
            width:50px;
        }
        .pe3{
            position:absolute;
            left:58%;
          
            height:50px;
            width:50px;
        }
        .pe4{
            position:absolute;
            left:83%;
          
            height:50px;
            width:50px;}
        
    }