* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

a:hover {
    color:gray;
}

#first .carousel-inner .carousel-item img {
    width: 100%;
    height: 80vh;
}

.myfooter ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myfooter ul li {
    list-style: none;
    margin: 10px 20px;
    font-size: 2rem;
    color: #fff;
    border: 2px solid #fff;
    /*background-color: #fff;*/
    padding: 10px 10px;
    border-radius: 50%;
}

.myfooter ul li:nth-child(1) a {
    color: #3B5998;
}

.myfooter ul li:nth-child(2) a {
    color: #f40083;
}

.myfooter ul li:nth-child(3) a {
    color: #007bb5;
}

.myfooter ul li:nth-child(4) a {
    color: black;
}

.fa:hover {
    opacity: 0.9;
}

@media screen and (max-width: 892px) {
    body {
        background-color: rgb(159, 188, 235);
    }
    #first .carousel-inner .carousel-item img {
        width: 100%;
        height: 50vh;
    }
    .myfooter ul li {
        list-style: none;
        font-size: 2rem;
        color: rgb(240, 240, 240);
        border: none;
        margin: 0;
        border-radius: 50%;
    }
}

.bg-dark {
    background-color: #000305!important;
}

.navbar-dark .navbar-brand {
    color: #ead800;
    font-size: 22px;
}

.ml-auto,
.mx-auto {
    margin-left: auto!important;
    font-size: 20px;
    color: aliceblue;
}

.bg-success {
    background-color: #a69d36!important;
}

.text-white {
    color: rgb(10, 9, 9)!important;
}

.mx-auto {
    color: #000000;
}

.btn-outline-info {
    color: #000000;
    border-radius: 33px;
    border: 2px solid #04a5be;
    background-color: #ffd212;
    cursor: pointer;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 35px solid rgb(9 9 9 / 13%);
    border-radius: 7.25rem;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border: 2px solid #000000;
    border-radius: 20px;
}