//colors
$color-primary:whitesmoke;
$color-secondary:wheat;
$color-black: #000;
$color-blue-light:#2e9cca;
$color-blue-dark:#24264c;
$color-blue:#29648a;

//grid
$grid-width:114rem;
$gutter-horizontal:2rem;
$gutter-vertical:6rem;