*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color:white;
}
#navbar ul li a
{
	font-size: 1.6rem;
}
#home h1
{
	font-size: 1.8rem;
}
#services
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 120vh;
 	width: 100%;
 	margin-top: 10vh;
}
.container
{
	height: 120vh;
	width: 100%;
	margin-top: 30vh;
}
 #services .box
 {
 	border:2px solid red;
 	border-radius: 20px;
 	width: 50%;
 	height: 43vh;
 }
 #client-section
 {
 	margin-top: 60vh;
 	height: 60vh;
 }
 #client-section::before
 {
 	height: 60%;
 }

.client img
 {
 	height: 100px;
 	width: 100px;
 }