*
{
	margin:0;
	padding: 0;
}
 /*navigation bar*/
 #navbar
 {
 	width: 100%;
 	height: 20vh;
 	display: flex;
 	align-items: center;
 	position: relative;
 	top:0;
 	/*justify-content: center;*/
 }
 #navbar::before
 {
 	content: "";
 	background-color: black;
 	position: absolute;
 	top:0;
 	height: 100%;
 	width: 100%;
 	z-index: -1;
 	opacity: 0.5;
 }
#logo
{
	margin: 100px;
	padding: 10px;
	border-radius: 50%;
}
 #navbar #logo img
 {
 	width: 15vw;
 	height: 15vh;
 	border-radius: 50%;
 }

 ul
 {
 	display: flex;
 	list-style: none;
 	padding: 10px;
 	margin: 10px;
 }
 ul li
 {
 	font-size: 1.2rem;
 	padding: 20px;
 	margin: 20px;

 }
 ul li a
 {
 	text-decoration: none;
 	padding: 10px 10px;
 	border-radius: 30px; 
 	color: white;	
 }
 ul li a:hover
 {
 	text-decoration: none;
 	padding: 10px 10px;
 	border-radius: 30px; 
 	color: black;	
 }

 #home
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	color: white;
 	height: 30vh;
 	padding: 100px 100px;
 }
 #home::before
 {
 	content: "";
 	position: absolute;
 	background-image: url('img/b3.jpg');
 	background-size: 100% 100%;
 	height: 100%;
 	width: 100%;
 	z-index: -1;
 	opacity: .9;
 }
 #home p
 {
 	text-align: center;
 	font-size: 1.2rem;
 }

 .btn
 {
 	padding: 6px 20px;
 	border:2px solid white;
 	background-color: brown;
 	color: white;
 	margin:10px;
 	border-radius: 20px;
 	padding: 10px 20px;		
 	font-size: 1.2rem;
 	opacity: 0.7;
 	cursor: pointer;	
 }
.container
{
	margin-top: 150px;
	height: 80vh;
	width: 100%;
}
 #services
 {
 	display: flex;
 	height: 80vh;
 	width: 100%;
 }
 #services .box
 {
 	border:2px solid red;
 	border-radius: 20px;
 	width: 31%;
 	height: 60vh;
 	padding: 20px;
 	margin: 10px;
 }
 h1
 {
 	text-align: center;
 	padding:40px;
 	font-size: 2.1rem;
 }
 h2
 {
 	text-align: center;
 	padding:10px;
 	font-size: 1.5rem;
 }
 #services .box img
 {
 	width: 40%;
 	margin:auto;
 	display: block;
 	border-radius: 20px;
 	height: 40%	;
 }

 #client-section
 {
 	margin-top:45px; 
 	width: 100%;
 	height: 70vh;
 	/*color: white;*/
 }

 #client-section::before
 {
 	content: "";
 	position: absolute;
 	background: url("img/bulk.jpg");
 	background-size: 100% 100%;
 	width:100%;
 	height:70%;	
 	z-index: -1;
 	opacity: .7;	

 }
 .clients
 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
 .client
 {
 	padding: 20px;
 }
 .client img
 {
 	height: 200px;
 	width: 200px;
 }

 /*contact section*/
 #contact
 {
 	position: relative;
 	width: 100%;
 	height: 70vh;
 }
 #contact::before
 {
 	position: absolute;
 	content: "";
 	width: 100%;
 	height: 100%;
 	z-index: -1;
 	opacity: 0.7;
 	background:url("img/contact.jpg");
 	background-size: 100% 100%;
 }
 #box
 {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	padding: 10px;
 	font-size: 1.5rem;
 }
#box form
{
	width: 50%;
}
 #box input
 {
 	width: 100%;
 	padding: 5px;
 	border-radius: 10px;
 	font-size: 1.1rem;
 }
 .footer{
  background: url("img/footer.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: darkblue;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color: whitesmoke;
    padding:.5rem 0;
}

.footer .box-container .box a{
    font-size: 1.5rem;
    color: whitesmoke;
    padding:.5rem 0;
    display: block;
}

.footer a:hover{
    text-decoration: underline;
}
