*
{
	margin:0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
 /*navigation bar*/
 #navbar
 {
 	width: 100%;
 	height: 10vh;
 	display: flex;
 	align-items: center;
 	position: sticky;
	 z-index: 1;
 	top:0;
 }
 #navbar::before
 {
 	content: "";
 	background-color: black;
 	position: absolute;
 	top:0;
 	height: 100%;
 	width: 100%;
 	z-index: -1;
 	opacity: 0.6;
 }
#logo
{
	margin-left: 40px;
	padding: 10px;
	border-radius: 50%;
}
 #navbar #logo img
 {
	height: 54px;
    margin: 4px 0px;
    border-radius: 40px;
    border: 5px solid black;
    transition: all 0.5s ease-in-out;
 }
 #navbar #logo img:hover{
	transform: rotate(360deg);
}
 ul
 {
 	display: flex;
 	list-style: none;
 	padding: 10px;
 	margin: 10px;
 }
 ul li
 {
 	font-size: 1.2rem;
 	padding: 20px;
 	margin: 20px;

 }
 ul li a
 {
 	text-decoration: none;
 	padding: 10px 0px;
 	border-radius: 30px; 
 	color: white;
	 transition: all 0.5s ease-in-out;	
 }
 #navbar ul li a:hover
 {
	color: black;
 	background-color:white;
 	border-radius: 30px 0px 30px 0px;
 	padding: 8px 17px;		
 }

 #home
 {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	color: white;
 	height: 52vh;
 	padding: 100px 100px;
 }
 #home::before
 {
 	content: "";
 	position: absolute;
 	background-image: url('img/b3.jpg');
 	background-size: 100% 100%;
 	height: 100%;
 	width: 100%;
 	z-index: -1;
	 background-color: rgba(75, 72, 72, 0.89);
	 background-blend-mode: darken;
 	opacity: .9;
 }
 #home p
 {
 	text-align: center;
 	font-size: 1.4rem;
	 font-family:ui-monospace;
	 margin: 30px;
 }

 .btn
 {
 	
 	border:2px solid white;
 	background-color: red;
 	color: white;
 	margin:10px;
 	border-radius: 30px 0px 30px 0px;
 	padding: 10px 20px;		
 	font-size: 1.2rem;
 	cursor: pointer;	
 }
 
 .btn:hover
 {
	 background-color: green;
	 transform: scale(1.2);
	transition: all 0.5s ease-in-out;
 }
.container
{
	margin-top: 170px;
	margin-bottom: 120px;
	height: 80vh;
	width: 100%;
}
 #services
 {
 	display: flex;
	 justify-content: center;
 	height: 80vh;
 	width: 100%;
 }
 #services p{
	 font-family: ui-monospace;
	 font-weight: 500;
 }
 #services .box
 {
 	border:3px solid red;
 	border-radius: 30px;
 	width: 28%;
	 box-shadow: 6px 6px 2px rgb(236, 122, 122) ;
 	height: 60vh;
 	padding:20px;
 	margin: 16px;
	 transition: all 0.5s ease-in-out;
 }
 #services .box:hover{
	transform: translateY(-30px);
	
 }
 h1
 {
 	text-align: center;
 	padding:20px;
 	font-size: 2.8rem;
 }
 h2
 {
 	text-align: center;
 	padding:10px;
 	font-size: 1.5rem;
 }
 #services .box img
 {
 	width: 50%;
 	margin:auto;
 	display: block;
 	border-radius: 20px;
 	height: 40%	;
 }

 #client-section
 {
 	margin-top:45px; 
	margin-bottom: 120px;
 	width: 100%;
 	height: 70vh;
	display: flex;
 	justify-content: center;
 	align-items: center;
 	/*color: white;*/
 }

 #client-section::before
 {
 	content: "";
 	position: absolute;
 	background: url("img/bulk.jpg");
 	background-size: 100% 100%;
 	width:100%;
 	height:70%;	
 	z-index: -1;
 	opacity: 1;	
	 background-color: rgba(75, 72, 72, 0.637);
	 background-blend-mode: darken;

 }
 .clients
 {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }
 .client
 {
 	padding: 30px;
 }
 .client img
 {
	
 	height: 200px;
 	width: 200px;
 }

 /*contact section*/
 #contact
 {
	 display: flex;
	 justify-content: center;
	 align-items: center;
 	position: relative;
 	width: 100%;
 	height: 80vh;
 }
 #contact::before
 {
 	position: absolute;
 	content: "";
 	width: 100%;
 	height: 100%;
 	z-index: -1;
 	opacity: 1;
 	background:url("img/contact.jpg");
 	background-size: 100% 100%;
	 background-color: rgba(58, 53, 53, 0.671);
	 background-blend-mode: darken;
 }
 #box
 {
 	display: flex;
	 width: 50%;
 	align-items: center;
 	justify-content: center;
 	padding: 10px;
 	font-size: 1.5rem;
 }
#box form
{
	width: 80%;
	
}
#box form label{
	color: white;
}
 #box input
 {
 	width: 100%;
 	padding: 8px;
	 margin: 15px 0px;
	outline: none;
 	border-radius: 8px;
 	font-size: 1.1rem;
 }

 hr{
	border: 0.2px solid rgb(255, 255, 255,0.25);
	margin-bottom: 13px ;
	margin-top: 10px;
	
  }
  .footer {
	background-color: rgb(15, 150, 204);
	color: #fff;
	text-align: center;
	font-weight:bold;
	padding: 2rem 0;
  }
  
  .footer_title {
	font-size: 2rem;
	margin-bottom:5px;
  }
  
  .footer_socials {
	margin-bottom: 5px;
  }
  .footer_subject{
	  font-size: 1.2rem;
  }
  .footer_icon {
	font-size: 1.6rem;
	color: #fff;
	margin: 5px;
  }

