
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}

form .input-field{
	width: 100%;
	height: 50px;
	background: #f0f0f0;
	border-radius: 60px;
	margin: 10px 0;
	display: grid;
	grid-template-columns: 10% 90%;
	padding: 0 10px;
}
form .input-field i{
	line-height: 50px;
	color: #acacac;
	font-size: 1.2rem;
}
form .input-field input{
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
}
form .input-field input::placeholder{
	color: #aaa;
}
form .social-icon a{
	width: 50px;
	height: 50px;
	font-size: 1.6rem;
	border: 2px solid #007bff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 .40rem;
	text-decoration: none;
	border-radius: 50%;
	transition: .3s;
}
form .social-icon a:hover{
	background: #007bff;
	color: #fff;
}
