    /* We define its height ,adjust it margin and padding. We give property of flex to the body element */
    body {
        height: 100vh;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        background-color: rgb(0, 0, 0);
    }

    /* Defining the height and width */
    nav {
        position: relative;
        height: 16%;
        width: 100%;
        box-sizing: border-box;
    }

    nav ul li a {
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
        color: rgb(255, 255, 255);
        cursor: context-menu;
    }

    nav ul li {
        position: relative;
    }

    nav ul {
        display: flex;
        padding-top: 15px;
        justify-content: space-evenly;
        list-style-type: none;
        position: relative;
    }

    .first {
        position: relative;
    }

    /* This is first type of hover effect which starts from start */
    .first::after {
        position: absolute;
        content: '';
        height: 3px;
        /* top: 45px; */
        top: 105%;
        width: 0px;
        border-radius: 5px;
        left: -2px;
        background-color: whitesmoke;
    }

    .first:hover::after {
        content: '';
        width: 100%;
        transition-duration: 1s;
    }

    /* This is second type of hover effect which starts from end */

    .second {
        position: relative;
    }

    .second::after {
        position: absolute;
        content: '';
        height: 3px;
        /* top: 45px; */
        top: 105%;
        width: 0px;
        border-radius: 5px;
        /* left: 115px; */
        left: 100%;
        background-color: whitesmoke;
    }

    .second:hover::after {
        content: '';
        left: -2px;
        transition-duration: 1s;
        /* width: 115px; */
        width: 100%;
    }

    /* This is the third type of hover effect which starts from middle */
    .third {
        position: relative;
    }

    .third::after {
        position: absolute;
        content: '';
        height: 3px;
        /* top: 45px; */
        top: 105%;
        width: 0px;
        border-radius: 5px;
        /* left: 50px; */
        left: 50%;
        background-color: whitesmoke;

    }

    .third:hover::after {
        transition-duration: 1s;
        position: absolute;
        content: '';
        /* width: 106px; */
        width: 100%;
        left: 2px;

    }

    /* You can even try the above properties with before */

    .fourth {
        position: relative;
    }

    .fourth::before {
        position: absolute;
        content: '';
        height: 3px;
        top: -3px;
        width: 0px;
        border-radius: 5px;
        left: -2px;
        background-color: whitesmoke;
    }

    .fourth:hover::before {
        content: '';
        /* width: 52px; */
        width: 100%;
        transition-duration: 1s;
    }

    @media (max-width:710px) {
        nav ul li a {
            font-size: 20px;
        }

    }

    @media (max-width:484px) {
        nav ul li a {
            font-size: 17px;
        }

    }

    @media (max-width:382px) {
        nav ul li a {
            font-size: 15px;
        }

    }