@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  background: #478dc7;
  margin: 0 10px;
}

.payment {
  background: #24db80;
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}

.payment h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #0a77ca;
}

.form .label {
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input {
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btn {
  margin-top: 40px;
  background: #2196f3;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  height: 120px;
  background: #5a0c0c;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
  padding: 5px;
}

.payment-logo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 210px;
  height: 110px;
  background: #b4eb1d;
  border-radius: 50%;
  text-decoration: none;
  /* text-shadow: #021c30; */
}

.payment-logo p {
  position: relative;
  /* display: flex; */
  color: #061c64;
  font-family: "Baloo Bhaijaan", cursive;
  font-size: 90px;
  text-align: center;
  /* text-size-adjust: 50px; */
  text-justify: inherit;
  /* text-decoration: lightgreen; */
}

@media screen and (max-width: 420px) {
  .card-grp {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}