/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Baloo Bhai 2', cursive;
}
header{
    width: 100%;
    height: 100vh;
    background:url(img/bg1.jpg) no-repeat center center/cover;
}
.header_menu{
    color: white;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.list_menu{
    width: 80%;
    /* text-align: right; */
    padding-right: 4%;
}
.list_menu ul{
    list-style:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.list_menu ul li{
    text-transform: capitalize;
    letter-spacing: 1.2px;
}
/* .list_menu ul li{
    list-style:none;
} */
.list_menu ul li a{
    text-decoration: none;
    color: white;
    margin: 2px;
    padding: 8px 12px 8px 12px;
}
.list_menu ul li a:hover{
   color: black;
   background-color: white;
   border-radius: 12px;

}
.logo{
    width: 20%;
    text-align: center;
}
.logo img{
    height: 42px;
    width: 124px;
}
.main_content{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_content_button{
    display: flex;
    align-items: center;
}
.main_content h2{
    margin-bottom: 28px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 500;
    color: wheat;
}
.main_content h1{
    margin-bottom: 42px;
    font-size: 2.8rem;
    letter-spacing: 14px;
    font-weight: 500;
    color: wheat;
}
button{
   height: 34px;
   /* padding: 8px 42px; */
   background-color: transparent;
   font-size: 1rem;
   margin-right: 24px;
   border: 2px solid lightyellow;
}
button a{
    padding: 7.8px 41px;
    text-decoration: none;
    color: wheat;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
button a:hover{
    /* padding: 8px 42px; */
    background-color: chocolate;
}