@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 90%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

header .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .container1 h1.website-name {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  font-family: "Montserrat", sans-serif;
  color: maroon;
  font-size: 4.5rem;
}

header .container1 nav {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding-left: 5rem;
}

header .container1 nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header .container1 nav ul li {
  list-style-type: none;
  font-size: 1.6rem;
  text-transform: uppercase;
}

header .container1 nav ul li a {
  text-decoration: none;
  color: #0f0e0e;
  font-weight: 400;
}

header .container1 nav ul li.active a {
  color: maroon;
}

header .container1 nav ul li.cart {
  font-size: 3rem;
  margin-left: 10rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .container1 nav ul li.cart a:hover {
  color: maroon;
}

nav.product-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.product-filter h1 {
  font-size: 28px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

nav.product-filter .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav.product-filter .sort label {
  color: #666;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
  -webkit-box-flex: 1;
      -ms-flex: 1 17%;
          flex: 1 17%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.products .product-card .product-img img {
  max-width: 100%;
}

.products .product-card .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.products .product-card .product-info h5 {
  font-weight: 500;
  line-height: 2;
  font-size: 1.5rem;
}

.products .product-card .product-info h6 {
  color: #666;
  font-size: 1.4rem;
}

@media (max-width: 920px) {
  .products .product-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 21%;
            flex: 1 21%;
  }
}

@media (max-width: 810px) {
  header .container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .container1 h1.website-name {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  header .container1 nav {
    display: none;
  }
}

@media (max-width: 600px) {
  .products .product-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 46%;
            flex: 1 46%;
  }
}

@media (max-width: 480px) {
  .product-filter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-filter h1 {
    padding-top: 1.2rem;
    padding-right: 2rem;
  }
  .product-filter .sort {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .product-filter .sort label {
    line-height: 1.8em !important;
    letter-spacing: 1px;
  }
}
/*# sourceMappingURL=style.css.map */