@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&display=swap");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  width: 90%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

//===========================================//
//               HEADER                      //
//===========================================//

header .container1 {
  display: flex;
  align-items: center;
  padding: 1.8rem 0;
  flex-direction: row;
  h1.website-name {
    flex: 50%;
    font-family: "Montserrat", sans-serif;
    color: maroon;
    font-size: 4.5rem;
  }
  nav {
    flex: 50%;
    padding-left: 5rem;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
  }
  nav ul li {
    list-style-type: none;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  nav ul li a {
    text-decoration: none;
    color: rgb(15, 14, 14);
    font-weight: 400;
  }
  nav ul li.active {
    a {
      color: maroon;
    }
  }
  nav ul li.cart {
    font-size: 3rem;
    margin-left: 10rem;
    transition: all 0.3s ease;

    a {
      &:hover {
        color: maroon;
      }
    }
  }
}

//======================================
//            SORTING                  //
//======================================

nav.product-filter {
  display: flex;
  margin: 3rem 1rem;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 28px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
  }

  .sort {
    display: flex;
    flex-direction: column;

    label {
      color: #666;
      font-size: 1rem;
      font-weight: 500;
      line-height: 2em;
      text-transform: uppercase;
    }
  }
}
//==========================
//       PRODUCTS         //
//==========================

.products {
  display: flex;
  flex-wrap: wrap;

  .product-card {
    display: flex;
    flex-direction: column;

    padding: 2%;
    flex: 1 17%;

    background-color: #fff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);

    .product-img {
      img {
        max-width: 100%;
      }
    }
    .product-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      h5 {
        font-weight: 500;
        line-height: 2;
        font-size: 1.5rem;
      }
      h6 {
        color: #666;
        font-size: 1.4rem;
      }
    }
  }
}

//==================================
//             RESPONSIVE          //
//==================================
@media (max-width: 920px) {
  .products .product-card {
    flex: 1 21%;
  }
}

@media (max-width: 810px) {
  header .container1 {
    display: flex;
    justify-content: center;
    h1.website-name {
      flex: 0;
    }
    nav {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .products .product-card {
    flex: 1 46%;
  }
}
@media (max-width: 480px) {
  .product-filter {
    flex-direction: row;
    h1 {
      padding-top: 1.2rem;
      padding-right: 2rem;
    }
    .sort {
      align-items: flex-start;
      label {
        line-height: 1.8em !important;
        letter-spacing: 1px;
      }
    }
  }
}
