html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}
.navbar{
    margin-top: 0px;
}
.navbarList{
    list-style-type: none;
    text-align: center;
    background-color: #F5692E;
    margin: 0px;
}
ul li{
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
}
.navbar a{
    text-decoration: none;
}
   
/* Home/Search section */

.home h2{
    font-family: 'PT Sans', sans-serif;
}
.home{
    height: 440px;
    background-color: #1FFFE1;
    margin-top: 0px;
}
.innerBox{
    text-align: center;
}

.selection{
    text-align: center;
    display: inline-block;
    margin: 20px 40px 20px 40px;
    padding-top:30px ;
}

.selection h2{
    font-weight: 600;
    font-size: 40px;
}

.innerBox button{
    display: block;
    margin: 0px auto 0px auto;
    margin-top: 59px;
    margin-bottom: 20px;
}

.cellPhone{
    margin:10px 0px 10px 0px;
}

.cellPhone img{
    width: 90px;
    display: block;
    position: relative;
    left: 90%;
}


.home input{
    height: 50px;
    border-radius: 20px;

}
.btn {
    background: #F5692E;
    background-image: -webkit-linear-gradient(top, #F5692E, #f59670);
    background-image: -moz-linear-gradient(top, #F5692E, #f59670);
    background-image: -ms-linear-gradient(top, #F5692E, #f59670);
    background-image: -o-linear-gradient(top, #F5692E, #f59670);
    background-image: linear-gradient(to bottom, #F5692E, #f59670);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ffaa00;
    background-image: -webkit-linear-gradient(top, #ffaa00, #e02424);
    background-image: -moz-linear-gradient(top, #ffaa00, #e02424);
    background-image: -ms-linear-gradient(top, #ffaa00, #e02424);
    background-image: -o-linear-gradient(top, #ffaa00, #e02424);
    background-image: linear-gradient(to bottom, #ffaa00, #e02424);
    text-decoration: none;
  }

/* luxary section */
.luxary{
    margin-bottom: 30px;
    background-color: #1FFFE1;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    /* font-family: 'Italianno', cursive; */
}
.luxary h2{
    display: block;
    font-size: 60px;
    font-family: 'Italianno', cursive;
    margin-top: 30px;
}
.luxary h3{
    font-family: 'Italianno', cursive;
    font-size: 79px;

}
.heading{
    margin-top: 30px;
}

.Card{
    height: 500px;
    width: 356px;
    display: inline-block;
    text-align: center;
    margin: 40px;

}
.card-1{
    background-image: url(./img/header4.jpg);
    background-size: contain;
    font-family: 'Italianno', cursive;
    font-size: 40px;
    opacity: 1.0;
    transition: 0.3s;
}

.card-1:hover{
    opacity: 0.8;
   
}

.card-2{
    background-image: url(./img/img11.jpg);
    background-size: cover;
    font-family: 'Italianno', cursive;
    font-size: 40px;
    color: white;
    opacity: 1.0;
    transition: 0.3s;
}
.card-2:hover{
    opacity: 0.8;
}
.card-3{
    background-image: url(./img/img5.jpg);
    background-size: cover;
    font-family: 'Italianno', cursive;
    font-size: 40px;
    opacity: 1.0;
    transition: 0.3s;
}
.card-3:hover{
    opacity: 0.8;
}


.btn-2{
    display: block;
    text-align: center;
    margin: 40px auto 50px auto;
}
.btn-2 {
    background: #F5692E;
    background-image: -webkit-linear-gradient(top, #F5692E, #f59670);
    background-image: -moz-linear-gradient(top, #F5692E, #f59670);
    background-image: -ms-linear-gradient(top, #F5692E, #f59670);
    background-image: -o-linear-gradient(top, #F5692E, #f59670);
    background-image: linear-gradient(to bottom, #F5692E, #f59670);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 20px;

  }
  
  .btn-2:hover {
    background: #ffaa00;
    background-image: -webkit-linear-gradient(top, #ffaa00, #e02424);
    background-image: -moz-linear-gradient(top, #ffaa00, #e02424);
    background-image: -ms-linear-gradient(top, #ffaa00, #e02424);
    background-image: -o-linear-gradient(top, #ffaa00, #e02424);
    background-image: linear-gradient(to bottom, #ffaa00, #e02424);
    text-decoration: none;
  }

.discount{
    text-align: center;
    padding-top: 30px;
    background-image: url(./img/img1.jpg);
    background-size: cover;
    padding-bottom: 30px;
    /* display: flex;
    margin: 10px auto 10px auto; */
}

.dCard{
    background-color: #1FFFE1;
    display: inline-block;
    text-align: center;
    height: 430px;
    width: 356px;
    margin-right: 40px;
    opacity: 0.8;
    transition: 0.3s;
    border-radius: 15px;
}
.dCard:hover{
    opacity: 1.0;
}
.discount p{
    font-size: 50px;
    text-align: left;
    margin-left: 33px;
    margin-right: 30px;
    font-family: 'Nunito Sans', sans-serif;
    display: inline;
}










