*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 50%, #d9dbd5 100%);
}

.container{
    position: relative;
    width: 1400px;
    max-width: 100%;
    background: #fff;
    height: calc(100vh - 40px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
    display: flex;
}

.container .LeftSide{
    position: relative;
    flex: 30%;
    background: beige;
    border-right: 1px solid black;
}

.container .RightSide{
    position: relative;
    flex: 70%;
    background: #e5dde5;
}

.container .RightSide::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/pattern.png);
    opacity: 0.06;
}

.header{
    position: relative;
    width: 100%;
    height: 60px;
    background: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.nav-icons{
    display: flex;
}

.nav-icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: goldenrod;
    font-size: 1.5em;
    margin-left: 22px;
}

.search-chat{
    position: relative;
    width: 100%;
    height: 50px;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search-chat div{
    width: 100%;

}

.search-chat div input{
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.search-chat div input::placeholder{
    color: #bbb;
}

.search-chat div ion-icon{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}

.chatlist{
    position: relative;
    height: calc(100% - 110px);
    overflow-y: auto;
    background: cornflowerblue;
}

.chatlist .block{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    cursor: pointer;
}

.chatlist .block active {
    background: #ebebeb;
}

.chatlist .block:hover{
    background: coral;
}

.chatlist .block .imgbx{
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10%;

}

.chatlist .block .details{
    position: relative;
    width: 100%;
}

.chatlist .block .details .listhead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist .block .details .listhead h4{
    font-size: 1.1em;
    font-weight: 600;
    color: black;
}

.chatlist .block .details .listhead .time{
    font-size: 0.75em;
    color: peachpuff;
}

.chatlist .block .details .listhead .time{
    color: lightskyblue;
}

.chatlist .block.unread .details .listhead .time{
    color: lightgreen;
}

.message-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-p p{
    color: peachpuff;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-p b{
    background: greenyellow;
    columns: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

.imgText{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
}

.imgText h4{
    font-weight: 500;
    line-height: 1.2em;
    margin-left: 15px;
}

.imgText h4 span{
    font-size: 0.8em;
    color: gold;
}

.chatBox{
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}
.message{
    position: relative;
    display: relative;
    width: 100%;
    margin: 5px 0;
}

.message p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 12%;
    padding: 12px;
    background: #dcf8cd;
    border-radius: 10px;
    font-size: 0.9em;
}

.message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%, transparent 50%,transparent);
}

.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my-message{
    content: flex-end;
    margin-left: 90%;
}

.frnd-message{
    justify-content: flex-start;
}

.chat_input{
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: centre;
}

.chat_input ion-icon{
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
}

.chat_input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}