@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

html{
    scroll-behavior: smooth;

}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    background-color: #F9F8FF;
}
:root{
    --background_color:#f6fafa;
    --heading_color:#31343C;
    --navbar_color:white;
    --navbar_shadow:#e9e7e7;
    --navbar_hover:grey;
    --navbar_links:black;

}
.navbar{
    background-color: var(--navbar_color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 160px;
    box-shadow: 0.1px 0.1px 10px 0.1px #e9e7e7;
    
}
.landing_page{
    width: 100%;
    min-height: 115vh;
    height: auto;
    background-image: linear-gradient(to bottom, var(--background_color), #fafafd);
    overflow: hidden;
}

.navbar ul{
    overflow: auto;
}
.navbar li{
    float:right;
    list-style: none; 
    margin: 9px 30px;
    
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: var(--navbar_links);
    font-size: 17px;
}
.navbar ul li a:hover, .navbar ul li i:hover{
    color: var(--navbar_hover);
}
.logo{
    font-family: 'Metal Mania', cursive;
    letter-spacing: 3px;
    font-size: 21px;
}

.content3{
    /* border: 2px solid red; */
    height: auto;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_box{
    /* border: 2px solid red; */
    width:max-content;
    justify-content: start;
}
.catch_phrase{
    font-weight:600;
    font-size: 40px;
    color: var(--heading_color);
    letter-spacing: 1.3px;
    padding: 15px 0px;
    text-align: start;
    width: max-content;
    /* border: 2px solid red; */
}
.text1{
    font-size: 39px;
    font-weight: 600;
    padding: 20px 0px;
    color: rgb(0, 203, 152);
}
.text1::after{
    content: '';
    position: absolute;
    height: 41px;
    width: 1px;
    margin: 3px 1.5px;
    border-left: 7px solid rgb(0, 203, 152);

}
.useless{
    opacity: 0;
    margin-left: -7px;
}
.starting_lines_box{
    padding: 20px 3px;
    /* border: 2px solid red; */
    width: max-content;
}
.starting_lines{
    letter-spacing: 1px;
    color: grey;
    font-weight: 500;
}

#another_coloured_st{
    padding: 0px 3px;
    color: rgb(236, 91, 39);
}
.subtext_box{
    /* border: 2px solid red; */
    width:75%;
    padding: 20px 0px;
}

.explore_button{
    padding: 18px 60px;
    background-color: rgb(83, 103, 255);
    font-weight: bold;
    font-size:17px;
    color: white;
    border-radius: 3px;
    margin: 25px 0px;
    letter-spacing:2px;
    border: none;
    /* border:2px solid red; */
}
.content_box_outerbox{
    /* border: 2px solid red; */
    width: 100%;
    display:flex;
    justify-content:center;
}

.another_text_box{
    /* border: 2px solid red; */
    width: max-content;
}
.drone_picture{
    /* border: 2px solid red; */
    width: min-content;
}
#drone_landing_page{
    height: 450px;
    width: 400px;
    margin: auto;
}
.res_nav_icons{
    display:none;
}
.container1{
    background-color: white;
    box-shadow: 1px 1px 25px 1px #e7e7e7;
    padding: 3.5rem 0rem;
    width: 78%;
    min-height: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
    margin: auto;
    margin-top: -3rem;
}
.hire_us_heading{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #31343C;
    font-size: 1.9rem;
    letter-spacing:1px;
    font-weight: bold;
    text-align: center;
    padding: 0rem 1rem;
}
.sub_heading{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 1rem;
    text-align: center;
    color: #31343C;
    font-size: 1.1rem;
    font-weight: bold;
}
.sub_text{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(108, 117, 125);
    font-size: 1rem;
    font-weight: thin;
    width: 70%;
    letter-spacing: 0.5px;
    line-height: 19px;
    margin: auto;
}
.sub_container{
    display: flex;
    flex-wrap: wrap;
}
.sub_inner{
    flex-basis: 24%;
}
.image{
    height: 2rem;
    width: 2rem;
    /* border: 2px solid black; */
    margin: auto;
}
@media only screen and (max-width: 1500px){
    .sub_inner{
        flex-basis: 46%;
        /* border: 2px solid red; */
    }
}
@media only screen and (max-width: 879px){
    .sub_inner{
        flex-basis: 100%;
        padding: 2rem 0rem;
    }
}
@media only screen and (max-width: 530px){
    .container1{
        width: 90%;
    }
}
.container2{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #F9F8FF;
    margin-top: 3rem;
}
.image{
    width: 11rem;
    height: 11rem;

}
.services_heading_container{
    /* border: 2px solid red; */
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    /* margin-top: 8rem; */
    color: rgb(68, 68, 68);
}
.services_heading{
    padding: 6rem 0px;
}
.underline{
    /* border: 1px solid red; */
    width: 4%;
    height: 3.7px;
    background-color:rgb(83, 103, 255);
    margin: auto;
    margin-top: -5rem;
}
.services_text_outer{
    /* border: 2px solid red; */
    text-align:center;
    width: 80%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 2rem;;
    
}
.services_text{
    
    color: rgb(108, 117, 125);
    font-weight: 500;
    /* letter-spacing: 0.4px; */

}
@media only screen and (max-width: 530px){
    .services_text_outer{
        width: 95%;  
    }
    .underline{
        width: 15%;
    }
}
.services_box_container{
    margin: auto;
    width: 75%;
    max-width: 1374px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    grid-gap: 2rem;
    margin-top: 3rem;
}

.services_box{
    background-color: white;
    min-height: 22rem;
    height: auto;
    display: grid;
    place-items: center;
    padding: 1rem 1rem;
}
.services_inner_heading{
    font-family: "Poppins", sans-serif;
    color: rgb(44, 73, 100);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}
.services_content{
    font-family: "Open Sans", sans-serif;
    padding: 1rem 0rem;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 24px;
    color: rgb(68, 68, 68);
}
.services_box:hover{
    transition: all 0.3s ease;
    box-shadow: 1px 1px 25px 1px #e7e7e7;
}
@media only screen and (max-width: 461px){
    .services_box_container{
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}
@media only screen and (max-width: 365px){
    .services_box{
        width: 93%;
    }
}
.services_image{
    /* margin: auto; */
    width: 150px;
    height: 150px;
}
.services_inner{
    display: grid;
    place-items: center;
    /* border: 2px solid red; */
}

.counter_container{
    position: relative;
    width: 100%;
    min-height: 30vh;
    height: auto;
    /* background-color: rgb(83, 103, 255); */
    background-image: linear-gradient(to right, rgb(83, 103, 255), #4532f1);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
}
.counter_container::before{
    content:"";
    position:absolute;
    background-image: linear-gradient(to right, #FF7850, #E75F7A);
    bottom: 0;
    width: 100%;
    height: 1vh;
    transition: all 1s;
}
.counter_container:hover::before{
    height: 70vh;

}
.counter_inner{
    /* border: 2px solid red; */
    flex-basis: 18%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    
}
.counter{
    font-family: "Poppins", "sans-serif";
    font-size: 3rem;
    font-weight: 600;
    z-index: 4;

}
.info{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: thin;
}


.container3{
    /* border: 2px solid red; */
    background-color: #F9F8FF;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin-top: 0rem;
}

.contact_heading_container{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(68, 68, 68);
    /* border: 2px solid red; */
}
.contact_heading{
    padding-top: 1rem;
}
.underline1{
    width: 4%;
    height: 3.5px;
    background-color:rgb(83, 103, 255);
    margin: auto;
    margin-top: 1.3rem;
}
.contact_text_outer{
    text-align:center;
    width: 80%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 2rem;;
    
}
.contact_text{
    
    color: rgb(95, 93, 93);
    letter-spacing: 0.3px;
    font-weight: 500;
}

@media only screen and (max-width: 530px){
    .services_text_outer{
        width: 95%;  
    }
    .underline1{
        width: 15%;
    }
    .contact_text_outer{
        width: 95%;
    }
}
.contact_information{
    width: 75%;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    /* border: 2px solid red; */
    grid-gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.information_inner{
    display: grid;
    place-items: center;
    grid-gap: -3rem;
    height: 190px;
    background-color: white;
    box-shadow: 1px 1px 25px 1px #e7e7e7;
    flex: 1 1 0px;
}
.information_heading{
    font-size: 21px;
    font-weight: bold;
    color: rgb(44, 73, 100);
}
.contact{
    color: rgb(68, 68, 68);
}
#information_inner1{
    flex-basis: 100%;
    max-width: 650px;
}
#information_inner2{
    flex-basis: 25%;
    max-width: 400px;
}
#information_inner3{
    flex-basis: 25%;
    max-width: 400px;
}
.contact_input{
    width: 75%;
    margin: auto;
    background-color:white;
    box-shadow: 1px 1px 25px 1px #e7e7e7;
    box-sizing: border-box;
    padding: 20px 20px;
    gap: 3rem;
}
.first_input{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: auto;

}
#input_container1, #input_container2{
    flex-basis: 47.6%;
    min-width: 104px;
}
.second_input{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 1.4rem;

}
input{
    width: 95%;
    border-radius: 5px;
    padding: 10px 15px;
    height: 22px;
    font-size: 14px;
    border: 1px solid #ced4da;
    font-family: monospace;
    outline: none;
    color: grey;
}
textarea{
    width: 95%;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #ced4da;
    font-family: monospace;
    outline: none;
    color: grey;
}
#input_container3, #input_container4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    /* border: 2px solid black; */
}
textarea{
    flex-basis: 95%;
    height: 20vh;
    min-height: 22px;
}
.send_message_outer{
    /* border: 2px solid black; */
    width: 97%;
    display: grid;
    place-items: center;
    margin: auto;
    padding: 20px 0px;
}
.send_message{
    padding: 1.1rem 3.5rem;
    background-color: rgb(83, 103, 255);
    font-weight: 600;
    font-size:17px;
    color: white;
    border-radius: 3px;
    margin: 25px 0px;
    letter-spacing:2px;
    border: none;
    width: max-content;
    margin: auto;
}
.contact_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#marker, #phone, #envelope{
    font-size: 2rem;
    color: rgb(83, 103, 255);
}

@media only screen and (max-width: 1470px){
    .services_box_container{
        width: 85%;
    }
    .contact_information, .contact_input{
        width: 85%;
    }
} 

@media only screen and (max-width: 920px){
    .counter_container{
        padding: 2rem 0rem;
        height: 50vh;
    }
    .counter_inner{
        flex-basis: 37%;
    }

}

@media only screen and (max-width: 1070px){
    .contact_information, .contact_input{
        width: 75%;
    }
    .contact_information{
        flex-wrap: wrap;
    }
    #information_inner1{
        flex-basis: 100%;
        max-width: 800px;
    }
    #information_inner2{
        flex-basis: 47%;
        max-width: 400px;
    }
    #information_inner3{
        flex-basis: 47%;
        max-width: 400px;
    }
}
@media only screen and (max-width: 870px){
    .contact_information, .contact_input{
        width: 85%;
    }
}
@media only screen and (max-width: 760px){
    .first_input{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #input_container1, #input_container2{
        flex-basis: 100%;
    }
}
@media only screen and (max-width: 415px){
    #input_container1, #input_container2{
        flex-basis: 90%;
        margin-left: -20px;
    }
}
@media only screen and (max-width: 390px){
    
    .send_message_outer{
        width: 100%;
        /* border: 2px solid red; */
    }
    .send_message{
        padding: 1.1rem 3rem;
        font-weight: 500;
        font-size:13px;
        margin: 25px 0px;
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 346px){
    .services_box{
        /* border: 2px solid red; */
        width: 80%;
    }
}

@media only screen and (max-width: 746px){
    #information_inner1{
        flex-basis: 100%;
        max-width: 800px;
    }
    #information_inner2{
        flex-basis: 100%;
        max-width: 600px;
    }
    #information_inner3{
        flex-basis: 100%;
        max-width: 600px;
    }
}

@media only screen and (max-width: 1371px) and (min-width: 800px){
    .content_box_outerbox{
        flex-direction: column;
    }
    .drone_picture{
        margin: auto;
    }
    #drone_landing_page{
        height: 500px;
        width: 450px;
    }
    .content_box{
        margin: auto;
        margin-top: 30px;
        width:80%
    }
    .catch_phrase{
        margin: auto;
        width: 100%;
        text-align: center;
        /* border: 2px solid red; */
    }
    
    .subtext_box{
        width: 100%;
        display: flex;
        justify-content:center;
        margin-top: -20px;
    }
    .explore_button_box{
        margin: auto;
        display: flex;
        justify-content:center;
    }

    .starting_lines_box{
        margin: auto;
    }
    .another_text_box{
        margin: auto;
    }
}

@media only screen and (max-width: 1116px){
    .services_box_container{
        width: 82%;
    }
    .drone_landing_page{
        height: 350px;
        width: 300px;
    }
    .navbar{
        padding: 0px 70px;
    }
    #dark_mode_icons{
        display: none;
    }
    .hamburger_icon{
        height:3px;
        width: 25px;
        margin: 5px 5px;
        background-color:black;
    }
    .res_nav_icons{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .hamburger_outer, #dark_mode_icons{
        margin: 0px 15px;
    }
    .links_outer{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 6vh;
        width:96%;
        height: 35vh;
        opacity: 1;
        background-color:white;
        animation: adjustheight2 0.5s forwards ease-in 0s 1;
        transition: all 1s ease;
        
    }
    .links_another{
        animation: adjustheight 0.5s forwards ease-in 0s 1;

    }
    .burger div, .hamburger_outer div{
        transition: all 0.3s ease;
    }

    .burger #hamburger_icon1{
        transform: rotate(45deg) translate(5px, 6px)
    }
    .burger #hamburger_icon2{
        opacity: 0;
    }
    .burger #hamburger_icon3{
        transform: rotate(-45deg) translate(5px, -6px)
    }
    .links_outer li{
        /* border: 2px solid red; */
        margin-left: 27px;
        width: max-content;
        padding: 0px 0px;
        display: inline;
    }
    .navbar{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .catch_phrase{
        font-size: 35px;

    }
    #text1{
        font-size: 34px;
    }
    .explore_button{
        font-size: 14px;
    }
    .starting_lines{
        font-size: 15px;
    }
    
}
@media only screen and (max-width: 800px){

    .services_box_container{
        width: 82%;
    }

    #dark_mode_icons{
        display: none;
    }
    .content_box_outerbox{
        flex-direction: column;
    }
    .drone_picture{
        margin: auto;
    }
    #drone_landing_page{
        height: 400px;
        width: 350px;
    }
    .content_box{
        margin: auto;
        margin-top: 30px;
        width:80%;
        /* border: 2px solid red; */
    }
    .catch_phrase{
        margin: auto;
        width: 100%;
        font-size: 30px;
        text-align: center;
        /* border: 2px solid red; */
    }
    #text1{
        font-size: 30px;
    }
    
    .subtext_box{
        width: 100%;
        display: flex;
        justify-content:center;
        margin-top: -20px;
    }
    .explore_button_box{
        margin: auto;
        display: flex;
        justify-content:center;
    }

    .starting_lines_box{
        margin: auto;
    }
    .another_text_box{
        margin: auto;
    }
    .navbar{
        padding: 0px 50px;
    }

    .links_outer{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        width:93.5%;
        height: 35vh;
    }

    .text1.text1::after{
        opacity: 0;
    }
    .links_outer li{
        margin-left: 0px;
        width: max-content;
        padding: 0px 0px;
        display: inline;
    }
    .navbar{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .explore_button{
        font-size: 14px;
    }
    .starting_lines{
        font-size: 14px;
    }
    
}

@media only screen and (max-width: 472px){

    #dark_mode_icons{
        display: none;
    }
    .navbar{
        padding: 0px 30px;
    }
    #drone_landing_page{
        height: 350px;
        width: 300px;
    }
    .hamburger_outer, #dark_mode_icons{
        margin: 0px 6px;
    }
    .links_outer{
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 6.7vh;
        width:90%;
        height: 35vh;
        background-color:white;
        opacity: 1;

    }
    .links_outer li{
        margin-left: -20px;
        width: max-content;
        padding: 0px 0px;
        display: inline;
    }
    .navbar{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .catch_phrase{
        font-size: 28px;

    }
    #text1{
        font-size: 28px;
    }
    .explore_button{
        font-size: 14px;
    }
    .starting_lines{
        font-size: 13px;
    }
}
@keyframes adjustheight{
    0%{
        height: 0vh;
    }
    100%{
        height: 35vh;
    }

}
@keyframes adjustheight2{
    0%{
        height: 35vh;
    }
    100%{
        height: 0vh;
    }
}

