@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  color: #fff;
}
h1 {
    color:black;
  text-align: center;
  padding-top:2%;
  font-size: 2.5rem;
}

.logo-div{
  padding-top:6%;
  text-align:center;
}

.logo{
  width:10%;
  height:10%;
}
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  color:#54E346;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}



.above-p{
    text-align:center;
    color:black;
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
    margin-bottom:5%;
}

.news-body{
  transform:translateY(-90%);
    margin:5%;
    margin-top:20%;
    background-color:white;
    padding-bottom:5%;
    border-radius:10px;
    margin-bottom:5%;
}
.past-news{
    color:white;
    text-align:center;
    margin-bottom:5%;
    transform:translateY(-30em);
  }

  .card {
    box-shadow: 0 4px 8px 0 rgb(240, 234, 234);
    transition: 0.3s;
    width: 100%;
    height:80%;
    text-align:center;
    margin-top:15%;
  }
  
  .card-img{
    height:80%;
    width:40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 white;
  }
  
  .container {
    color:black;
    padding-bottom:7.7%;
    background-color:white;
  }
  .container h2{
    font-size:1rem;
    padding-top:5%;
   }
  .past-event{
    display:flex;
  gap:10%;
  transform:translateY(-250%);
  }
  .gif-card{
    transform:translateY(-90%);
  }
  
@media(max-width:767px) {
  html {
    font-size: 14px;
  }
  .past-event{
    display:block;
  }
  .img-card-div{
    visibility:hidden;
  }
  .gif-card{
    visibility:hidden;
  }
  .slideshow-container{
    transform:translateY(520%);
  }
  .card-dots{
    visibility:hidden;
  }
  .news-body{
    transform:translateY(-20%);
  }
  .past-news{
    transform:translateY(10%);
}
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: #DDFFBC;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #007965;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #18e4c2;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
.head-img{
    width:100%;
}