body{
	overflow-x: hidden;
	font-family: 'Overpass', sans-serif;
}

.myfont
{
	font-family: 'Dancing Script';
}

/*nav*/


.navsec
{
	height: 100vh;
	max-height: 700px;
	
}
.navsec::before
{
	content: "";
	width: 100%;
	height: 100vh;
	background:url("img/bg.jpg");	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	z-index: -1;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mynavbar a 
{
/*color: #c3ce57;*/
font-size: 1.3rem;
}

.navbar-toggler{
	font-size: inherit;
	line-height: inherit;
}

.t-name{
		-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
				animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  

section .mybtn1
{
		color: #c3ce57;
		background-color:#393d12;
		opacity: 0.6;
		margin: 20px;
		padding: 10px 40px;
		font-size: 1rem;
		outline-style: none;
		border: 1px solid #393d12;
		border-radius: 5px;
}
section .mybtn1:hover
{
		color: #cfdf43;
		background-color: #c3ce57;
		opacity: 0.6;
		margin: 20px;
}
.navsec .mydiv
{
	height: 80vh;
	color: #c3ce57;
	font-weight: bold;
}  
.sectwo
{
	height: auto;
	color: #c3ce57;
	background-image: url("img/9.jpg");
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sectwo p
{
	color: #fff;
}
.secthree
{
	/*background-color:#474c16;*/
	opacity: .9
}
/*.secthree::before
{
	content: "";
	width: 100%;
	height: 46vh;
	background:url("img/bg3.png");	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	z-index: -1;
*/
.secthree .mycard2
{
	background-color:#474c16;
	color: #fff;
	border: none;	
}
.secthree .mycard2:hover
{
	background-color:#474c16;
	color: #fff;
	border: none;
	padding:10px;	
}

.secthree .mycard2 i
{
	color: green;
	border: none;
}

.secfour
{
	background-color: black;
	opacity: .9;
}
.secfour .mycard
{
height: auto;
border: none;
/*background-color:#474c16;*/
}
.secfour .mycard:hover{
	cursor: pointer;
}

.secfour .mycard h5
{
	color: green;
}
.secfour .mycard img
{
height: 30vh;
}

.secsix
{
	background-image: url("img/7.jpg");
	width: 100vw;
	height: 30vh;	
}

.seceight
{
	background-image: url("img/9.jpg");
	width: 100vw;
	height: 100vh;	
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.secnine,.secnine input,.mycolor
{
	background-color: black;
	opacity: 0.9;
	color: #fff;
}

.secnine #mybtn2
{
	margin: 20px 20px;
	padding: 5px 80px;
	color: #fff;
	background-color: black;
	border: 2px solid #fff;
	border-radius: 10px;
}
.secnine #mybtn2:hover
{
	margin: 20px 20px;
	padding: 5px 80px;
	color:black;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	font-size: 1.2rem;
}

.secten
{
	background-image: url("img/8.jpg");
	width: 100vw;
	height: 100vh;	
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seceleven .mybtn3
{
	color: black;
	text-transform: capitalize;
    border-bottom: 3px solid green;
	text-decoration: none;
}


/*footer*/
.myfooter{
	margin-block-start: 2rem;
}

.myfooter ul
{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.myfooter ul li
{
	list-style: none;
	margin-left: 20px;
	font-size: 2rem;
	padding: 10px;
}

.myfooter ul li a i
{
	color:black;
	border-radius: 50%;
	padding: 8px;
	background-color: #fff;
}

.myfooter ul li:hover {
    opacity: 0.9;
    transform: scale(1.2);
}
/*footer end*/

.sec13 li
{
	list-style: none;
}

@media(min-width:992px){
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
	}

	.navbar{
		padding: 0.5rem 2rem;
	}

	.nav-link:hover{
		border-bottom: 1px solid #19692c;
	}
}

@media(max-width:992px){

	.navbar{
		background-color: black;
	}

	.collapsed + .navbar{
		background-color: transparent;
	}
}

@media screen and (max-width: 452px) {
 
  .myfooter ul li
{
	list-style: none;
	margin-left: 10px;
	font-size: 1rem;
	padding: 5px;
}
.myfooter ul li a i
{
	color:black;
	border-radius: 50%;
	 padding: 5px;
	 background-color: #fff;
}
}