*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.header{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}
.header img{
    width: 170px;
    float: left;
}
.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}
.header h1{
    padding-top: 260px;
    padding-bottom: 0;
    font-size: 55px;
}
.header p{
    margin: 18px 0;
}


.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    width: 90% !important;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}

.input-group-append {
    margin-left: -1px;
    display: flex;
}


.form-control{
    border: 0 !important;
    border-radius: 30px !important;
    margin:auto;
    box-shadow: none !important;  
}
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e, #1f3d90);
    border: 0!important;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none;
}
.features{
    padding: 100px 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img{
    width: 100%;

}
.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    border-radius: 50%;
    margin: 10px;
    padding: 10px; 
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    left: 20px;
    bottom: -50px;
}
.feature-img{
    position: relative;
}
.feature-img img{
    height: 300px;
}
.rating{
    padding: 3px;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}
.features .fa{
    font-size: 15px;
    color: #ff5722;
}
.feature-details{
    padding: 20px;
    text-align: justify;
}
.feature-details h4{
    font-weight: 600;
    margin-top: 20px;
}
.feature-details .fa{
    margin-right: 5px;
}
.feature-box{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom: 30px;
}
.gallery-box img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}
.gallery-box :hover{
    transform: scale(1.1);
}
.gallery-box h4{
    display: block;
    color: blueviolet;
    font-weight: 600;
    position: relative;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}
.banner{
    height: 80%;
    background-image: url(images/beach_road.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 13%;
}
.banner-highlights{
    padding: 70px 0;
    background: rgba(0,0,0,0.6);
    text-align: center;
    color: #fff;
}
.booking-btn{
    width: 120px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    margin-top: 20px;
}
.users-feedback{
    padding: 100px 0;
}
.user-review{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 70px;
}
.user-review p{
    padding: 50px 10px 10px 10px;
}

.users-feedback img{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    position: relative;
    margin: -50px 0 20px 35%;
}
.user-review p::before{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -20px;
}
.footer{
    padding: 100px 20px 15px;
    background-image: linear-gradient(#2d557d,#9610fb);
    color: #fff;
}
.footer-logo{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;

}
.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;
}
.footer hr{
    margin-top: 10px;
    background: #efefef;
}
.fa-heart{
    margin: 0 5px;
    color: #f44336;
}
.footer .copyright{
    text-align: center;
}
.footer .col-md-3 a:link{
    color: #fff;
}
.footer .col-md-3 a:visited{
    color: #fff;
}
.footer .col-md-3 a:hover{
    color: hotpink;
}
