@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #effffd;
	background-size: 100% 100%;
	position: relative;
	margin: 0;
}
.heading {
	display: block;
	text-align: center;
	font-size: 55px;
	font-weight: bold;
	margin: 30px;
	color: #ff6b6b;
}
.heading img{
	vertical-align: middle;
}
#footer {
	background: rgba(19, 19, 19, 0.4);
	padding: 30px 0;
	color: #fff;
	font-size: 14px;
	position: relative;
	text-align: center;
}

.countdown {
	display: flex;
	gap: 15px;
	padding: 10px 10px;
}

.countdown .box {
	padding: 5px;
	background-color: #fff;
	border: 1px solid;
	text-align: center;
	flex: 1 1 20px;
}

.countdown .box h3 {
	font-size: 50px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0.5rem;
}
.countdown .box span {
	color: #ff6b6b;
	font-size: 20px;
}

.announce {
	text-align: center;
	margin: 70px 0px 8px;
	font-size: 3em;
	font-weight: bold;
	color: #ff6b6b;
}

.info {
	padding: 10px;
	font-size: 1.5em;
	margin: 0px 0px 16px;
	text-align: center;
	font-family: 'Lora', serif;
}

.events {
	padding: 10px;
	font-size: 1.3em;
	text-align: center;
	font-family: 'PT Serif', serif;
}

.contact {
	padding: 10px;
	font-size: 1em;
	text-align: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
#instagram:hover *{
	fill: url(#ig);
}
#instagram:hover{
	color: #fd5949;
	background-color: transparent;
}
#facebook:hover svg *{
	fill: url(#fb);
}
#facebook:hover{
	color: #285AEB;
	background-color: transparent;
}
.btn{
	text-decoration: none;
	background-color: #ffffff;
	margin: 2px;
	border-radius: 5px;
	background-color: #dc3545;
	color: white;
	padding: 6px 12px;
	vertical-align:middle;
	line-height: 1.5;
}
.btn:hover{
	box-shadow: 1px 1px 5px black;
}
.col{
	padding: 0 6px;
}
@media(min-width:991px){
	.row{
	  display: flex;
	}
	.col{
	  flex: 0 0 auto;
	  width: calc(50% - 12px);
	}
  }
@media (max-width:601px) {
	.heading {
		font-size: 10vw;
		font-weight: bold;
		margin: 5vw;
	}
	.heading img{
		width: 20vw;
	}
	.announce {
		margin: 2.5vw;
		font-size: 7.5vw;
	}
	.info {
		padding: 1vw;
		font-size: 5vw;
	}
	.events {
		padding: 1vw;
		font-size: 4vw;
	}
	.countdown {
		display: flex;
		gap: 1vw;
		padding: 0px;
	}
	.countdown .box h3 {
		font-size: 7.5vw;
		font-weight: 0;
		margin-top: 0px;
	}
	.countdown .box span {
		font-size: 4vw;
	}
	.btn{
		font-size: 3vw;
		padding: 1vw;
	}
	.col{
		padding: 1vw;
	}
	#footer{
		font-size: 5vw;
		padding: 2vw;
	}
}