*{
    margin:0;
    padding:0;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 100%;
    overflow-x: hidden;
}
:root{
    --navbar-height:100px;
}
#logo{
    margin: 8px 6px;
    left:0px;  
    
}
.media li{
    padding: 12px;
    display: inline;
}
body li{
    font-size: 3rem;
}
nav ul {
    display: flex;
}
nav li { 
    margin-right: 10px;
    margin-top: 0;
    padding: 5px 5px 5px 5px;
}
nav img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.section1{
    margin: 0 0 0 0;
    top:50px;
    background:url('img/bg.jpg') no-repeat center center/cover;
    padding-bottom: 300px;
}
#home{
    display:flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 650px;
   
}
#home::before{
    content: " ";
    position:absolute;
    height: 90%;
    width:100%;
    z-index: -1;
    top:135px;
    left:0px;

}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top:250px;
}
#home ul{
    display:flex;
    position: relative;
    top:240px;
}
#home ul li{
    list-style: none;
    font-size: 1.8rem;
}
#home ul li a{
    color: white;
    display:block;
    padding:4px 9px;
    border-radius: 20px;
    text-decoration: none;
}
#home ul li a:hover{
    color: orangered;
    background-color: white;
}
.btn{
     padding: 8px 7px;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer; 
    position: relative;
    top:250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: orange;    
}
.btn:hover{
    background-color: red;
    opacity:1.2;
    color: yellow;
}
.section2{
    margin: 10px 20px 10px 20px;
    height: 950px;
    background-color: #dcdcdc;
    font-size: 10rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
#client-section::before{
    position: relative;
    width: 100%;
    height: 100%;
}
   
#clients{    
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    margin-top: 200px;
    opacity: 0.9; 
    top: 130px;
}
   
   .client-item{
       padding: 44px;
   }
   
   #clients img{
       height: 200px;
       padding-top: 10px;
       margin-top: 350px;
   }
   #client-section h1{
       position: relative;
       top: 100px;
       color:rgb(44, 7, 7);
       font-family: 'Ubuntu', sans-serif;
       font-size: 8.8rem;
   }
   #clients ul li{
    list-style-type: none;
    display: table-cell;
    padding-left: 200px;
    padding-right: 150px;
    vertical-align: middle;
  }
   footer{
    background: #A9A9A9;
    color: white;
    padding: 9px 20px;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top:140px;
}
footer img{
    height: 30px;
    width: 30px;
    overflow: hidden;
}
ul {
    list-style-type: none;
}
.h-primary{
    font-size: 10rem;
    font-family: 'Pattaya', sans-serif;
    
}
.center{
    text-align: center;
}
