@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 12px solid #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("./img/nature.jpg") no-repeat;
  background-size: cover;
  background-position: center left;
  overflow: hidden;
  z-index: 1;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 2;
}
header .logo {
  position: relative;
  color: #00bfff;
  font-size: 38px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .nav a {
  color: #0c4f60;
  background: transparent;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  font-size: 17px;
}
header .nav a:not(:last-child) {
  margin-right: 30px;
  transition: letter-spacing 200ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
  cursor: pointer;
}

header .nav a:hover {
  letter-spacing: 0.2em;
}

.content {
  max-width: 650px;
  margin: 25px 50px 75px 375px;
}

.content .h2 {
  max-width: 500px;
  font-size: 65px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 80px;
  color: transparent;
  -webkit-text-fill-color: #fff;
  position: relative;
  background-color: #1da1f2;
  padding: 5px;
}
.text {
  position: relative;
  font-size: 150px;
  text-transform: capitalize;
  color: transparent;
  -webkit-text-stroke: 3px #00bfff;
}
.text::before {
  content: attr(data-fill-text);
  position: absolute;
  width: 0;
  height: 100%;
  color: white;
  -webkit-text-stroke: 3px white;
  overflow: hidden;
  text-shadow: 2px 2px 5px #00ced1;
  transition: width 1s cubic-bezier(0.1, 0.7, 1, 0.1);
}

.text:hover::before {
  width: 100%;
}

.content .info p {
  max-width: 500px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
  background: rgb(224, 255, 255, 0.1);
}

.content .info-btn {
  color: #fff;
  background: #226a80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: all;
}
.content .info-btn:hover {
  background: #0c4f60;
}

.social-menu ul {
  position: absolute;
  right: 140px;
  width: 200px;
  height: 230px;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fa {
  color: #000000;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.social-menu ul li .fa:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
  transform: translate(0, 0px);
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
  transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: grey;
}

.cloud {
  position: absolute;
  opacity: 65%;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background: url(./img/cloud.png);
  animation: animate 90s linear infinite;
  bottom: 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
@keyframes animate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 5440px;
  }
}

.h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid white; /* The typwriter cursor */
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

label {
  display: none;
}
#check {
  z-index: 3;
  display: none;
}

/* responsive styles */

@media (max-width: 960px) {
  header .nav {
    display: none;
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }
  label:hover {
    color: #fff;
  }
  label .close-btn {
    display: none;
  }
  #check:checked ~ header .nav {
    z-index: 2;
    position: fixed;
    background: rgba(114, 223, 255, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #check:checked ~ header .nav a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
  }
  #check:checked ~ header .nav a:hover {
    color: #fff;
  }

  #check:checked ~ header label .menu-btn {
    display: none;
  }
  #check:checked ~ header label .close-btn {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn {
    position: absolute;
  }
  header .logo {
    position: absolute;
    bottom: -6px;
  }

  .content .info h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span {
    font-size: 40px;
    font-weight: 600;
  }
  .content .info p {
    font-size: 14px;
  }
}

@media screen and (max-width: 560px) {
  .section {
    align-items: center;
    padding-left: 0%;
  }

  .content .info h2 {
    font-size: 35px;
    line-height: 40px;
  }

  .content .info .h2 h2 span {
    font-size: 30px;
    font-weight: 600;
  }
  .content .info p {
    font-size: 14px;
  }
}

.footer-basic {
  position: fixed;
  padding: 0px 5px 0px 5px;
  bottom: 0;
  width: 100%;

  height: 16px;
  background: white;
}

.footer-basic .copyright {
  text-align: center;
  font-size: 10px;
  color: black;
}
