 
  <div class="wrapper">
    <div class="page-header">
      <div class="page-header-image"></div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
              <div class="squares square1"></div>
              <div class="squares square2"></div>
              <div class="squares square3"></div>
              <div class="squares square4"></div>
              <div class="square square-7" id="square7"></div>
              <div class="square square-8" id="square8"></div>
              
                <div class="squares square1"></div>
                <div class="squares square2"></div>
                <div class="squares square3"></div>
                <div class="squares square4"></div> 
                <!-- <div class="squares square5"></div> -->
                <div class="squares square6"></div>
                <div class="squares square7"></div>
              <div class="card card-register">
                <div class="card-header">
                  <img
                    alt="Card image"
                    class="card-img"
                    src="assets/img/square1-red.png"
                  />
  
                  <h4 class="card-title">register</h4>
                </div>
                <div class="card-body">
                  <form class="form">
                    <div
                      class="input-group"
                      [ngClass]="{ 'input-group-focus': focus === true }"
                    >
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-single-02"> </i>
                        </div>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Full Name"
                        type="text"
                        (focus)="focus = true"
                        (blur)="focus = false"
                      />
                    </div>
                    <div
                      class="input-group"
                      [ngClass]="{ 'input-group-focus': focus === true }"
                    >
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-phone-03"> </i>
                        </div>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Contact"
                        type="tel"
                        (focus)="focus = true"
                        (blur)="focus = false"
                      />
                    </div>
                    <div
                      class="input-group"
                      [ngClass]="{ 'input-group-focus': focus1 === true }"
                    >
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-email-85"> </i>
                        </div>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Email"
                        type="text"
                        (focus)="focus1 = true"
                        (blur)="focus1 = false"
                      />
                    </div>
                    <div
                      class="input-group"
                      [ngClass]="{ 'input-group-focus': focus2 === true }"
                    >
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="tim-icons icon-lock-circle"> </i>
                        </div>
                      </div>
                      <input
                        class="form-control"
                        placeholder="Password"
                        type="text"
                        (focus)="focus2 = true"
                        (blur)="focus2 = false"
                      />
                    </div>
                    <div class="form-check text-left">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" />
  
                        <span class="form-check-sign"> </span> I agree to the
                        <a href="javascript:void(0)"> terms and conditions </a> .
                      </label>
                    </div>
                  </form>
                </div>
                <div class="card-footer">
                  <a
                    class="btn btn-danger btn-round btn-lg"
                    href="javascript:void(0)"
                  >
                    Get Started
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="register-bg"></div>
          <div class="square square-1" id="square1"></div>
          <div class="square square-2" id="square2"></div>
          <div class="square square-3" id="square3"></div>
          <div class="square square-4" id="square4"></div>
          <div class="square square-5" id="square5"></div>
          <div class="square square-6" id="square6"></div>
        </div>
      </div>
    </div>