*{
    font-family: 'Noto Sans', sans-serif;
    margin-top: 15px;
    text-align: center;
   
}
p{
    color: rgb(129, 129, 129);
}
hr{
    
    width: 8%;
    position: relative;
    top: 50px;
    left: 608px;
    transform: rotate(90deg);
   
}
/*--------------- TOP SECTION ---------------*/
.top{
    margin: 10px 0;
    padding: 50px 0 80px;
    overflow: hidden;
}
.top img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
}
.top-text{
    text-align: center;
}
.lift{
    position: relative;
    top: 50px;
}

.shift-right{
    position: relative;
    left: 80px;
}

.text{
    color: rgb(59, 58, 58);
    
}
.number{
    background-color: #fff;
    position: relative;
    top: 84px;
    right: 2px;
    padding: 5px 8px;
    border: 2px solid rgb(197, 190, 190); 
    display: inline-block; 
    border-radius: 50%;
    z-index: 1;
}
/*--------------- MIDDLE SECTION ---------------*/
.middle{
    margin: 5px 0 ;
    padding: 30px;
    z-index: -1;
}
.middle img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    margin: 20px;
    padding: 10px;

}
.middle-text{
    margin: 50px 100px;
    padding: 20px 100px;

}
/*--------------- BOTTOM SECTION ---------------*/

.bottom{
    overflow: hidden;
    padding: 30px 0 50px;
    background-image: url(img/bottom.jpg);
    height: 230px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom-text{
    padding: 100px 20px;
    margin: 0 20px;
    position: relative;
    bottom: 30px;
    background-color: rgb(61, 118, 224);
    opacity: 0.6;
}
.details{
    color: #fff;
    text-shadow: 2px 2px #000;
}   