*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;}

html,
body{
  width:100%;
  overflow-x:hidden;  /*to remove white spaces from the right*/
}


.logo #agent{
    width: 130px;
    padding: 5px;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: #333;
}

nav{
    text-align: right;
    width: 100%;
}

nav ul{
    float:right;
    margin-right: 20px;
    /* list-style-type: none; */
    padding-bottom: 75px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    /* margin: 0 5px; */
}

nav ul li a{
    font-size: 16px;
    color: rgb(204, 177, 229);
    padding: 7px 12px;
    border-radius: 4px;
}
 a.active, a:hover{
     background: rgba(110, 109, 109, 0.79);
     color: #fff;
     transition: .5s;
 }

.checkbtn{
font-size: 35px;
color: #fff;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
 }

#check{
    display: none;
} 

p{
    color:blueviolet;
}

.container{
    width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    height: auto;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    background-color: crimson;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.header{
     background:radialgradient(#fff,#ffd6d6)
}

.toggle-button {
  position: absolute;
  top: 3rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

/*Media query for toggle-menu*/
@media only screen and (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }
 .categories{
    margin: 70px 0;
    background-color: #4D77FF;
}
.categories img{
    margin-top: 40px;
}

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  .col-2 {
    overflow-x: hidden;
  }
}

p {
  color: blueviolet;
}

.container {
  width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  background-color: crimson;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.header {
  background: radialgradient(#fff, #ffd6d6);
}

body {
  font-family: "Mochiy Pop P One", sans-serif;
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 100%;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
}
.title::after {
  content: "";
  background: crimson;
  width: 50px;
  height: 8px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: black;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}
.col-4:hover {
  transform: translateY(-5px);
}

/* offer */
.offer {
  background: radial-gradient(#fff);
  margin-top: 80px;
  padding: 30px;
}

.col-2 .offer_img {
  padding: 50px;
}

/* testimonials */
.testimonial {
  padding-top: 100px;
}
.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.testimonial:hover {
  transform: translateY(-10px);
}
.fas.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}
.fas.fa-star {
  color: #ff523b;
}
.far.fa-star {
  color: #ff523b;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: grey;
}
.col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
.brands {
  margin: 100px auto;
}
.col-5 {
  width: 160px;
}
.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover {
  filter: grayscale(0);
}
/* footer */
.footer {
  background-color: black;
  color: #ffd6d6;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: #ffd6d6;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.logo1 {
  margin-top: 20px;
}
.logo1 img {
  width: 140px;
}
.footer hr {
  border: none;
  background-color: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.Copyright {
  text-align: center;
}
.Copyright p {
  color: grey;
}

/* media query for less than 600 screen size*/
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .mainimg {
    display: none;
  }

  .maintext {
    flex-direction: column;
    float: left;
    width: 25%;
    height: 30%;
    text-align: center;
  }

  .footer {
    display: flex;
  }
  .emailform {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  .email {
    font-size: 15px;
    display: flex;
  }

  .contactinfo {
    margin: 0;
    padding: 0;
    float: left;
    flex-wrap: wrap;
    width: 80%;
    font-size: 15px;
  }
  .box {
    flex-wrap: wrap;
    width: 100%;
    float: left;
  }

  .account {
    display: flex;
    width: 85%;
    margin-left: 30px;
  }
}

.bag-icon{
    padding-top: 20px;
}
/* media query for menu */
@media only screen and (max-width:800px) {
   
    .navbar .logo img{
    display: none;
    }

    nav ul {
        position: fixed;
        background: #333 ; 
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition:all .5s;
    }
    .navbar ul img{
        display: none;
    }
    nav ul li{
        background: #333;
        display: block;
        padding: 50px 0;
        line-height:20px ;
    }

    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background:none;
        color: #fff; 
    }

     .checkbtn{   /*to display menu icon in mobile view */
        display: block;
        cursor: pointer;
        color: #fff;
    }  
    
    #check:checked ~ ul{
        left: 0;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .col-2 img{
        max-width: 100%;
        height: auto;
        display: block;
        object-fit: contain;

    } 
    .col-2 h1{
        font-size: 6.9vw;
        line-height: 110%;
        }
    .col-2 p{
        font-size:3vw;
    }
    .col-2 small{
        font-size: 2.5vw;
    }
    .col-5 img{
        padding-bottom: 15px;
    }
    
}

/* media query for less than 1200 screen size, specifically footer*/
@media only screen and (max-width:1200px) {
    .footer .row{
        display: block;
         } 
         .footer .row img{
             max-width: 100%;
             display: block;
             height: auto;

         }
         .footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4{
             text-align: left;
             font-size: 2vw;
             padding-left: 20px;
         }
    .Copyright{
        text-align: left;
        font-size: 1.5vw;
        padding-left:20px;
    }     
}
