name: Auto message on pr merge

on:
  pull_request_target:
    types: [closed]

jobs:
  auto-response:
    runs-on: ubuntu-latest

    steps:
    - uses: derekprior/add-autoresponse@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        respondableId: ${{ github.event.pull_request.node_id }}
        response: "Thank you @${{ github.event.pull_request.user.login }} for taking out your valuable time in order to contribute to our project.Do fill the form : https://forms.gle/ZGBdig8e3z3vSqNy9 . Looking forward for more such amazing contributions :)"
        author: ${{ github.event.pull_request.user.login }}
        exemptedAuthors: "arpit456jain"
